n8n-workflows/charlie-task-handler.json
{
  "updatedAt": "2026-04-08T20:08:09.794Z",
  "createdAt": "2026-04-08T20:08:09.794Z",
  "id": "dHoqL8Ph8kmFHwyx",
  "name": "Charlie - Task Handler",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "charlie-tasks",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "charlie-tasks"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst url = require('url');\n\nfunction httpReq(method, fullUrl, data) {\n  return new Promise((resolve, reject) => {\n    const parsed = url.parse(fullUrl);\n    const opts = {\n      hostname: parsed.hostname,\n      port: parsed.port || 443,\n      path: parsed.path,\n      method,\n      headers: { 'Content-Type': 'application/json' }\n    };\n    if (data && data.headers) {\n      Object.assign(opts.headers, data.headers);\n    }\n    const req = https.request(opts, (res) => {\n      let body = '';\n      res.on('data', (chunk) => body += chunk);\n      res.on('end', () => {\n        try { resolve(JSON.parse(body)); } catch(e) { resolve(body); }\n      });\n    });\n    req.on('error', reject);\n    if (data && data.body) req.write(typeof data.body === 'string' ? data.body : JSON.stringify(data.body));\n    req.end();\n  });\n}\n\nconst body = $input.first().json.body;\nconst text = (body.message?.text || body.text || '').trim();\nconst chat_id = body.message?.chat?.id || body.chat_id;\n\nconst SUPABASE_URL = 'https://fdabygmromuqtysitodp.supabase.co';\nconst SUPABASE_ANON_KEY = $env.SUPABASE_ANON_KEY;\nconst TELEGRAM_BOT_TOKEN = $env.TELEGRAM_BOT_TOKEN;\n\nconst supaHeaders = {\n  'Authorization': `Bearer ${SUPABASE_ANON_KEY}`,\n  'apikey': SUPABASE_ANON_KEY,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=representation'\n};\n\nasync function supaGet(path) {\n  return httpReq('GET', `${SUPABASE_URL}/rest/v1/${path}`, { headers: supaHeaders });\n}\n\nasync function supaPost(path, postData) {\n  return httpReq('POST', `${SUPABASE_URL}/rest/v1/${path}`, { headers: supaHeaders, body: postData });\n}\n\nasync function supaPatch(path, patchData) {\n  return httpReq('PATCH', `${SUPABASE_URL}/rest/v1/${path}`, { headers: supaHeaders, body: patchData });\n}\n\nasync function sendTelegram(chatId, msg) {\n  return httpReq('POST', `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage`, {\n    body: { chat_id: chatId, text: msg, parse_mode: 'Markdown' }\n  });\n}\n\nlet reply = 'Unknown command. Use /task, /tasks, /done, or /run.';\n\ntry {\n  if (text.startsWith('/task ')) {\n    const title = text.slice(6).trim();\n    if (!title) {\n      reply = 'Usage: /task <title>';\n    } else {\n      const rows = await supaPost('charlie_tasks', { title, type: 'task', status: 'pending' });\n      const task = Array.isArray(rows) ? rows[0] : rows;\n      reply = `Task created: *${task.title}*\\nID: \\`${task.id}\\``;\n    }\n\n  } else if (text === '/tasks') {\n    const rows = await supaGet('charlie_tasks?status=in.(pending,in_progress,queued)&order=created_at.asc');\n    if (!rows || !rows.length) {\n      reply = 'No pending or in-progress tasks.';\n    } else {\n      reply = rows.map((t) => {\n        const icon = t.status === 'in_progress' ? '\ud83d\udd04' : t.status === 'queued' ? '\ud83d\ude80' : '\u2b1c';\n        return `${icon} *${t.title}*\\n   \\`${t.id.slice(0,8)}\\` \u2014 ${t.status}`;\n      }).join('\\n\\n');\n    }\n\n  } else if (text.startsWith('/done ')) {\n    const search = text.slice(6).trim();\n    if (!search) {\n      reply = 'Usage: /done <id_prefix or title>';\n    } else {\n      let rows = await supaGet(`charlie_tasks?id=eq.${search}&status=neq.complete`);\n      if (!rows || !rows.length) {\n        const allTasks = await supaGet('charlie_tasks?status=neq.complete&order=created_at.desc');\n        rows = (allTasks || []).filter(t => t.id.startsWith(search));\n      }\n      if (!rows.length) {\n        rows = await supaGet(`charlie_tasks?title=ilike.*${encodeURIComponent(search)}*&status=neq.complete`);\n      }\n      if (!rows || !rows.length) {\n        reply = `No matching task found for: ${search}`;\n      } else if (rows.length > 1) {\n        reply = `Multiple matches (${rows.length}). Be more specific:\\n` + rows.map(t => `\u2022 \\`${t.id.slice(0,8)}\\` ${t.title}`).join('\\n');\n      } else {\n        const task = rows[0];\n        await supaPatch(`charlie_tasks?id=eq.${task.id}`, { status: 'complete', completed_at: new Date().toISOString() });\n        reply = `Task completed: *${task.title}*`;\n      }\n    }\n\n  } else if (text.startsWith('/run ')) {\n    const search = text.slice(5).trim();\n    if (!search) {\n      reply = 'Usage: /run <id_prefix or title>';\n    } else {\n      let rows = await supaGet(`charlie_tasks?id=eq.${search}&status=neq.complete`);\n      if (!rows || !rows.length) {\n        const allTasks = await supaGet('charlie_tasks?status=neq.complete&order=created_at.desc');\n        rows = (allTasks || []).filter(t => t.id.startsWith(search));\n      }\n      if (!rows.length) {\n        rows = await supaGet(`charlie_tasks?title=ilike.*${encodeURIComponent(search)}*&status=neq.complete`);\n      }\n      if (!rows || !rows.length) {\n        reply = `No matching task found for: ${search}`;\n      } else if (rows.length > 1) {\n        reply = `Multiple matches (${rows.length}). Be more specific:\\n` + rows.map(t => `\u2022 \\`${t.id.slice(0,8)}\\` ${t.title}`).join('\\n');\n      } else {\n        const task = rows[0];\n        await supaPatch(`charlie_tasks?id=eq.${task.id}`, { status: 'queued' });\n        reply = `Task queued for execution: *${task.title}*`;\n      }\n    }\n\n  } else {\n    reply = 'Commands:\\n/task <title> \u2014 create task\\n/tasks \u2014 list pending\\n/done <id or title> \u2014 complete\\n/run <id or title> \u2014 queue for execution';\n  }\n} catch (err) {\n  reply = `Error: ${err.message}`;\n}\n\nif (chat_id) {\n  await sendTelegram(chat_id, reply);\n}\n\nreturn [{ json: { reply, chat_id } }];"
      },
      "id": "code-node",
      "name": "Handle Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, reply: $json.reply } }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Handle Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Command": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true,
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": null,
  "versionId": "5e95569e-d22b-4519-a8d9-32bf52c0c794",
  "activeVersionId": "5e95569e-d22b-4519-a8d9-32bf52c0c794",
  "versionCounter": 6,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-08T20:08:09.794Z",
      "createdAt": "2026-04-08T20:08:09.794Z",
      "role": "workflow:owner",
      "workflowId": "dHoqL8Ph8kmFHwyx",
      "projectId": "KwpTDWcFWL3DfyW3",
      "project": {
        "updatedAt": "2026-04-08T10:02:58.912Z",
        "createdAt": "2025-06-06T11:27:14.830Z",
        "id": "KwpTDWcFWL3DfyW3",
        "name": "Tyson Venables <tysonvenables@protonmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b1512bca-25b8-4b8b-add0-b86540e5144d",
        "projectRelations": [
          {
            "updatedAt": "2025-06-06T11:27:14.830Z",
            "createdAt": "2025-06-06T11:27:14.830Z",
            "userId": "b1512bca-25b8-4b8b-add0-b86540e5144d",
            "projectId": "KwpTDWcFWL3DfyW3",
            "user": {
              "updatedAt": "2026-04-08T20:18:59.996Z",
              "createdAt": "2025-06-06T11:27:13.858Z",
              "id": "b1512bca-25b8-4b8b-add0-b86540e5144d",
              "email": "tysonvenables@protonmail.com",
              "firstName": "Tyson",
              "lastName": "Venables",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-06T11:42:52.454Z",
                "personalization_survey_n8n_version": "1.95.3",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "WVXrFCjb8wO7RWRX",
                "userActivatedAt": 1751062185356,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769430963515
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-08",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-08T20:08:09.794Z",
    "createdAt": "2026-04-08T20:08:09.794Z",
    "versionId": "5e95569e-d22b-4519-a8d9-32bf52c0c794",
    "workflowId": "dHoqL8Ph8kmFHwyx",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "charlie-tasks",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-node",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          260,
          300
        ],
        "webhookId": "charlie-tasks"
      },
      {
        "parameters": {
          "jsCode": "const https = require('https');\nconst url = require('url');\n\nfunction httpReq(method, fullUrl, data) {\n  return new Promise((resolve, reject) => {\n    const parsed = url.parse(fullUrl);\n    const opts = {\n      hostname: parsed.hostname,\n      port: parsed.port || 443,\n      path: parsed.path,\n      method,\n      headers: { 'Content-Type': 'application/json' }\n    };\n    if (data && data.headers) {\n      Object.assign(opts.headers, data.headers);\n    }\n    const req = https.request(opts, (res) => {\n      let body = '';\n      res.on('data', (chunk) => body += chunk);\n      res.on('end', () => {\n        try { resolve(JSON.parse(body)); } catch(e) { resolve(body); }\n      });\n    });\n    req.on('error', reject);\n    if (data && data.body) req.write(typeof data.body === 'string' ? data.body : JSON.stringify(data.body));\n    req.end();\n  });\n}\n\nconst body = $input.first().json.body;\nconst text = (body.message?.text || body.text || '').trim();\nconst chat_id = body.message?.chat?.id || body.chat_id;\n\nconst SUPABASE_URL = 'https://fdabygmromuqtysitodp.supabase.co';\nconst SUPABASE_ANON_KEY = $env.SUPABASE_ANON_KEY;\nconst TELEGRAM_BOT_TOKEN = $env.TELEGRAM_BOT_TOKEN;\n\nconst supaHeaders = {\n  'Authorization': `Bearer ${SUPABASE_ANON_KEY}`,\n  'apikey': SUPABASE_ANON_KEY,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=representation'\n};\n\nasync function supaGet(path) {\n  return httpReq('GET', `${SUPABASE_URL}/rest/v1/${path}`, { headers: supaHeaders });\n}\n\nasync function supaPost(path, postData) {\n  return httpReq('POST', `${SUPABASE_URL}/rest/v1/${path}`, { headers: supaHeaders, body: postData });\n}\n\nasync function supaPatch(path, patchData) {\n  return httpReq('PATCH', `${SUPABASE_URL}/rest/v1/${path}`, { headers: supaHeaders, body: patchData });\n}\n\nasync function sendTelegram(chatId, msg) {\n  return httpReq('POST', `https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage`, {\n    body: { chat_id: chatId, text: msg, parse_mode: 'Markdown' }\n  });\n}\n\nlet reply = 'Unknown command. Use /task, /tasks, /done, or /run.';\n\ntry {\n  if (text.startsWith('/task ')) {\n    const title = text.slice(6).trim();\n    if (!title) {\n      reply = 'Usage: /task <title>';\n    } else {\n      const rows = await supaPost('charlie_tasks', { title, type: 'task', status: 'pending' });\n      const task = Array.isArray(rows) ? rows[0] : rows;\n      reply = `Task created: *${task.title}*\\nID: \\`${task.id}\\``;\n    }\n\n  } else if (text === '/tasks') {\n    const rows = await supaGet('charlie_tasks?status=in.(pending,in_progress,queued)&order=created_at.asc');\n    if (!rows || !rows.length) {\n      reply = 'No pending or in-progress tasks.';\n    } else {\n      reply = rows.map((t) => {\n        const icon = t.status === 'in_progress' ? '\ud83d\udd04' : t.status === 'queued' ? '\ud83d\ude80' : '\u2b1c';\n        return `${icon} *${t.title}*\\n   \\`${t.id.slice(0,8)}\\` \u2014 ${t.status}`;\n      }).join('\\n\\n');\n    }\n\n  } else if (text.startsWith('/done ')) {\n    const search = text.slice(6).trim();\n    if (!search) {\n      reply = 'Usage: /done <id_prefix or title>';\n    } else {\n      let rows = await supaGet(`charlie_tasks?id=eq.${search}&status=neq.complete`);\n      if (!rows || !rows.length) {\n        const allTasks = await supaGet('charlie_tasks?status=neq.complete&order=created_at.desc');\n        rows = (allTasks || []).filter(t => t.id.startsWith(search));\n      }\n      if (!rows.length) {\n        rows = await supaGet(`charlie_tasks?title=ilike.*${encodeURIComponent(search)}*&status=neq.complete`);\n      }\n      if (!rows || !rows.length) {\n        reply = `No matching task found for: ${search}`;\n      } else if (rows.length > 1) {\n        reply = `Multiple matches (${rows.length}). Be more specific:\\n` + rows.map(t => `\u2022 \\`${t.id.slice(0,8)}\\` ${t.title}`).join('\\n');\n      } else {\n        const task = rows[0];\n        await supaPatch(`charlie_tasks?id=eq.${task.id}`, { status: 'complete', completed_at: new Date().toISOString() });\n        reply = `Task completed: *${task.title}*`;\n      }\n    }\n\n  } else if (text.startsWith('/run ')) {\n    const search = text.slice(5).trim();\n    if (!search) {\n      reply = 'Usage: /run <id_prefix or title>';\n    } else {\n      let rows = await supaGet(`charlie_tasks?id=eq.${search}&status=neq.complete`);\n      if (!rows || !rows.length) {\n        const allTasks = await supaGet('charlie_tasks?status=neq.complete&order=created_at.desc');\n        rows = (allTasks || []).filter(t => t.id.startsWith(search));\n      }\n      if (!rows.length) {\n        rows = await supaGet(`charlie_tasks?title=ilike.*${encodeURIComponent(search)}*&status=neq.complete`);\n      }\n      if (!rows || !rows.length) {\n        reply = `No matching task found for: ${search}`;\n      } else if (rows.length > 1) {\n        reply = `Multiple matches (${rows.length}). Be more specific:\\n` + rows.map(t => `\u2022 \\`${t.id.slice(0,8)}\\` ${t.title}`).join('\\n');\n      } else {\n        const task = rows[0];\n        await supaPatch(`charlie_tasks?id=eq.${task.id}`, { status: 'queued' });\n        reply = `Task queued for execution: *${task.title}*`;\n      }\n    }\n\n  } else {\n    reply = 'Commands:\\n/task <title> \u2014 create task\\n/tasks \u2014 list pending\\n/done <id or title> \u2014 complete\\n/run <id or title> \u2014 queue for execution';\n  }\n} catch (err) {\n  reply = `Error: ${err.message}`;\n}\n\nif (chat_id) {\n  await sendTelegram(chat_id, reply);\n}\n\nreturn [{ json: { reply, chat_id } }];"
        },
        "id": "code-node",
        "name": "Handle Command",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          300
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { ok: true, reply: $json.reply } }}",
          "options": {}
        },
        "id": "respond-node",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          700,
          300
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Handle Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handle Command": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "import",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-08T20:08:20.145Z",
        "id": 603,
        "workflowId": "dHoqL8Ph8kmFHwyx",
        "versionId": "5e95569e-d22b-4519-a8d9-32bf52c0c794",
        "event": "activated",
        "userId": "b1512bca-25b8-4b8b-add0-b86540e5144d"
      }
    ]
  }
}
