n8n-workflows/crete-scheduled-publisher.before-2026-04-30-fix.json
{"updatedAt":"2026-04-23T14:11:54.500Z","createdAt":"2026-04-22T12:39:23.721Z","id":"9kTWhh9PlxMpyMlp","name":"Crete - Scheduled Publisher","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 * * * *"}]}},"id":"a0000000-0000-0000-0000-000000000001","name":"Hourly Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300]},{"parameters":{"method":"GET","url":"https://fdabygmromuqtysitodp.supabase.co/rest/v1/crete_content_queue","sendQuery":true,"queryParameters":{"parameters":[{"name":"select","value":"*"},{"name":"status","value":"eq.approved"},{"name":"scheduled_for","value":"lte.now()"},{"name":"order","value":"scheduled_for.asc"},{"name":"limit","value":"5"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_ANON_KEY}}"}]},"options":{"timeout":15000}},"id":"a0000000-0000-0000-0000-000000000002","name":"Query Approved Due","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300]},{"parameters":{"method":"POST","url":"https://webhook.flowos.tech/webhook/crete-content-publish","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ content_id: $json.id }) }}","options":{"timeout":30000}},"id":"a0000000-0000-0000-0000-000000000005","name":"Trigger Publish","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300]}],"connections":{"Hourly Schedule":{"main":[[{"node":"Query Approved Due","type":"main","index":0}]]},"Query Approved Due":{"main":[[{"node":"Trigger Publish","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":{"node:Hourly Schedule":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"2e682864-8ce8-4f61-a7c1-728937f73c41","activeVersionId":"2e682864-8ce8-4f61-a7c1-728937f73c41","versionCounter":12,"triggerCount":1,"shared":[{"updatedAt":"2026-04-22T12:39:23.721Z","createdAt":"2026-04-22T12:39:23.721Z","role":"workflow:owner","workflowId":"9kTWhh9PlxMpyMlp","projectId":"KwpTDWcFWL3DfyW3","project":{"updatedAt":"2026-04-08T20:28:08.726Z","createdAt":"2025-06-06T11:27:14.830Z","id":"KwpTDWcFWL3DfyW3","name":"Tyson Venables <tysonvenables@protonmail.com>","type":"personal","icon":null,"description":null,"creatorId":"b1512bca-25b8-4b8b-add0-b86540e5144d","projectRelations":[{"updatedAt":"2025-06-06T11:27:14.830Z","createdAt":"2025-06-06T11:27:14.830Z","userId":"b1512bca-25b8-4b8b-add0-b86540e5144d","projectId":"KwpTDWcFWL3DfyW3","user":{"updatedAt":"2026-04-30T10:37:05.281Z","createdAt":"2025-06-06T11:27:13.858Z","id":"b1512bca-25b8-4b8b-add0-b86540e5144d","email":"tysonvenables@protonmail.com","firstName":"Tyson","lastName":"Venables","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-06T11:42:52.454Z","personalization_survey_n8n_version":"1.95.3","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"WVXrFCjb8wO7RWRX","userActivatedAt":1751062185356,"npsSurvey":{"responded":true,"lastShownAt":1769430963515}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-30","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-23T14:11:54.508Z","createdAt":"2026-04-23T14:11:54.508Z","versionId":"2e682864-8ce8-4f61-a7c1-728937f73c41","workflowId":"9kTWhh9PlxMpyMlp","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 * * * *"}]}},"id":"a0000000-0000-0000-0000-000000000001","name":"Hourly Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300]},{"parameters":{"method":"GET","url":"https://fdabygmromuqtysitodp.supabase.co/rest/v1/crete_content_queue","sendQuery":true,"queryParameters":{"parameters":[{"name":"select","value":"*"},{"name":"status","value":"eq.approved"},{"name":"scheduled_for","value":"lte.now()"},{"name":"order","value":"scheduled_for.asc"},{"name":"limit","value":"5"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_ANON_KEY}}"}]},"options":{"timeout":15000}},"id":"a0000000-0000-0000-0000-000000000002","name":"Query Approved Due","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300]},{"parameters":{"method":"POST","url":"https://webhook.flowos.tech/webhook/crete-content-publish","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ content_id: $json.id }) }}","options":{"timeout":30000}},"id":"a0000000-0000-0000-0000-000000000005","name":"Trigger Publish","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300]}],"connections":{"Hourly Schedule":{"main":[[{"node":"Query Approved Due","type":"main","index":0}]]},"Query Approved Due":{"main":[[{"node":"Trigger Publish","type":"main","index":0}]]}},"authors":"Tyson Venables","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-23T14:11:54.638Z","id":737,"workflowId":"9kTWhh9PlxMpyMlp","versionId":"2e682864-8ce8-4f61-a7c1-728937f73c41","event":"activated","userId":"b1512bca-25b8-4b8b-add0-b86540e5144d"}]}}