n8n-workflows/crete-content-publish.before-2026-04-30-fix.json
{"updatedAt":"2026-04-27T14:08:24.664Z","createdAt":"2026-04-11T07:11:36.400Z","id":"zXKBjp3yjW2oR2Mj","name":"Crete - Content Publish","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"crete-content-publish","responseMode":"responseNode","options":{}},"id":"47d88f72-a27d-4277-ba0c-c9af0632b426","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"webhookId":"crete-content-publish"},{"parameters":{"url":"=https://fdabygmromuqtysitodp.supabase.co/rest/v1/crete_content_queue?id=eq.{{ $json.body.content_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_ANON_KEY}}"}]},"options":{}},"id":"03fa15d6-9459-4c19-91dd-252e315d566b","name":"Get Content","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,304]},{"parameters":{"jsCode":"const data = $input.first().json;\nconst item = Array.isArray(data) ? data[0] : data;\nif (!item || !item.id) {\n  throw new Error('Content not found for id');\n}\nreturn [{ json: item }];\n"},"id":"4b9ad5c6-c765-41a1-82ab-4ecfad8dccfc","name":"Extract Item","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,304]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.platform }}","rightValue":"facebook","operator":{"type":"string","operation":"equals"},"id":"4e0a1a02-3384-4f5e-94ba-afff52d31f80"}],"combinator":"and"},"renameOutput":true,"outputKey":"Facebook"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.platform }}","rightValue":"instagram","operator":{"type":"string","operation":"equals"},"id":"e2c7f198-4e76-48c5-88cd-c62859b20c60"}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.platform }}","rightValue":"linkedin","operator":{"type":"string","operation":"equals"},"id":"1adbdfd3-8c4e-41a9-97cd-559b30fb5092"}],"combinator":"and"},"renameOutput":true,"outputKey":"LinkedIn"}]},"options":{"fallbackOutput":"extra"}},"id":"b1c2d3e4-f5a6-7890-abcd-ef1234567001","name":"Platform Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[912,304]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v19.0/{{$env.META_PAGE_ID}}/feed","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {{ JSON.stringify($json.body) }},\n  \"access_token\": \"{{$env.META_PAGE_ACCESS_TOKEN}}\"\n}","options":{}},"id":"b1c2d3e4-f5a6-7890-abcd-ef1234567002","name":"Facebook Post","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1152,112]},{"parameters":{"assignments":{"assignments":[{"id":"field-id","name":"id","type":"string","value":"={{ $('Extract Item').item.json.id }}"},{"id":"field-title","name":"title","type":"string","value":"={{ $('Extract Item').item.json.title }}"},{"id":"field-platform","name":"platform","type":"string","value":"={{ $('Extract Item').item.json.platform }}"},{"id":"field-result","name":"publish_result","type":"string","value":"={{ JSON.stringify($json) }}"}]},"options":{}},"id":"b1c2d3e4-f5a6-7890-abcd-ef1234567003","name":"FB Restore Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,112]},{"parameters":{"assignments":{"assignments":[{"id":"field-id","name":"id","type":"string","value":"={{ $('Extract Item').item.json.id }}"},{"id":"field-title","name":"title","type":"string","value":"={{ $('Extract Item').item.json.title }}"},{"id":"field-platform","name":"platform","type":"string","value":"={{ $('Extract Item').item.json.platform }}"},{"id":"field-result","name":"publish_result","type":"string","value":"={{ JSON.stringify($json) }}"}]},"options":{}},"id":"b1c2d3e4-f5a6-7890-abcd-ef1234567007","name":"IG Restore Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1808,256]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst platform = item.platform || 'unknown';\nconst reason = platform === 'linkedin' ? 'LinkedIn TODO - uses Blotato' : `Unsupported platform: ${platform}`;\nreturn [{ json: { ...item, publish_result: { skipped: true, reason } } }];\n"},"id":"b1c2d3e4-f5a6-7890-abcd-ef1234567009","name":"Other Platform Skip","type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,752]},{"parameters":{"method":"PATCH","url":"=https://fdabygmromuqtysitodp.supabase.co/rest/v1/crete_content_queue?id=eq.{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_ANON_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"status\": \"published\",\n  \"published_at\": \"{{ $now.toISO() }}\",\n  \"updated_at\": \"{{ $now.toISO() }}\"\n}","options":{}},"id":"72594655-9378-488f-8eb7-40f0edf8aa2c","name":"Update Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,304]},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\": 1375806243,\n  \"text\": \"✅ Published: {{ $('Extract Item').item.json.title }} to {{ $('Extract Item').item.json.platform }}\",\n  \"parse_mode\": \"Markdown\"\n}","options":{}},"id":"6550713c-3983-43bc-b876-fd1b0d573a56","name":"Telegram Notify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,304]},{"parameters":{"respondWith":"json","responseBody":"={ \"success\": true, \"content_id\": \"{{ $('Extract Item').item.json.id }}\", \"status\": \"published\" }","options":{}},"id":"1fb3076b-01c2-4ba3-90a0-883910a65cc2","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2464,304]},{"parameters":{"platform":"linkedin","accountId":{"__rl":true,"value":"11109","mode":"list","cachedResultName":"Tyson Venables","cachedResultUrl":"https://backend.blotato.com/v2/accounts/11109"},"postContentText":"={{ $('Extract Item').item.json.body }}","options":{}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[1152,560],"id":"d1e2f3a4-b5c6-7890-abcd-200000000001","name":"LinkedIn Post (Blotato)","credentials":{"blotatoApi":{"id":"Bs2TEAOA9mVKfcR3","name":"Blotato account"}}},{"parameters":{"assignments":{"assignments":[{"id":"field-id","name":"id","type":"string","value":"={{ $('Extract Item').item.json.id }}"},{"id":"field-title","name":"title","type":"string","value":"={{ $('Extract Item').item.json.title }}"},{"id":"field-platform","name":"platform","type":"string","value":"={{ $('Extract Item').item.json.platform }}"},{"id":"field-result","name":"publish_result","type":"string","value":"={{ JSON.stringify($json) }}"}]},"options":{}},"id":"d1e2f3a4-b5c6-7890-abcd-200000000002","name":"LI Restore Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1376,368]},{"parameters":{"accountId":{"__rl":true,"value":"43178","mode":"list","cachedResultName":"creteprojects","cachedResultUrl":"https://backend.blotato.com/v2/accounts/43178"},"postContentText":"={{ $('Extract Item').item.json.body }}","postContentMediaUrls":"={{ $('Extract Item').item.json.media_url }}","options":{}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[1360,304],"id":"d1e2f3a4-b5c6-7890-abcd-200000000002","name":"Instagram Post (Blotato)","credentials":{"blotatoApi":{"id":"Bs2TEAOA9mVKfcR3","name":"Blotato account"}}}],"connections":{"Webhook":{"main":[[{"node":"Get Content","type":"main","index":0}]]},"Get Content":{"main":[[{"node":"Extract Item","type":"main","index":0}]]},"Extract Item":{"main":[[{"node":"Platform Switch","type":"main","index":0}]]},"Platform Switch":{"main":[[{"node":"Facebook Post","type":"main","index":0}],[{"node":"Instagram Post (Blotato)","type":"main","index":0}],[{"node":"LinkedIn Post (Blotato)","type":"main","index":0}],[{"node":"Other Platform Skip","type":"main","index":0}]]},"Facebook Post":{"main":[[{"node":"FB Restore Fields","type":"main","index":0}]]},"FB Restore Fields":{"main":[[{"node":"Update Status","type":"main","index":0}]]},"IG Restore Fields":{"main":[[{"node":"Update Status","type":"main","index":0}]]},"Other Platform Skip":{"main":[[{"node":"Update Status","type":"main","index":0}]]},"Update Status":{"main":[[{"node":"Telegram Notify","type":"main","index":0}]]},"Telegram Notify":{"main":[[{"node":"Respond","type":"main","index":0}]]},"LinkedIn Post (Blotato)":{"main":[[{"node":"LI Restore Fields","type":"main","index":0}]]},"LI Restore Fields":{"main":[[{"node":"Update Status","type":"main","index":0}]]},"Instagram Post (Blotato)":{"main":[[{"node":"IG Restore Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.flowos.tech","user-agent":"axios/1.12.0","content-length":"53","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"157.230.216.158","cf-ipcountry":"US","cf-ray":"9f2e59e09cae2f06-EWR","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"cea92e4d-bc65-4890-b7d7-f3ed9b35a652","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"157.230.216.158","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"content_id":"c9e4332b-baa8-4b10-898a-6e847fb9e764"},"webhookUrl":"https://webhook.flowos.tech/webhook/crete-content-publish","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"cc199394-450e-4977-b1f0-3257c0e80cdf","activeVersionId":"e6d54abe-9046-467c-a2b5-a3c037234fcc","versionCounter":57,"triggerCount":1,"shared":[{"updatedAt":"2026-04-11T07:11:36.400Z","createdAt":"2026-04-11T07:11:36.400Z","role":"workflow:owner","workflowId":"zXKBjp3yjW2oR2Mj","projectId":"KwpTDWcFWL3DfyW3","project":{"updatedAt":"2026-04-08T20:28:08.726Z","createdAt":"2025-06-06T11:27:14.830Z","id":"KwpTDWcFWL3DfyW3","name":"Tyson Venables <tysonvenables@protonmail.com>","type":"personal","icon":null,"description":null,"creatorId":"b1512bca-25b8-4b8b-add0-b86540e5144d","projectRelations":[{"updatedAt":"2025-06-06T11:27:14.830Z","createdAt":"2025-06-06T11:27:14.830Z","userId":"b1512bca-25b8-4b8b-add0-b86540e5144d","projectId":"KwpTDWcFWL3DfyW3","user":{"updatedAt":"2026-04-30T10:37:05.281Z","createdAt":"2025-06-06T11:27:13.858Z","id":"b1512bca-25b8-4b8b-add0-b86540e5144d","email":"tysonvenables@protonmail.com","firstName":"Tyson","lastName":"Venables","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-06T11:42:52.454Z","personalization_survey_n8n_version":"1.95.3","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"WVXrFCjb8wO7RWRX","userActivatedAt":1751062185356,"npsSurvey":{"responded":true,"lastShownAt":1769430963515}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-30","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-27T14:07:47.799Z","createdAt":"2026-04-23T22:10:43.115Z","versionId":"e6d54abe-9046-467c-a2b5-a3c037234fcc","workflowId":"zXKBjp3yjW2oR2Mj","nodes":[{"parameters":{"httpMethod":"POST","path":"crete-content-publish","responseMode":"responseNode","options":{}},"id":"47d88f72-a27d-4277-ba0c-c9af0632b426","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"webhookId":"crete-content-publish"},{"parameters":{"url":"=https://fdabygmromuqtysitodp.supabase.co/rest/v1/crete_content_queue?id=eq.{{ $json.body.content_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_ANON_KEY}}"}]},"options":{}},"id":"03fa15d6-9459-4c19-91dd-252e315d566b","name":"Get Content","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,304]},{"parameters":{"jsCode":"const data = $input.first().json;\nconst item = Array.isArray(data) ? data[0] : data;\nif (!item || !item.id) {\n  throw new Error('Content not found for id');\n}\nreturn [{ json: item }];\n"},"id":"4b9ad5c6-c765-41a1-82ab-4ecfad8dccfc","name":"Extract Item","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,304]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.platform }}","rightValue":"facebook","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Facebook"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.platform }}","rightValue":"instagram","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.platform }}","rightValue":"linkedin","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LinkedIn"}]},"options":{"fallbackOutput":"extra"}},"id":"b1c2d3e4-f5a6-7890-abcd-ef1234567001","name":"Platform Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[912,304]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v19.0/{{$env.META_PAGE_ID}}/feed","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {{ JSON.stringify($json.body) }},\n  \"access_token\": \"{{$env.META_PAGE_ACCESS_TOKEN}}\"\n}","options":{}},"id":"b1c2d3e4-f5a6-7890-abcd-ef1234567002","name":"Facebook Post","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1152,112]},{"parameters":{"assignments":{"assignments":[{"id":"field-id","name":"id","type":"string","value":"={{ $('Extract Item').item.json.id }}"},{"id":"field-title","name":"title","type":"string","value":"={{ $('Extract Item').item.json.title }}"},{"id":"field-platform","name":"platform","type":"string","value":"={{ $('Extract Item').item.json.platform }}"},{"id":"field-result","name":"publish_result","type":"string","value":"={{ JSON.stringify($json) }}"}]},"options":{}},"id":"b1c2d3e4-f5a6-7890-abcd-ef1234567003","name":"FB Restore Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,112]},{"parameters":{"assignments":{"assignments":[{"id":"field-id","name":"id","type":"string","value":"={{ $('Extract Item').item.json.id }}"},{"id":"field-title","name":"title","type":"string","value":"={{ $('Extract Item').item.json.title }}"},{"id":"field-platform","name":"platform","type":"string","value":"={{ $('Extract Item').item.json.platform }}"},{"id":"field-result","name":"publish_result","type":"string","value":"={{ JSON.stringify($json) }}"}]},"options":{}},"id":"b1c2d3e4-f5a6-7890-abcd-ef1234567007","name":"IG Restore Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1808,256]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst platform = item.platform || 'unknown';\nconst reason = platform === 'linkedin' ? 'LinkedIn TODO - uses Blotato' : `Unsupported platform: ${platform}`;\nreturn [{ json: { ...item, publish_result: { skipped: true, reason } } }];\n"},"id":"b1c2d3e4-f5a6-7890-abcd-ef1234567009","name":"Other Platform Skip","type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,752]},{"parameters":{"method":"PATCH","url":"=https://fdabygmromuqtysitodp.supabase.co/rest/v1/crete_content_queue?id=eq.{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_ANON_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"status\": \"published\",\n  \"published_at\": \"{{ $now.toISO() }}\",\n  \"updated_at\": \"{{ $now.toISO() }}\"\n}","options":{}},"id":"72594655-9378-488f-8eb7-40f0edf8aa2c","name":"Update Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,304]},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\": 1375806243,\n  \"text\": \"✅ Published: {{ $('Extract Item').item.json.title }} to {{ $('Extract Item').item.json.platform }}\",\n  \"parse_mode\": \"Markdown\"\n}","options":{}},"id":"6550713c-3983-43bc-b876-fd1b0d573a56","name":"Telegram Notify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,304]},{"parameters":{"respondWith":"json","responseBody":"={ \"success\": true, \"content_id\": \"{{ $('Extract Item').item.json.id }}\", \"status\": \"published\" }","options":{}},"id":"1fb3076b-01c2-4ba3-90a0-883910a65cc2","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2464,304]},{"parameters":{"platform":"linkedin","accountId":{"__rl":true,"value":"11109","mode":"list","cachedResultName":"Tyson Venables","cachedResultUrl":"https://backend.blotato.com/v2/accounts/11109"},"postContentText":"={{ $('Extract Item').item.json.body }}","options":{}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[1152,560],"id":"d1e2f3a4-b5c6-7890-abcd-200000000001","name":"LinkedIn Post (Blotato)","credentials":{"blotatoApi":{"id":"Bs2TEAOA9mVKfcR3","name":"Blotato account"}}},{"parameters":{"assignments":{"assignments":[{"id":"field-id","name":"id","type":"string","value":"={{ $('Extract Item').item.json.id }}"},{"id":"field-title","name":"title","type":"string","value":"={{ $('Extract Item').item.json.title }}"},{"id":"field-platform","name":"platform","type":"string","value":"={{ $('Extract Item').item.json.platform }}"},{"id":"field-result","name":"publish_result","type":"string","value":"={{ JSON.stringify($json) }}"}]},"options":{}},"id":"d1e2f3a4-b5c6-7890-abcd-200000000002","name":"LI Restore Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1376,368]},{"parameters":{"accountId":{"__rl":true,"value":"43178","mode":"list","cachedResultName":"creteprojects","cachedResultUrl":"https://backend.blotato.com/v2/accounts/43178"},"postContentText":"={{ $('Extract Item').item.json.body }}","postContentMediaUrls":"={{ $('Extract Item').item.json.media_url }}","options":{}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[1360,304],"id":"d1e2f3a4-b5c6-7890-abcd-200000000002","name":"Instagram Post (Blotato)","credentials":{"blotatoApi":{"id":"Bs2TEAOA9mVKfcR3","name":"Blotato account"}}}],"connections":{"Webhook":{"main":[[{"node":"Get Content","type":"main","index":0}]]},"Get Content":{"main":[[{"node":"Extract Item","type":"main","index":0}]]},"Extract Item":{"main":[[{"node":"Platform Switch","type":"main","index":0}]]},"Platform Switch":{"main":[[{"node":"Facebook Post","type":"main","index":0}],[{"node":"Instagram Post (Blotato)","type":"main","index":0}],[{"node":"LinkedIn Post (Blotato)","type":"main","index":0}],[{"node":"Other Platform Skip","type":"main","index":0}]]},"Facebook Post":{"main":[[{"node":"FB Restore Fields","type":"main","index":0}]]},"FB Restore Fields":{"main":[[{"node":"Update Status","type":"main","index":0}]]},"IG Restore Fields":{"main":[[{"node":"Update Status","type":"main","index":0}]]},"Other Platform Skip":{"main":[[{"node":"Update Status","type":"main","index":0}]]},"Update Status":{"main":[[{"node":"Telegram Notify","type":"main","index":0}]]},"Telegram Notify":{"main":[[{"node":"Respond","type":"main","index":0}]]},"LinkedIn Post (Blotato)":{"main":[[{"node":"LI Restore Fields","type":"main","index":0}]]},"LI Restore Fields":{"main":[[{"node":"Update Status","type":"main","index":0}]]},"Instagram Post (Blotato)":{"main":[[{"node":"IG Restore Fields","type":"main","index":0}]]}},"authors":"Tyson Venables","name":"Version e6d54abe","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-27T14:07:47.781Z","id":774,"workflowId":"zXKBjp3yjW2oR2Mj","versionId":"e6d54abe-9046-467c-a2b5-a3c037234fcc","event":"activated","userId":"b1512bca-25b8-4b8b-add0-b86540e5144d"}]}}