n8n-workflows/crete-content-generator.json
{"updatedAt":"2026-05-02T08:35:19.575Z","createdAt":"2026-04-11T07:17:27.368Z","id":"tnvXFYvODL1PrhJa","name":"Crete - Content Generator","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 8 * * *"}]}},"id":"bc5648e4-001e-49f7-bf95-3df0136a34dc","name":"Schedule 08:00 UTC","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[208,304]},{"parameters":{"url":"https://media.creteprojects.com/content-calendar.json","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"883e223c-a069-41a0-9921-5d7d3f8e72e2","name":"Fetch Calendar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,304]},{"parameters":{"jsCode":"// Return slots whose date is today or tomorrow (UTC)\nconst calendar = $input.first().json;\nconst slots = (calendar.content_slots || []);\nconst today = new Date();\nconst t = today.toISOString().slice(0, 10);\nconst tomorrow = new Date(today.getTime() + 86400000).toISOString().slice(0, 10);\nconst due = slots.filter(s => s.date === t || s.date === tomorrow);\nif (due.length === 0) {\n  return [];  // empty output halts downstream\n}\nreturn due.map(s => ({ json: s }));\n"},"id":"939788ca-5df1-480e-b72e-9fede4237837","name":"Filter Due Slots","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,304]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const SYSTEM_PROMPT = \"You are the content engine for Crete Projects (creteprojects.com) \\u2014 a premium land, property, and wellness development in Crete, Greece. Three interconnected pillars: Agricultural Land (regenerative agroforestry, biodynamic farming, olives/herbs/citrus/honey, workshops, agro-tourism), Village Restoration (traditional Cretan stone buildings restored to premium private accommodation for worldschooling families, 2-8 week stays), Health & Wellness (gym, cold plunge, sauna, physiotherapy, yoga, pilates, breathwork, visiting practitioners). Target: medium-to-high income location-independent families, entrepreneurs, investors. NOT a commune or budget destination. Voice: premium but not pretentious, direct, confident, grounded. No cliches, no \\\"live your best life\\\" fluff. British English. No hashtags in email/LinkedIn. No em dashes. Every piece needs a clear CTA (register at creteprojects.com, reply, share). Currently in Foundation phase \\u2014 be honest about the stage. Never fabricate milestones.\";\nconst slot = $input.item.json;\nconst userPrompt = [\n  'Generate a ' + slot.content_type + ' for ' + slot.platform + '.',\n  'Theme: ' + (slot.theme || 'general'),\n  'Brief: ' + (slot.brief || ''),\n  'CTA: ' + (slot.cta || 'register at creteprojects.com'),\n  'Content mix: ' + (slot.content_mix || 'mixed'),\n  '',\n  'Return ONLY the post body text. No markdown headers, no commentary, no JSON wrapper.'\n].join('\\n');\nreturn {\n  slot_id: slot.id,\n  image_type: slot.image_type || null,\n  image_style: slot.image_style || null,\n  image_theme: slot.image_theme || null,\n  scheduled_for: slot.date,\n  content_type: slot.content_type,\n  platform: slot.platform,\n  theme: slot.theme || null,\n  cta: slot.cta || null,\n  system_prompt: SYSTEM_PROMPT,\n  user_prompt: userPrompt\n};"},"id":"0dd3fa32-155b-4b14-b1ef-e9380d7cf24f","name":"Build Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,304]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1000,\n  \"system\": {{ JSON.stringify($json.system_prompt) }},\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.user_prompt) }} }\n  ]\n}","options":{}},"id":"65e13592-ccb4-4404-bef6-a1d44dfb9b10","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,304],"credentials":{"httpHeaderAuth":{"id":"V9YcuDfp9lqydyDH","name":"Anthropic Header Auth"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const resp = $input.item.json;\nconst text = (resp.content || []).map(b => b.text || '').join('\\n').trim();\nif (!text) throw new Error('Claude returned empty content');\nconst ctx = $('Build Prompt').item.json;\nconst firstLine = text.split('\\n').map(s => s.trim()).find(Boolean) || '';\nconst title = firstLine.length > 80 ? firstLine.slice(0, 77) + '...'\n                                     : (firstLine || ((ctx.theme || 'Crete') + ' - ' + ctx.platform));\nreturn {\n  status: 'pending_review',\n  content_type: ctx.content_type,\n  platform: ctx.platform,\n  title,\n  body: text,\n  cta: ctx.cta,\n  theme: ctx.theme,\n  scheduled_for: ctx.scheduled_for,\n  generation_prompt: ctx.user_prompt,\n  metadata: { slot_id: ctx.slot_id, generated_by: 'crete-content-generator' },\n  image_type: ctx.image_type || null,\n  image_style: ctx.image_style || null,\n  image_theme: ctx.image_theme || null,\n  media_url: null\n};"},"id":"a504a9a0-332e-4e8c-b40d-5ddf8a031cb8","name":"Build Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,300]},{"parameters":{"method":"POST","url":"https://fdabygmromuqtysitodp.supabase.co/rest/v1/crete_content_queue","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_ANON_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"54557176-453e-4b8d-818e-decb049638e8","name":"Insert to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2500,300],"credentials":{"httpHeaderAuth":{"id":"Nd2uuX5t9KEwbQPv","name":"Supabase FSC"}}},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\": 1375806243,\n  \"text\": \"🆕 New Crete content for review: {{ $('Build Row').item.json.title }} ({{ $('Build Row').item.json.content_type }}). Review at agentboardroom.flowos.tech\",\n}","options":{}},"id":"b826bc5d-bd77-4b56-82b7-9a6de17a2c09","name":"Telegram Notify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2720,300],"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const row = $input.item.json;\nconst isInstagram = (row.platform || '').toLowerCase() === 'instagram';\nconst imageType = row.image_type || (isInstagram ? 'text_card' : null);\n\nif (!isInstagram) {\n  return row;\n}\n\nif (imageType === 'photo') {\n  return { ...row, _needsPhoto: true, _photoTheme: row.image_theme || '' };\n}\n\nconst style = row.image_style || 'quote';\nconst body = row.body || '';\nconst sentences = body.match(/[^.!?]+[.!?]+/g) || [body.slice(0, 200)];\n\nlet apiBody;\nif (style === 'editorial') {\n  apiBody = {\n    style: 'editorial',\n    headline: (sentences[0] || '').trim().slice(0, 200),\n    body: (sentences[1] || '').trim().slice(0, 300)\n  };\n} else {\n  const quoteText = sentences.slice(0, 2).join(' ').trim().slice(0, 400);\n  apiBody = { style: 'quote', text: quoteText };\n}\n\nreturn { ...row, _needsImage: true, _apiBody: apiBody };"},"id":"c1a2b3d4-e5f6-7890-abcd-100000000001","name":"Image Router","type":"n8n-nodes-base.code","typeVersion":2,"position":[1620,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json._needsImage }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"id":"c1a2b3d4-e5f6-7890-abcd-100000000002","name":"Needs Image?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1840,300]},{"parameters":{"method":"POST","url":"=https://agentboardroom.flowos.tech/api/crete/generate-image?token={{$env.QCLAW_API_TOKEN}}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json._apiBody) }}","options":{"timeout":30000}},"id":"c1a2b3d4-e5f6-7890-abcd-100000000003","name":"Generate Text Card","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2060,200],"onError":"continueErrorOutput","retryOnFail":false},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Merge generator response into row. Throws loudly if generator failed.\nconst apiResp = $input.item.json;\nconst row = $('Image Router').item.json;\nif (apiResp && apiResp.url) {\n  const { _needsImage, _apiBody, ...cleanRow } = row;\n  cleanRow.media_url = apiResp.url;\n  cleanRow.metadata = { ...(row.metadata || {}), image_source: 'generator' };\n  return cleanRow;\n}\nthrow new Error(\n  'generate-image API returned no url for slot ' +\n  (row.metadata?.slot_id || row.title || 'unknown') +\n  '. Response: ' + JSON.stringify(apiResp || {}).slice(0, 500)\n);"},"id":"c1a2b3d4-e5f6-7890-abcd-100000000004","name":"Merge Image URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[2280,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json._needsPhoto }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"id":"c1a2b3d4-e5f6-7890-abcd-100000000005","name":"Needs Photo?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2060,420]},{"parameters":{"method":"GET","url":"https://media.creteprojects.com/photos/library.json","options":{"timeout":15000}},"id":"c1a2b3d4-e5f6-7890-abcd-100000000006","name":"Fetch Photo Library","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2280,380]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Select a random photo from library, filtered by theme. Throws if none usable.\n// $input.item.json IS the photo-library response (contains photos[]); the actual row\n// context (title/body/platform/etc.) lives upstream. Two upstream paths feed here:\n//   - normal photo path: Image Router emitted {_needsPhoto:true,...}\n//   - text-card-failed fallback path: Photo Fallback emitted {_fallback_from_generator:true,...}\n// Use Photo Fallback's output if it ran, else Image Router. $() throws if a node\n// didn't run in this execution, so guard with try/catch.\nlet row;\ntry {\n  const fb = $('Photo Fallback').item.json;\n  row = (fb && fb._fallback_from_generator) ? fb : $('Image Router').item.json;\n} catch (e) {\n  row = $('Image Router').item.json;\n}\nconst photoLib = $('Fetch Photo Library').item.json;\nconst photos = photoLib?.photos || photoLib?.body?.photos || [];\nif (!Array.isArray(photos) || photos.length === 0) {\n  throw new Error('Photo library returned 0 photos. Theme=' + (row._photoTheme || row.image_theme || 'any'));\n}\nconst theme = (row._photoTheme || row.image_theme || row.theme || '').toLowerCase();\nlet pool = photos;\nif (theme) {\n  const themed = photos.filter(p => ((p.theme || '') + ' ' + ((p.tags || []).join(' '))).toLowerCase().includes(theme));\n  if (themed.length > 0) pool = themed;\n}\nconst selected = pool[Math.floor(Math.random() * pool.length)];\nif (!selected || !selected.public_url) {\n  throw new Error('Photo library returned no usable photo for theme: ' + (theme || 'any') + '. Library size: ' + photos.length);\n}\n// Strip ALL transient flags including _needsImage/_apiBody (set by Image Router on text-card path,\n// would leak through on the fallback path).\nconst { _needsPhoto, _photoTheme, _fallback_from_generator, _needsImage, _apiBody, ...cleanRow } = row;\ncleanRow.media_url = selected.public_url;\ncleanRow.metadata = { ...(row.metadata || {}), image_source: row._fallback_from_generator ? 'library_fallback' : 'library', photo_id: selected.id };\nreturn cleanRow;"},"id":"c1a2b3d4-e5f6-7890-abcd-100000000007","name":"Select Random Photo","type":"n8n-nodes-base.code","typeVersion":2,"position":[2500,380]},{"parameters":{"jsCode":"// Fallback when generate-image errors: queue photo path, mark fallback for downstream alert.\nconst row = $('Image Router').item.json;\nreturn {\n  ...row,\n  _needsPhoto: true,\n  _photoTheme: row.image_theme || row.theme || '',\n  _fallback_from_generator: true\n};"},"id":"c0000000-0000-0000-0000-000000000030","name":"Photo Fallback","type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,540]},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: 1375806243, text: '\\u26A0\\uFE0F Image generator unavailable, fell back to stock photo for ' + ($(\\'Image Router\\').item.json.title || 'slot') }) }}","options":{"timeout":15000}},"id":"c0000000-0000-0000-0000-000000000031","name":"Telegram Fallback Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1900,540],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: 1375806243, text: '\\u{1F49B} Content Generator tick OK — generated ' + $items().length + ' row(s)' }) }}","options":{"timeout":15000}},"id":"c0000000-0000-0000-0000-000000000032","name":"Heartbeat","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,300],"onError":"continueRegularOutput"}],"connections":{"Schedule 08:00 UTC":{"main":[[{"node":"Fetch Calendar","type":"main","index":0}]]},"Fetch Calendar":{"main":[[{"node":"Filter Due Slots","type":"main","index":0}]]},"Filter Due Slots":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Build Row","type":"main","index":0}]]},"Build Row":{"main":[[{"node":"Image Router","type":"main","index":0}]]},"Insert to Supabase":{"main":[[{"node":"Telegram Notify","type":"main","index":0}]]},"Image Router":{"main":[[{"node":"Needs Image?","type":"main","index":0}]]},"Needs Image?":{"main":[[{"node":"Generate Text Card","type":"main","index":0}],[{"node":"Needs Photo?","type":"main","index":0}]]},"Generate Text Card":{"main":[[{"node":"Merge Image URL","type":"main","index":0}],[{"node":"Photo Fallback","type":"main","index":0}]]},"Merge Image URL":{"main":[[{"node":"Insert to Supabase","type":"main","index":0}]]},"Needs Photo?":{"main":[[{"node":"Fetch Photo Library","type":"main","index":0}],[{"node":"Insert to Supabase","type":"main","index":0}]]},"Fetch Photo Library":{"main":[[{"node":"Select Random Photo","type":"main","index":0}]]},"Select Random Photo":{"main":[[{"node":"Insert to Supabase","type":"main","index":0}]]},"Photo Fallback":{"main":[[{"node":"Telegram Fallback Alert","type":"main","index":0}]]},"Telegram Fallback Alert":{"main":[[{"node":"Fetch Photo Library","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"errorWorkflow":"7kpNnMtnuDWXgWcX"},"staticData":{"node:Schedule 08:00 UTC":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"a40a78e9-4c3e-4084-873b-a66e90a54da4","activeVersionId":"a40a78e9-4c3e-4084-873b-a66e90a54da4","versionCounter":62,"triggerCount":1,"shared":[{"updatedAt":"2026-04-11T07:17:27.368Z","createdAt":"2026-04-11T07:17:27.368Z","role":"workflow:owner","workflowId":"tnvXFYvODL1PrhJa","projectId":"KwpTDWcFWL3DfyW3","project":{"updatedAt":"2026-04-08T20:28:08.726Z","createdAt":"2025-06-06T11:27:14.830Z","id":"KwpTDWcFWL3DfyW3","name":"Tyson Venables <tysonvenables@protonmail.com>","type":"personal","icon":null,"description":null,"creatorId":"b1512bca-25b8-4b8b-add0-b86540e5144d","projectRelations":[{"updatedAt":"2025-06-06T11:27:14.830Z","createdAt":"2025-06-06T11:27:14.830Z","userId":"b1512bca-25b8-4b8b-add0-b86540e5144d","projectId":"KwpTDWcFWL3DfyW3","user":{"updatedAt":"2026-05-02T07:44:03.739Z","createdAt":"2025-06-06T11:27:13.858Z","id":"b1512bca-25b8-4b8b-add0-b86540e5144d","email":"tysonvenables@protonmail.com","firstName":"Tyson","lastName":"Venables","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-06T11:42:52.454Z","personalization_survey_n8n_version":"1.95.3","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"WVXrFCjb8wO7RWRX","userActivatedAt":1751062185356,"npsSurvey":{"responded":true,"lastShownAt":1769430963515}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-05-02","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-02T08:35:19.581Z","createdAt":"2026-05-02T08:35:19.581Z","versionId":"a40a78e9-4c3e-4084-873b-a66e90a54da4","workflowId":"tnvXFYvODL1PrhJa","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 8 * * *"}]}},"id":"bc5648e4-001e-49f7-bf95-3df0136a34dc","name":"Schedule 08:00 UTC","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[208,304]},{"parameters":{"url":"https://media.creteprojects.com/content-calendar.json","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"883e223c-a069-41a0-9921-5d7d3f8e72e2","name":"Fetch Calendar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,304]},{"parameters":{"jsCode":"// Return slots whose date is today or tomorrow (UTC)\nconst calendar = $input.first().json;\nconst slots = (calendar.content_slots || []);\nconst today = new Date();\nconst t = today.toISOString().slice(0, 10);\nconst tomorrow = new Date(today.getTime() + 86400000).toISOString().slice(0, 10);\nconst due = slots.filter(s => s.date === t || s.date === tomorrow);\nif (due.length === 0) {\n  return [];  // empty output halts downstream\n}\nreturn due.map(s => ({ json: s }));\n"},"id":"939788ca-5df1-480e-b72e-9fede4237837","name":"Filter Due Slots","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,304]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const SYSTEM_PROMPT = \"You are the content engine for Crete Projects (creteprojects.com) \\u2014 a premium land, property, and wellness development in Crete, Greece. Three interconnected pillars: Agricultural Land (regenerative agroforestry, biodynamic farming, olives/herbs/citrus/honey, workshops, agro-tourism), Village Restoration (traditional Cretan stone buildings restored to premium private accommodation for worldschooling families, 2-8 week stays), Health & Wellness (gym, cold plunge, sauna, physiotherapy, yoga, pilates, breathwork, visiting practitioners). Target: medium-to-high income location-independent families, entrepreneurs, investors. NOT a commune or budget destination. Voice: premium but not pretentious, direct, confident, grounded. No cliches, no \\\"live your best life\\\" fluff. British English. No hashtags in email/LinkedIn. No em dashes. Every piece needs a clear CTA (register at creteprojects.com, reply, share). Currently in Foundation phase \\u2014 be honest about the stage. Never fabricate milestones.\";\nconst slot = $input.item.json;\nconst userPrompt = [\n  'Generate a ' + slot.content_type + ' for ' + slot.platform + '.',\n  'Theme: ' + (slot.theme || 'general'),\n  'Brief: ' + (slot.brief || ''),\n  'CTA: ' + (slot.cta || 'register at creteprojects.com'),\n  'Content mix: ' + (slot.content_mix || 'mixed'),\n  '',\n  'Return ONLY the post body text. No markdown headers, no commentary, no JSON wrapper.'\n].join('\\n');\nreturn {\n  slot_id: slot.id,\n  image_type: slot.image_type || null,\n  image_style: slot.image_style || null,\n  image_theme: slot.image_theme || null,\n  scheduled_for: slot.date,\n  content_type: slot.content_type,\n  platform: slot.platform,\n  theme: slot.theme || null,\n  cta: slot.cta || null,\n  system_prompt: SYSTEM_PROMPT,\n  user_prompt: userPrompt\n};"},"id":"0dd3fa32-155b-4b14-b1ef-e9380d7cf24f","name":"Build Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,304]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1000,\n  \"system\": {{ JSON.stringify($json.system_prompt) }},\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.user_prompt) }} }\n  ]\n}","options":{}},"id":"65e13592-ccb4-4404-bef6-a1d44dfb9b10","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,304],"credentials":{"httpHeaderAuth":{"id":"V9YcuDfp9lqydyDH","name":"Anthropic Header Auth"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const resp = $input.item.json;\nconst text = (resp.content || []).map(b => b.text || '').join('\\n').trim();\nif (!text) throw new Error('Claude returned empty content');\nconst ctx = $('Build Prompt').item.json;\nconst firstLine = text.split('\\n').map(s => s.trim()).find(Boolean) || '';\nconst title = firstLine.length > 80 ? firstLine.slice(0, 77) + '...'\n                                     : (firstLine || ((ctx.theme || 'Crete') + ' - ' + ctx.platform));\nreturn {\n  status: 'pending_review',\n  content_type: ctx.content_type,\n  platform: ctx.platform,\n  title,\n  body: text,\n  cta: ctx.cta,\n  theme: ctx.theme,\n  scheduled_for: ctx.scheduled_for,\n  generation_prompt: ctx.user_prompt,\n  metadata: { slot_id: ctx.slot_id, generated_by: 'crete-content-generator' },\n  image_type: ctx.image_type || null,\n  image_style: ctx.image_style || null,\n  image_theme: ctx.image_theme || null,\n  media_url: null\n};"},"id":"a504a9a0-332e-4e8c-b40d-5ddf8a031cb8","name":"Build Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,300]},{"parameters":{"method":"POST","url":"https://fdabygmromuqtysitodp.supabase.co/rest/v1/crete_content_queue","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_ANON_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"54557176-453e-4b8d-818e-decb049638e8","name":"Insert to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2500,300],"credentials":{"httpHeaderAuth":{"id":"Nd2uuX5t9KEwbQPv","name":"Supabase FSC"}}},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\": 1375806243,\n  \"text\": \"🆕 New Crete content for review: {{ $('Build Row').item.json.title }} ({{ $('Build Row').item.json.content_type }}). Review at agentboardroom.flowos.tech\",\n}","options":{}},"id":"b826bc5d-bd77-4b56-82b7-9a6de17a2c09","name":"Telegram Notify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2720,300],"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const row = $input.item.json;\nconst isInstagram = (row.platform || '').toLowerCase() === 'instagram';\nconst imageType = row.image_type || (isInstagram ? 'text_card' : null);\n\nif (!isInstagram) {\n  return row;\n}\n\nif (imageType === 'photo') {\n  return { ...row, _needsPhoto: true, _photoTheme: row.image_theme || '' };\n}\n\nconst style = row.image_style || 'quote';\nconst body = row.body || '';\nconst sentences = body.match(/[^.!?]+[.!?]+/g) || [body.slice(0, 200)];\n\nlet apiBody;\nif (style === 'editorial') {\n  apiBody = {\n    style: 'editorial',\n    headline: (sentences[0] || '').trim().slice(0, 200),\n    body: (sentences[1] || '').trim().slice(0, 300)\n  };\n} else {\n  const quoteText = sentences.slice(0, 2).join(' ').trim().slice(0, 400);\n  apiBody = { style: 'quote', text: quoteText };\n}\n\nreturn { ...row, _needsImage: true, _apiBody: apiBody };"},"id":"c1a2b3d4-e5f6-7890-abcd-100000000001","name":"Image Router","type":"n8n-nodes-base.code","typeVersion":2,"position":[1620,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json._needsImage }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"id":"c1a2b3d4-e5f6-7890-abcd-100000000002","name":"Needs Image?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1840,300]},{"parameters":{"method":"POST","url":"=https://agentboardroom.flowos.tech/api/crete/generate-image?token={{$env.QCLAW_API_TOKEN}}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json._apiBody) }}","options":{"timeout":30000}},"id":"c1a2b3d4-e5f6-7890-abcd-100000000003","name":"Generate Text Card","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2060,200],"onError":"continueErrorOutput","retryOnFail":false},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Merge generator response into row. Throws loudly if generator failed.\nconst apiResp = $input.item.json;\nconst row = $('Image Router').item.json;\nif (apiResp && apiResp.url) {\n  const { _needsImage, _apiBody, ...cleanRow } = row;\n  cleanRow.media_url = apiResp.url;\n  cleanRow.metadata = { ...(row.metadata || {}), image_source: 'generator' };\n  return cleanRow;\n}\nthrow new Error(\n  'generate-image API returned no url for slot ' +\n  (row.metadata?.slot_id || row.title || 'unknown') +\n  '. Response: ' + JSON.stringify(apiResp || {}).slice(0, 500)\n);"},"id":"c1a2b3d4-e5f6-7890-abcd-100000000004","name":"Merge Image URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[2280,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json._needsPhoto }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"id":"c1a2b3d4-e5f6-7890-abcd-100000000005","name":"Needs Photo?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2060,420]},{"parameters":{"method":"GET","url":"https://media.creteprojects.com/photos/library.json","options":{"timeout":15000}},"id":"c1a2b3d4-e5f6-7890-abcd-100000000006","name":"Fetch Photo Library","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2280,380]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Select a random photo from library, filtered by theme. Throws if none usable.\n// $input.item.json IS the photo-library response (contains photos[]); the actual row\n// context (title/body/platform/etc.) lives upstream. Two upstream paths feed here:\n//   - normal photo path: Image Router emitted {_needsPhoto:true,...}\n//   - text-card-failed fallback path: Photo Fallback emitted {_fallback_from_generator:true,...}\n// Use Photo Fallback's output if it ran, else Image Router. $() throws if a node\n// didn't run in this execution, so guard with try/catch.\nlet row;\ntry {\n  const fb = $('Photo Fallback').item.json;\n  row = (fb && fb._fallback_from_generator) ? fb : $('Image Router').item.json;\n} catch (e) {\n  row = $('Image Router').item.json;\n}\nconst photoLib = $('Fetch Photo Library').item.json;\nconst photos = photoLib?.photos || photoLib?.body?.photos || [];\nif (!Array.isArray(photos) || photos.length === 0) {\n  throw new Error('Photo library returned 0 photos. Theme=' + (row._photoTheme || row.image_theme || 'any'));\n}\nconst theme = (row._photoTheme || row.image_theme || row.theme || '').toLowerCase();\nlet pool = photos;\nif (theme) {\n  const themed = photos.filter(p => ((p.theme || '') + ' ' + ((p.tags || []).join(' '))).toLowerCase().includes(theme));\n  if (themed.length > 0) pool = themed;\n}\nconst selected = pool[Math.floor(Math.random() * pool.length)];\nif (!selected || !selected.public_url) {\n  throw new Error('Photo library returned no usable photo for theme: ' + (theme || 'any') + '. Library size: ' + photos.length);\n}\n// Strip ALL transient flags including _needsImage/_apiBody (set by Image Router on text-card path,\n// would leak through on the fallback path).\nconst { _needsPhoto, _photoTheme, _fallback_from_generator, _needsImage, _apiBody, ...cleanRow } = row;\ncleanRow.media_url = selected.public_url;\ncleanRow.metadata = { ...(row.metadata || {}), image_source: row._fallback_from_generator ? 'library_fallback' : 'library', photo_id: selected.id };\nreturn cleanRow;"},"id":"c1a2b3d4-e5f6-7890-abcd-100000000007","name":"Select Random Photo","type":"n8n-nodes-base.code","typeVersion":2,"position":[2500,380]},{"parameters":{"jsCode":"// Fallback when generate-image errors: queue photo path, mark fallback for downstream alert.\nconst row = $('Image Router').item.json;\nreturn {\n  ...row,\n  _needsPhoto: true,\n  _photoTheme: row.image_theme || row.theme || '',\n  _fallback_from_generator: true\n};"},"id":"c0000000-0000-0000-0000-000000000030","name":"Photo Fallback","type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,540]},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: 1375806243, text: '\\u26A0\\uFE0F Image generator unavailable, fell back to stock photo for ' + ($(\\'Image Router\\').item.json.title || 'slot') }) }}","options":{"timeout":15000}},"id":"c0000000-0000-0000-0000-000000000031","name":"Telegram Fallback Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1900,540],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: 1375806243, text: '\\u{1F49B} Content Generator tick OK — generated ' + $items().length + ' row(s)' }) }}","options":{"timeout":15000}},"id":"c0000000-0000-0000-0000-000000000032","name":"Heartbeat","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,300],"onError":"continueRegularOutput"}],"connections":{"Schedule 08:00 UTC":{"main":[[{"node":"Fetch Calendar","type":"main","index":0}]]},"Fetch Calendar":{"main":[[{"node":"Filter Due Slots","type":"main","index":0}]]},"Filter Due Slots":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Build Row","type":"main","index":0}]]},"Build Row":{"main":[[{"node":"Image Router","type":"main","index":0}]]},"Insert to Supabase":{"main":[[{"node":"Telegram Notify","type":"main","index":0}]]},"Image Router":{"main":[[{"node":"Needs Image?","type":"main","index":0}]]},"Needs Image?":{"main":[[{"node":"Generate Text Card","type":"main","index":0}],[{"node":"Needs Photo?","type":"main","index":0}]]},"Generate Text Card":{"main":[[{"node":"Merge Image URL","type":"main","index":0}],[{"node":"Photo Fallback","type":"main","index":0}]]},"Merge Image URL":{"main":[[{"node":"Insert to Supabase","type":"main","index":0}]]},"Needs Photo?":{"main":[[{"node":"Fetch Photo Library","type":"main","index":0}],[{"node":"Insert to Supabase","type":"main","index":0}]]},"Fetch Photo Library":{"main":[[{"node":"Select Random Photo","type":"main","index":0}]]},"Select Random Photo":{"main":[[{"node":"Insert to Supabase","type":"main","index":0}]]},"Photo Fallback":{"main":[[{"node":"Telegram Fallback Alert","type":"main","index":0}]]},"Telegram Fallback Alert":{"main":[[{"node":"Fetch Photo Library","type":"main","index":0}]]}},"authors":"Tyson Venables","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-02T08:35:19.739Z","id":832,"workflowId":"tnvXFYvODL1PrhJa","versionId":"a40a78e9-4c3e-4084-873b-a66e90a54da4","event":"activated","userId":"b1512bca-25b8-4b8b-add0-b86540e5144d"}]}}