n8n-workflows/ghl-marketing-scheduled-publisher.json
{"updatedAt":"2026-04-21T18:21:48.730Z","createdAt":"2026-04-21T18:21:48.730Z","id":"dHceOMijUOcnEowO","name":"GHL Marketing: Scheduled Publisher","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"s0000001-0001-4000-8000-000000000001","name":"Every 15 min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300]},{"parameters":{"method":"GET","url":"=https://fdabygmromuqtysitodp.supabase.co/rest/v1/marketing_drafts?status=eq.approved&scheduled_for=not.is.null&scheduled_for=lte.{{ $now.toISO() }}&select=id,scheduled_for,post_type&order=scheduled_for.asc&limit=25","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"s0000001-0001-4000-8000-000000000002","name":"Fetch Due Drafts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,300],"credentials":{"httpHeaderAuth":{"id":"Nd2uuX5t9KEwbQPv","name":"Supabase FSC"}},"alwaysOutputData":true},{"parameters":{"jsCode":"const rows = $input.first().json;\nconst list = Array.isArray(rows) ? rows : [];\nreturn list.map(r => ({ json: r }));"},"id":"s0000001-0001-4000-8000-000000000003","name":"Split Rows","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,300]},{"parameters":{"method":"POST","url":"https://webhook.flowos.tech/webhook/ghl-marketing-publish","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ draftId: $json.id }) }}","options":{"timeout":30000}},"id":"s0000001-0001-4000-8000-000000000004","name":"Fire Publisher","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,300],"onError":"continueRegularOutput","alwaysOutputData":true}],"connections":{"Every 15 min":{"main":[[{"node":"Fetch Due Drafts","type":"main","index":0}]]},"Fetch Due Drafts":{"main":[[{"node":"Split Rows","type":"main","index":0}]]},"Split Rows":{"main":[[{"node":"Fire Publisher","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Every 15 min":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"2f88dbba-242b-4c2c-8831-cebc96e7d0db","activeVersionId":"2f88dbba-242b-4c2c-8831-cebc96e7d0db","versionCounter":4,"triggerCount":1,"shared":[{"updatedAt":"2026-04-21T18:21:48.730Z","createdAt":"2026-04-21T18:21:48.730Z","role":"workflow:owner","workflowId":"dHceOMijUOcnEowO","projectId":"KwpTDWcFWL3DfyW3","project":{"updatedAt":"2026-04-08T20:28:08.726Z","createdAt":"2025-06-06T11:27:14.830Z","id":"KwpTDWcFWL3DfyW3","name":"Tyson Venables <tysonvenables@protonmail.com>","type":"personal","icon":null,"description":null,"creatorId":"b1512bca-25b8-4b8b-add0-b86540e5144d","projectRelations":[{"updatedAt":"2025-06-06T11:27:14.830Z","createdAt":"2025-06-06T11:27:14.830Z","userId":"b1512bca-25b8-4b8b-add0-b86540e5144d","projectId":"KwpTDWcFWL3DfyW3","user":{"updatedAt":"2026-04-21T06:23:48.917Z","createdAt":"2025-06-06T11:27:13.858Z","id":"b1512bca-25b8-4b8b-add0-b86540e5144d","email":"tysonvenables@protonmail.com","firstName":"Tyson","lastName":"Venables","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-06T11:42:52.454Z","personalization_survey_n8n_version":"1.95.3","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"WVXrFCjb8wO7RWRX","userActivatedAt":1751062185356,"npsSurvey":{"responded":true,"lastShownAt":1769430963515}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-21","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-21T18:21:48.745Z","createdAt":"2026-04-21T18:21:48.745Z","versionId":"2f88dbba-242b-4c2c-8831-cebc96e7d0db","workflowId":"dHceOMijUOcnEowO","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"s0000001-0001-4000-8000-000000000001","name":"Every 15 min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300]},{"parameters":{"method":"GET","url":"=https://fdabygmromuqtysitodp.supabase.co/rest/v1/marketing_drafts?status=eq.approved&scheduled_for=not.is.null&scheduled_for=lte.{{ $now.toISO() }}&select=id,scheduled_for,post_type&order=scheduled_for.asc&limit=25","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"s0000001-0001-4000-8000-000000000002","name":"Fetch Due Drafts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,300],"credentials":{"httpHeaderAuth":{"id":"Nd2uuX5t9KEwbQPv","name":"Supabase FSC"}},"alwaysOutputData":true},{"parameters":{"jsCode":"const rows = $input.first().json;\nconst list = Array.isArray(rows) ? rows : [];\nreturn list.map(r => ({ json: r }));"},"id":"s0000001-0001-4000-8000-000000000003","name":"Split Rows","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,300]},{"parameters":{"method":"POST","url":"https://webhook.flowos.tech/webhook/ghl-marketing-publish","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ draftId: $json.id }) }}","options":{"timeout":30000}},"id":"s0000001-0001-4000-8000-000000000004","name":"Fire Publisher","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,300],"onError":"continueRegularOutput","alwaysOutputData":true}],"connections":{"Every 15 min":{"main":[[{"node":"Fetch Due Drafts","type":"main","index":0}]]},"Fetch Due Drafts":{"main":[[{"node":"Split Rows","type":"main","index":0}]]},"Split Rows":{"main":[[{"node":"Fire Publisher","type":"main","index":0}]]}},"authors":"Tyson Venables","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-21T18:21:48.992Z","id":717,"workflowId":"dHceOMijUOcnEowO","versionId":"2f88dbba-242b-4c2c-8831-cebc96e7d0db","event":"activated","userId":"b1512bca-25b8-4b8b-add0-b86540e5144d"}]}}