n8n-workflows/ghl-marketing-weekly-report.json
{"updatedAt":"2026-04-21T13:19:09.161Z","createdAt":"2026-04-13T13:10:48.016Z","id":"jRiiOsWneQAtfVPD","name":"GHL Marketing: Weekly Report","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 20 * * 0"}]}},"id":"d4000001-0001-4000-8000-000000000001","name":"Sunday 20:00 UTC","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300]},{"parameters":{"jsCode":"const sevenDaysAgo = new Date(Date.now() - 7 * 86400000).toISOString();\nreturn [{ json: { since: sevenDaysAgo, sinceUnix: Math.floor((Date.now() - 7 * 86400000) / 1000) } }];"},"id":"d4000001-0001-4000-8000-000000000002","name":"Calculate Date Range","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,300]},{"parameters":{"method":"GET","url":"=https://fdabygmromuqtysitodp.supabase.co/rest/v1/marketing_drafts?created_at=gte.{{ $json.since }}&select=*","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_ANON_KEY}}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"d4000001-0001-4000-8000-000000000003","name":"Fetch Marketing Stats","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,300],"credentials":{"httpHeaderAuth":{"id":"Nd2uuX5t9KEwbQPv","name":"Supabase FSC"}}},{"parameters":{"jsCode":"const drafts = $input.first().json;\nconst rows = Array.isArray(drafts) ? drafts : [];\n\nconst stats = {\n  total: rows.length,\n  published: rows.filter(r => r.status === 'published').length,\n  approved: rows.filter(r => r.status === 'approved').length,\n  rejected: rows.filter(r => r.status === 'rejected').length,\n  pending: rows.filter(r => r.status === 'pending_approval').length,\n  postTypes: {}\n};\n\nrows.forEach(r => {\n  stats.postTypes[r.post_type] = (stats.postTypes[r.post_type] || 0) + 1;\n});\n\nreturn [{ json: { stats, weekStart: $('Calculate Date Range').first().json.since } }];"},"id":"d4000001-0001-4000-8000-000000000004","name":"Aggregate Stats","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,300]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 500, messages: [{ role: 'user', content: 'Summarize this week\\'s GHL Support Specialist marketing performance. Data: ' + JSON.stringify($json.stats) + '. Flag any concerns. Recommend next week\\'s focus. Keep it under 200 words. Format for Telegram (plain text, use line breaks).' }] }) }}","options":{"response":{"response":{"responseFormat":"json"}}},"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"id":"d4000001-0001-4000-8000-000000000005","name":"Generate Report (Claude Haiku)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,300],"credentials":{"httpHeaderAuth":{"id":"V9YcuDfp9lqydyDH","name":"Anthropic Header Auth"}}},{"parameters":{"jsCode":"const response = $input.first().json;\nconst report = response.content?.[0]?.text || 'Failed to generate report';\nconst stats = $('Aggregate Stats').first().json.stats;\n\nconst message = `\ud83d\udcca <b>GHL Marketing \u2014 Weekly Report</b>\\n` +\n  `Week ending ${new Date().toLocaleDateString('en-AU', {weekday:'long',day:'numeric',month:'long',year:'numeric'})}\\n\\n` +\n  `<b>Stats:</b>\\n` +\n  `\u2022 Total drafts: ${stats.total}\\n` +\n  `\u2022 Published: ${stats.published}\\n` +\n  `\u2022 Approved: ${stats.approved}\\n` +\n  `\u2022 Rejected: ${stats.rejected}\\n` +\n  `\u2022 Pending: ${stats.pending}\\n\\n` +\n  `<b>AI Summary:</b>\\n${report}`;\n\nreturn [{ json: { message } }];"},"id":"d4000001-0001-4000-8000-000000000006","name":"Format Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,300]},{"parameters":{"chatId":"1375806243","text":"={{ $json.message }}","additionalFields":{"parse_mode":"HTML"}},"id":"d4000001-0001-4000-8000-000000000007","name":"Send Report to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1520,300],"credentials":{"telegramApi":{"id":"UR6xX8CchGBKaP3h","name":"Flow States Ads Bot"}}}],"connections":{"Sunday 20:00 UTC":{"main":[[{"node":"Calculate Date Range","type":"main","index":0}]]},"Calculate Date Range":{"main":[[{"node":"Fetch Marketing Stats","type":"main","index":0}]]},"Fetch Marketing Stats":{"main":[[{"node":"Aggregate Stats","type":"main","index":0}]]},"Aggregate Stats":{"main":[[{"node":"Generate Report (Claude Haiku)","type":"main","index":0}]]},"Generate Report (Claude Haiku)":{"main":[[{"node":"Format Report","type":"main","index":0}]]},"Format Report":{"main":[[{"node":"Send Report to Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":{"node:Sunday 20:00 UTC":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"ac5fab20-e864-4b0e-acbb-9ca57dad160f","activeVersionId":"ac5fab20-e864-4b0e-acbb-9ca57dad160f","versionCounter":13,"triggerCount":1,"shared":[{"updatedAt":"2026-04-13T13:10:48.016Z","createdAt":"2026-04-13T13:10:48.016Z","role":"workflow:owner","workflowId":"jRiiOsWneQAtfVPD","projectId":"KwpTDWcFWL3DfyW3","project":{"updatedAt":"2026-04-08T20:28:08.726Z","createdAt":"2025-06-06T11:27:14.830Z","id":"KwpTDWcFWL3DfyW3","name":"Tyson Venables <tysonvenables@protonmail.com>","type":"personal","icon":null,"description":null,"creatorId":"b1512bca-25b8-4b8b-add0-b86540e5144d","projectRelations":[{"updatedAt":"2025-06-06T11:27:14.830Z","createdAt":"2025-06-06T11:27:14.830Z","userId":"b1512bca-25b8-4b8b-add0-b86540e5144d","projectId":"KwpTDWcFWL3DfyW3","user":{"updatedAt":"2026-04-21T06:23:48.917Z","createdAt":"2025-06-06T11:27:13.858Z","id":"b1512bca-25b8-4b8b-add0-b86540e5144d","email":"tysonvenables@protonmail.com","firstName":"Tyson","lastName":"Venables","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-06T11:42:52.454Z","personalization_survey_n8n_version":"1.95.3","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"WVXrFCjb8wO7RWRX","userActivatedAt":1751062185356,"npsSurvey":{"responded":true,"lastShownAt":1769430963515}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-21","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-21T13:19:09.162Z","createdAt":"2026-04-21T13:19:09.162Z","versionId":"ac5fab20-e864-4b0e-acbb-9ca57dad160f","workflowId":"jRiiOsWneQAtfVPD","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 20 * * 0"}]}},"id":"d4000001-0001-4000-8000-000000000001","name":"Sunday 20:00 UTC","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300]},{"parameters":{"jsCode":"const sevenDaysAgo = new Date(Date.now() - 7 * 86400000).toISOString();\nreturn [{ json: { since: sevenDaysAgo, sinceUnix: Math.floor((Date.now() - 7 * 86400000) / 1000) } }];"},"id":"d4000001-0001-4000-8000-000000000002","name":"Calculate Date Range","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,300]},{"parameters":{"method":"GET","url":"=https://fdabygmromuqtysitodp.supabase.co/rest/v1/marketing_drafts?created_at=gte.{{ $json.since }}&select=*","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_ANON_KEY}}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"d4000001-0001-4000-8000-000000000003","name":"Fetch Marketing Stats","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,300],"credentials":{"httpHeaderAuth":{"id":"Nd2uuX5t9KEwbQPv","name":"Supabase FSC"}}},{"parameters":{"jsCode":"const drafts = $input.first().json;\nconst rows = Array.isArray(drafts) ? drafts : [];\n\nconst stats = {\n  total: rows.length,\n  published: rows.filter(r => r.status === 'published').length,\n  approved: rows.filter(r => r.status === 'approved').length,\n  rejected: rows.filter(r => r.status === 'rejected').length,\n  pending: rows.filter(r => r.status === 'pending_approval').length,\n  postTypes: {}\n};\n\nrows.forEach(r => {\n  stats.postTypes[r.post_type] = (stats.postTypes[r.post_type] || 0) + 1;\n});\n\nreturn [{ json: { stats, weekStart: $('Calculate Date Range').first().json.since } }];"},"id":"d4000001-0001-4000-8000-000000000004","name":"Aggregate Stats","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,300]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 500, messages: [{ role: 'user', content: 'Summarize this week\\'s GHL Support Specialist marketing performance. Data: ' + JSON.stringify($json.stats) + '. Flag any concerns. Recommend next week\\'s focus. Keep it under 200 words. Format for Telegram (plain text, use line breaks).' }] }) }}","options":{"response":{"response":{"responseFormat":"json"}}},"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"id":"d4000001-0001-4000-8000-000000000005","name":"Generate Report (Claude Haiku)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,300],"credentials":{"httpHeaderAuth":{"id":"V9YcuDfp9lqydyDH","name":"Anthropic Header Auth"}}},{"parameters":{"jsCode":"const response = $input.first().json;\nconst report = response.content?.[0]?.text || 'Failed to generate report';\nconst stats = $('Aggregate Stats').first().json.stats;\n\nconst message = `\ud83d\udcca <b>GHL Marketing \u2014 Weekly Report</b>\\n` +\n  `Week ending ${new Date().toLocaleDateString('en-AU', {weekday:'long',day:'numeric',month:'long',year:'numeric'})}\\n\\n` +\n  `<b>Stats:</b>\\n` +\n  `\u2022 Total drafts: ${stats.total}\\n` +\n  `\u2022 Published: ${stats.published}\\n` +\n  `\u2022 Approved: ${stats.approved}\\n` +\n  `\u2022 Rejected: ${stats.rejected}\\n` +\n  `\u2022 Pending: ${stats.pending}\\n\\n` +\n  `<b>AI Summary:</b>\\n${report}`;\n\nreturn [{ json: { message } }];"},"id":"d4000001-0001-4000-8000-000000000006","name":"Format Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,300]},{"parameters":{"chatId":"1375806243","text":"={{ $json.message }}","additionalFields":{"parse_mode":"HTML"}},"id":"d4000001-0001-4000-8000-000000000007","name":"Send Report to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1520,300],"credentials":{"telegramApi":{"id":"UR6xX8CchGBKaP3h","name":"Flow States Ads Bot"}}}],"connections":{"Sunday 20:00 UTC":{"main":[[{"node":"Calculate Date Range","type":"main","index":0}]]},"Calculate Date Range":{"main":[[{"node":"Fetch Marketing Stats","type":"main","index":0}]]},"Fetch Marketing Stats":{"main":[[{"node":"Aggregate Stats","type":"main","index":0}]]},"Aggregate Stats":{"main":[[{"node":"Generate Report (Claude Haiku)","type":"main","index":0}]]},"Generate Report (Claude Haiku)":{"main":[[{"node":"Format Report","type":"main","index":0}]]},"Format Report":{"main":[[{"node":"Send Report to Telegram","type":"main","index":0}]]}},"authors":"Tyson Venables","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-21T13:19:09.225Z","id":701,"workflowId":"jRiiOsWneQAtfVPD","versionId":"ac5fab20-e864-4b0e-acbb-9ca57dad160f","event":"activated","userId":"b1512bca-25b8-4b8b-add0-b86540e5144d"}]}}