n8n-workflows/ghl-marketing-publisher.json
{
  "updatedAt": "2026-04-27T14:49:34.255Z",
  "createdAt": "2026-04-13T13:10:45.173Z",
  "id": "fonuRTyqepxdyIdf",
  "name": "GHL Marketing: Publisher",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ghl-marketing-publish",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "p0000001-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        32,
        464
      ],
      "webhookId": "ghl-marketing-publish"
    },
    {
      "parameters": {
        "url": "=https://fdabygmromuqtysitodp.supabase.co/rest/v1/marketing_drafts?id=eq.{{ $json.body.draftId }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "p0000001-0001-4000-8000-000000000002",
      "name": "Fetch Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.first().json;\nconst draft = Array.isArray(rows) ? rows[0] : rows;\nif (!draft || !draft.id) throw new Error('Draft not found');\n\nconst DEFAULT_IMAGE = $env.GHL_DEFAULT_IMAGE_URL\n  || 'https://pub-1fa192ebc8ff40dba2b9a0f1890e6f7a.r2.dev/marketing-templates/ghl-template-value-led.jpg';\nconst effective_image_url = draft.image_url || DEFAULT_IMAGE;\n\nreturn [{\n  json: {\n    ...draft,\n    effective_image_url,\n    published_platforms: [],\n    publish_errors: {},\n  }\n}];"
      },
      "id": "p0000001-0001-4000-8000-000000000003",
      "name": "Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        464
      ]
    },
    {
      "parameters": {
        "url": "=https://fdabygmromuqtysitodp.supabase.co/rest/v1/marketing_drafts?published_platforms=cs.%5B%22linkedin%22%5D&published_at=gte.{{ new Date(Date.now()-4*3600*1000).toISOString() }}&select=id,published_at&order=published_at.desc&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "p0000001-0001-4000-8000-000000000004",
      "name": "LI Guard Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        464
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Read recent LinkedIn publish history; block if within 4 hours.\nconst prep = $('Prepare').first().json;\nconst rows = $input.first().json;\nconst recent = Array.isArray(rows) ? rows : [];\nconst skip_linkedin = recent.length > 0;\nconst linkedin_skip_reason = skip_linkedin\n  ? `4h-guard: last LinkedIn post at ${recent[0]?.published_at || 'unknown'}`\n  : null;\nreturn [{ json: { ...prep, skip_linkedin, linkedin_skip_reason } }];\n"
      },
      "id": "p0000001-0001-4000-8000-000000000005",
      "name": "LI Guard Apply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{$env.FLOWOS_META_PAGE_ID}}/photos",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": {{ JSON.stringify($json.effective_image_url) }},\n  \"caption\": {{ JSON.stringify($json.facebook_post || \"\") }},\n  \"access_token\": \"{{$env.FLOWOS_META_PAGE_ACCESS_TOKEN}}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "p0000001-0001-4000-8000-000000000006",
      "name": "Facebook Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        464
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "skip-li-cond",
              "leftValue": "={{ $('LI Guard Apply').item.json.skip_linkedin }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "p0000001-0001-4000-8000-000000000009",
      "name": "Skip LinkedIn?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1856,
        464
      ]
    },
    {
      "parameters": {
        "platform": "linkedin",
        "accountId": {
          "__rl": true,
          "value": "11109",
          "mode": "list",
          "cachedResultName": "Tyson Venables",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/11109"
        },
        "postContentText": "={{ $('Prepare').item.json.linkedin_post || '' }}",
        "options": {}
      },
      "id": "p0000001-0001-4000-8000-00000000000a",
      "name": "LinkedIn Post (Blotato)",
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        2080,
        688
      ],
      "alwaysOutputData": true,
      "credentials": {
        "blotatoApi": {
          "id": "Bs2TEAOA9mVKfcR3",
          "name": "Blotato account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Inspect every platform node's run result and assemble final publish state.\nconst prep = $('Prepare').first().json;\nconst guard = $('LI Guard Apply').first().json;\n\nconst published = [];\nconst errors = {};\n\nconst readNode = (name) => {\n  try { return $(name).first()?.json; } catch { return undefined; }\n};\n\n// Facebook: Graph API returns { id: '...' } on success; error has { error: {...} }.\nconst fb = readNode('Facebook Post');\nif (fb && fb.id && !fb.error) published.push('facebook');\nelse errors.facebook = fb?.error?.message || fb?.error?.error_user_msg || fb?.message || 'unknown error';\n\n// Instagram via Blotato.\nconst igB = readNode('IG Post (Blotato)');\nif (igB && !igB.error) {\n  published.push('instagram');\n} else {\n  errors.instagram = igB?.error?.message\n    || igB?.error\n    || igB?.message\n    || 'unknown Blotato IG error';\n}\n\n// LinkedIn: skipped (4h guard) OR Blotato success.\nif (guard.skip_linkedin) {\n  errors.linkedin = guard.linkedin_skip_reason || 'skipped by 4h guard';\n} else {\n  const li = readNode('LinkedIn Post (Blotato)');\n  if (li && !li.error) published.push('linkedin');\n  else errors.linkedin = li?.error?.message || li?.message || 'unknown LinkedIn error';\n}\n\nconst all_ok = Object.keys(errors).length === 0;\nconst status = all_ok ? 'published' : 'partially_published';\n\nreturn [{\n  json: {\n    ...prep,\n    published_platforms: published,\n    publish_errors: errors,\n    final_status: status,\n    now_iso: new Date().toISOString(),\n  }\n}];"
      },
      "id": "p0000001-0001-4000-8000-00000000000b",
      "name": "Compute Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        448
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://fdabygmromuqtysitodp.supabase.co/rest/v1/marketing_drafts?id=eq.{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  status: $json.final_status,\n  published_at: $json.now_iso,\n  updated_at: $json.now_iso,\n  published_platforms: $json.published_platforms,\n  publish_errors: Object.keys($json.publish_errors).length ? $json.publish_errors : null\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "p0000001-0001-4000-8000-00000000000c",
      "name": "Update Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2528,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id: 1375806243,\n  text: (function() {\n    const f = $('Compute Final').item.json;\n    const ok = f.published_platforms || [];\n    const errs = f.publish_errors || {};\n    const lines = ['<b>GHL Marketing — publish result</b>'];\n    lines.push('Draft: <code>' + f.id + '</code>');\n    lines.push('Status: <b>' + f.final_status + '</b>');\n    if (ok.length) lines.push('✅ Published: ' + ok.join(', '));\n    Object.entries(errs).forEach(([k,v]) => lines.push('❌ ' + k + ': ' + v));\n    return lines.join('\\n');\n  })(),\n  parse_mode: 'HTML'\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "p0000001-0001-4000-8000-00000000000d",
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2736,
        448
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  ok: true,\n  draftId: $('Compute Final').item.json.id,\n  status: $('Compute Final').item.json.final_status,\n  published_platforms: $('Compute Final').item.json.published_platforms,\n  publish_errors: $('Compute Final').item.json.publish_errors\n}) }}",
        "options": {}
      },
      "id": "p0000001-0001-4000-8000-00000000000e",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2928,
        448
      ]
    },
    {
      "id": "p0000001-0001-4000-8000-0000000blot01",
      "name": "IG Post (Blotato)",
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1392,
        128
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "parameters": {
        "accountId": {
          "__rl": true,
          "value": "27064",
          "mode": "list",
          "cachedResultName": "flow_os",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/27064"
        },
        "postContentText": "={{ $('Prepare').item.json.instagram_caption || '' }}",
        "postContentMediaUrls": "={{ $('Prepare').item.json.effective_image_url }}",
        "options": {}
      },
      "credentials": {
        "blotatoApi": {
          "id": "Bs2TEAOA9mVKfcR3",
          "name": "Blotato account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Draft": {
      "main": [
        [
          {
            "node": "Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare": {
      "main": [
        [
          {
            "node": "LI Guard Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LI Guard Check": {
      "main": [
        [
          {
            "node": "LI Guard Apply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LI Guard Apply": {
      "main": [
        [
          {
            "node": "Facebook Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Post": {
      "main": [
        [
          {
            "node": "IG Post (Blotato)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip LinkedIn?": {
      "main": [
        [
          {
            "node": "Compute Final",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkedIn Post (Blotato)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Post (Blotato)": {
      "main": [
        [
          {
            "node": "Compute Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Final": {
      "main": [
        [
          {
            "node": "Update Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Supabase": {
      "main": [
        [
          {
            "node": "Telegram Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Notify": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Post (Blotato)": {
      "main": [
        [
          {
            "node": "Skip LinkedIn?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b3bafe6d-836c-4695-9def-4d9eed5e307f",
  "activeVersionId": "b3bafe6d-836c-4695-9def-4d9eed5e307f",
  "versionCounter": 93,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-13T13:10:45.173Z",
      "createdAt": "2026-04-13T13:10:45.173Z",
      "role": "workflow:owner",
      "workflowId": "fonuRTyqepxdyIdf",
      "projectId": "KwpTDWcFWL3DfyW3",
      "project": {
        "updatedAt": "2026-04-08T20:28:08.726Z",
        "createdAt": "2025-06-06T11:27:14.830Z",
        "id": "KwpTDWcFWL3DfyW3",
        "name": "Tyson Venables <tysonvenables@protonmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b1512bca-25b8-4b8b-add0-b86540e5144d",
        "projectRelations": [
          {
            "updatedAt": "2025-06-06T11:27:14.830Z",
            "createdAt": "2025-06-06T11:27:14.830Z",
            "userId": "b1512bca-25b8-4b8b-add0-b86540e5144d",
            "projectId": "KwpTDWcFWL3DfyW3",
            "user": {
              "updatedAt": "2026-04-27T13:05:59.036Z",
              "createdAt": "2025-06-06T11:27:13.858Z",
              "id": "b1512bca-25b8-4b8b-add0-b86540e5144d",
              "email": "tysonvenables@protonmail.com",
              "firstName": "Tyson",
              "lastName": "Venables",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-06T11:42:52.454Z",
                "personalization_survey_n8n_version": "1.95.3",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "WVXrFCjb8wO7RWRX",
                "userActivatedAt": 1751062185356,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769430963515
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-27T14:49:34.260Z",
    "createdAt": "2026-04-27T14:49:34.260Z",
    "versionId": "b3bafe6d-836c-4695-9def-4d9eed5e307f",
    "workflowId": "fonuRTyqepxdyIdf",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ghl-marketing-publish",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "p0000001-0001-4000-8000-000000000001",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          32,
          464
        ],
        "webhookId": "ghl-marketing-publish"
      },
      {
        "parameters": {
          "url": "=https://fdabygmromuqtysitodp.supabase.co/rest/v1/marketing_drafts?id=eq.{{ $json.body.draftId }}&select=*",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_ANON_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "p0000001-0001-4000-8000-000000000002",
        "name": "Fetch Draft",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          224,
          464
        ]
      },
      {
        "parameters": {
          "jsCode": "const rows = $input.first().json;\nconst draft = Array.isArray(rows) ? rows[0] : rows;\nif (!draft || !draft.id) throw new Error('Draft not found');\n\nconst DEFAULT_IMAGE = $env.GHL_DEFAULT_IMAGE_URL\n  || 'https://pub-1fa192ebc8ff40dba2b9a0f1890e6f7a.r2.dev/marketing-templates/ghl-template-value-led.jpg';\nconst effective_image_url = draft.image_url || DEFAULT_IMAGE;\n\nreturn [{\n  json: {\n    ...draft,\n    effective_image_url,\n    published_platforms: [],\n    publish_errors: {},\n  }\n}];"
        },
        "id": "p0000001-0001-4000-8000-000000000003",
        "name": "Prepare",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          432,
          464
        ]
      },
      {
        "parameters": {
          "url": "=https://fdabygmromuqtysitodp.supabase.co/rest/v1/marketing_drafts?published_platforms=cs.%5B%22linkedin%22%5D&published_at=gte.{{ new Date(Date.now()-4*3600*1000).toISOString() }}&select=id,published_at&order=published_at.desc&limit=1",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_ANON_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "p0000001-0001-4000-8000-000000000004",
        "name": "LI Guard Check",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          624,
          464
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "// Read recent LinkedIn publish history; block if within 4 hours.\nconst prep = $('Prepare').first().json;\nconst rows = $input.first().json;\nconst recent = Array.isArray(rows) ? rows : [];\nconst skip_linkedin = recent.length > 0;\nconst linkedin_skip_reason = skip_linkedin\n  ? `4h-guard: last LinkedIn post at ${recent[0]?.published_at || 'unknown'}`\n  : null;\nreturn [{ json: { ...prep, skip_linkedin, linkedin_skip_reason } }];\n"
        },
        "id": "p0000001-0001-4000-8000-000000000005",
        "name": "LI Guard Apply",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          832,
          464
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.facebook.com/v19.0/{{$env.FLOWOS_META_PAGE_ID}}/photos",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"url\": {{ JSON.stringify($json.effective_image_url) }},\n  \"caption\": {{ JSON.stringify($json.facebook_post || \"\") }},\n  \"access_token\": \"{{$env.FLOWOS_META_PAGE_ACCESS_TOKEN}}\"\n}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "p0000001-0001-4000-8000-000000000006",
        "name": "Facebook Post",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1024,
          464
        ],
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "skip-li-cond",
                "leftValue": "={{ $('LI Guard Apply').item.json.skip_linkedin }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "p0000001-0001-4000-8000-000000000009",
        "name": "Skip LinkedIn?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1856,
          464
        ]
      },
      {
        "parameters": {
          "platform": "linkedin",
          "accountId": {
            "__rl": true,
            "value": "11109",
            "mode": "list",
            "cachedResultName": "Tyson Venables",
            "cachedResultUrl": "https://backend.blotato.com/v2/accounts/11109"
          },
          "postContentText": "={{ $('Prepare').item.json.linkedin_post || '' }}",
          "options": {}
        },
        "id": "p0000001-0001-4000-8000-00000000000a",
        "name": "LinkedIn Post (Blotato)",
        "type": "@blotato/n8n-nodes-blotato.blotato",
        "typeVersion": 2,
        "position": [
          2080,
          688
        ],
        "alwaysOutputData": true,
        "credentials": {
          "blotatoApi": {
            "id": "Bs2TEAOA9mVKfcR3",
            "name": "Blotato account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Inspect every platform node's run result and assemble final publish state.\nconst prep = $('Prepare').first().json;\nconst guard = $('LI Guard Apply').first().json;\n\nconst published = [];\nconst errors = {};\n\nconst readNode = (name) => {\n  try { return $(name).first()?.json; } catch { return undefined; }\n};\n\n// Facebook: Graph API returns { id: '...' } on success; error has { error: {...} }.\nconst fb = readNode('Facebook Post');\nif (fb && fb.id && !fb.error) published.push('facebook');\nelse errors.facebook = fb?.error?.message || fb?.error?.error_user_msg || fb?.message || 'unknown error';\n\n// Instagram via Blotato.\nconst igB = readNode('IG Post (Blotato)');\nif (igB && !igB.error) {\n  published.push('instagram');\n} else {\n  errors.instagram = igB?.error?.message\n    || igB?.error\n    || igB?.message\n    || 'unknown Blotato IG error';\n}\n\n// LinkedIn: skipped (4h guard) OR Blotato success.\nif (guard.skip_linkedin) {\n  errors.linkedin = guard.linkedin_skip_reason || 'skipped by 4h guard';\n} else {\n  const li = readNode('LinkedIn Post (Blotato)');\n  if (li && !li.error) published.push('linkedin');\n  else errors.linkedin = li?.error?.message || li?.message || 'unknown LinkedIn error';\n}\n\nconst all_ok = Object.keys(errors).length === 0;\nconst status = all_ok ? 'published' : 'partially_published';\n\nreturn [{\n  json: {\n    ...prep,\n    published_platforms: published,\n    publish_errors: errors,\n    final_status: status,\n    now_iso: new Date().toISOString(),\n  }\n}];"
        },
        "id": "p0000001-0001-4000-8000-00000000000b",
        "name": "Compute Final",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2336,
          448
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://fdabygmromuqtysitodp.supabase.co/rest/v1/marketing_drafts?id=eq.{{ $json.id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Prefer",
                "value": "return=representation"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_ANON_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  status: $json.final_status,\n  published_at: $json.now_iso,\n  updated_at: $json.now_iso,\n  published_platforms: $json.published_platforms,\n  publish_errors: Object.keys($json.publish_errors).length ? $json.publish_errors : null\n}) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "p0000001-0001-4000-8000-00000000000c",
        "name": "Update Supabase",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2528,
          448
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  chat_id: 1375806243,\n  text: (function() {\n    const f = $('Compute Final').item.json;\n    const ok = f.published_platforms || [];\n    const errs = f.publish_errors || {};\n    const lines = ['<b>GHL Marketing — publish result</b>'];\n    lines.push('Draft: <code>' + f.id + '</code>');\n    lines.push('Status: <b>' + f.final_status + '</b>');\n    if (ok.length) lines.push('✅ Published: ' + ok.join(', '));\n    Object.entries(errs).forEach(([k,v]) => lines.push('❌ ' + k + ': ' + v));\n    return lines.join('\\n');\n  })(),\n  parse_mode: 'HTML'\n}) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "p0000001-0001-4000-8000-00000000000d",
        "name": "Telegram Notify",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2736,
          448
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({\n  ok: true,\n  draftId: $('Compute Final').item.json.id,\n  status: $('Compute Final').item.json.final_status,\n  published_platforms: $('Compute Final').item.json.published_platforms,\n  publish_errors: $('Compute Final').item.json.publish_errors\n}) }}",
          "options": {}
        },
        "id": "p0000001-0001-4000-8000-00000000000e",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          2928,
          448
        ]
      },
      {
        "id": "p0000001-0001-4000-8000-0000000blot01",
        "name": "IG Post (Blotato)",
        "type": "@blotato/n8n-nodes-blotato.blotato",
        "typeVersion": 2,
        "position": [
          1392,
          128
        ],
        "onError": "continueRegularOutput",
        "alwaysOutputData": true,
        "parameters": {
          "accountId": {
            "__rl": true,
            "value": "27064",
            "mode": "list",
            "cachedResultName": "flow_os",
            "cachedResultUrl": "https://backend.blotato.com/v2/accounts/27064"
          },
          "postContentText": "={{ $('Prepare').item.json.instagram_caption || '' }}",
          "postContentMediaUrls": "={{ $('Prepare').item.json.effective_image_url }}",
          "options": {}
        },
        "credentials": {
          "blotatoApi": {
            "id": "Bs2TEAOA9mVKfcR3",
            "name": "Blotato account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Fetch Draft",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Draft": {
        "main": [
          [
            {
              "node": "Prepare",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare": {
        "main": [
          [
            {
              "node": "LI Guard Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LI Guard Check": {
        "main": [
          [
            {
              "node": "LI Guard Apply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LI Guard Apply": {
        "main": [
          [
            {
              "node": "Facebook Post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Facebook Post": {
        "main": [
          [
            {
              "node": "IG Post (Blotato)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Skip LinkedIn?": {
        "main": [
          [
            {
              "node": "Compute Final",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "LinkedIn Post (Blotato)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LinkedIn Post (Blotato)": {
        "main": [
          [
            {
              "node": "Compute Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compute Final": {
        "main": [
          [
            {
              "node": "Update Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Supabase": {
        "main": [
          [
            {
              "node": "Telegram Notify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Notify": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IG Post (Blotato)": {
        "main": [
          [
            {
              "node": "Skip LinkedIn?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tyson Venables",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-27T14:49:34.422Z",
        "id": 777,
        "workflowId": "fonuRTyqepxdyIdf",
        "versionId": "b3bafe6d-836c-4695-9def-4d9eed5e307f",
        "event": "activated",
        "userId": "b1512bca-25b8-4b8b-add0-b86540e5144d"
      }
    ]
  }
}
