n8n-workflows/ghl-marketing-content-generator.json
{"updatedAt":"2026-04-21T13:09:25.465Z","createdAt":"2026-04-13T12:03:02.932Z","id":"Awo65rdSe5BvDHtC","name":"GHL Marketing: Content Generator","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7 * * 1,3,5"}]}},"id":"a1000001-0001-4000-8000-000000000001","name":"Cron MWF 07:00 UTC","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300]},{"parameters":{"jsCode":"const dayOfWeek = new Date().getDay();\nconst postTypes = { 1: 'pain-led', 3: 'value-led', 5: 'offer-led' };\nconst postType = postTypes[dayOfWeek] || 'value-led';\nreturn [{ json: { postType, date: new Date().toISOString().split('T')[0] } }];"},"id":"a1000001-0001-4000-8000-000000000002","name":"Determine Post Type","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,300]},{"parameters":{"method":"GET","url":"https://fdabygmromuqtysitodp.supabase.co/rest/v1/marketing_drafts?select=hooks_used,instagram_hook_text&status=eq.published&order=created_at.desc&limit=10","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_ANON_KEY}}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"a1000001-0001-4000-8000-000000000003","name":"Fetch Recent Hooks","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,300],"credentials":{"httpHeaderAuth":{"id":"Nd2uuX5t9KEwbQPv","name":"Supabase FSC"}},"alwaysOutputData":true},{"parameters":{"jsCode":"const postType = $('Determine Post Type').first().json.postType;\nconst recentRows = $input.first().json;\nlet recentHooks = [];\nif (Array.isArray(recentRows)) {\n  recentRows.forEach(r => {\n    if (r.instagram_hook_text) recentHooks.push(r.instagram_hook_text);\n    if (Array.isArray(r.hooks_used)) recentHooks.push(...r.hooks_used);\n  });\n}\nrecentHooks = [...new Set(recentHooks)];\nreturn [{ json: { postType, recentHooks: recentHooks.join(', ') || 'none' } }];"},"id":"a1000001-0001-4000-8000-000000000004","name":"Prepare Prompt Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,300]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 2000, system: \"You are a marketing copywriter for GHL Support Specialist. Product: AI-powered 24/7 support for GoHighLevel users. URL: support.flowos.tech/ghl/landing. Price: $29/month or $290/year. Founders Offer: first 50 members get 3 months free with code GHLPOWER50.\\n\\nTone: Direct, practical, slightly irreverent. Speak like a GHL power user. No corporate language. Short sentences. No em dashes. No hashtags in body copy (Instagram hashtags go in a separate block).\\n\\nNever say: game-changer, revolutionary, unlock your potential, or generic SaaS language.\\n\\nThree pain points to rotate:\\n1. Time lost \\u2014 hours in YouTube, Facebook groups, help docs\\n2. Support frustration \\u2014 tickets take days, group answers unreliable\\n3. Confidence gap \\u2014 'I know GHL can do this, I just don't know how'\\n\\nOne promise: Ask it anything about GHL. Get an expert answer in seconds.\\n\\nUse specific GHL terms: workflows, automations, pipelines, funnels, SaaS mode, merge fields, calendars, triggers, actions.\", messages: [{ role: 'user', content: 'Generate a ' + $json.postType + ' organic post for GHL Support Specialist. Today is ' + new Date().toLocaleDateString('en-US', {weekday:'long',month:'long',day:'numeric'}) + '.\\n\\nProvide output as JSON with these exact keys:\\n- facebook_post (plain text, no hashtags, 100-200 words)\\n- linkedin_post (plain text, no hashtags, 80-150 words)\\n- instagram_caption (with hashtag block at end, 60-120 words before hashtags)\\n- instagram_hook_text (5-8 words, overlay text for image)\\n- ad_headline (under 10 words)\\n- ad_body (80-120 words, includes pain point + solution + Founders Offer + URL with UTMs: support.flowos.tech/ghl/landing?utm_source=facebook&utm_medium=paid_social&utm_campaign=founders_offer)\\n- ad_cta (3-4 words for button text)\\n- retargeting_copy (60-100 words, acknowledges they visited, restates value, urgency)\\n\\nDo NOT repeat any of these recently used hooks: ' + $json.recentHooks + '\\n\\nReturn ONLY valid JSON. No markdown fences. No explanation.' }] }) }}","options":{"response":{"response":{"responseFormat":"json"}}},"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"id":"a1000001-0001-4000-8000-000000000005","name":"Generate Content (Claude)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,300],"credentials":{"httpHeaderAuth":{"id":"V9YcuDfp9lqydyDH","name":"Anthropic Header Auth"}}},{"parameters":{"jsCode":"const response = $input.first().json;\nconst content = response.content?.[0]?.text;\nif (!content) throw new Error('No content in Claude response: ' + JSON.stringify(response).substring(0, 500));\n\nlet parsed;\ntry {\n  const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Failed to parse Claude response: ' + e.message + '\\nRaw: ' + content.substring(0, 500));\n}\n\nreturn [{\n  json: {\n    ...parsed,\n    post_type: $('Determine Post Type').first().json.postType,\n    status: 'pending_approval'\n  }\n}];"},"id":"a1000001-0001-4000-8000-000000000006","name":"Parse Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,300]},{"parameters":{"method":"POST","url":"https://fdabygmromuqtysitodp.supabase.co/rest/v1/marketing_drafts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_ANON_KEY}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ post_type: $json.post_type, status: 'pending_approval', facebook_post: $json.facebook_post, linkedin_post: $json.linkedin_post, instagram_caption: $json.instagram_caption, instagram_hook_text: $json.instagram_hook_text, ad_headline: $json.ad_headline, ad_body: $json.ad_body, ad_cta: $json.ad_cta, retargeting_copy: $json.retargeting_copy, hooks_used: [$json.instagram_hook_text] }) }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"a1000001-0001-4000-8000-000000000007","name":"Save to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,300],"credentials":{"httpHeaderAuth":{"id":"Nd2uuX5t9KEwbQPv","name":"Supabase FSC"}}},{"parameters":{"chatId":"1375806243","text":"=\ud83d\udce3 <b>GHL Marketing Draft \u2014 {{ $('Parse Response').first().json.post_type }}</b>\n\ud83d\udcc5 {{ $now.format('dddd, MMMM D') }}\n\n<b>\ud83d\udd35 FACEBOOK:</b>\n{{ $('Parse Response').first().json.facebook_post }}\n\n<b>\ud83d\udd35 LINKEDIN:</b>\n{{ $('Parse Response').first().json.linkedin_post }}\n\n<b>\ud83d\udd35 INSTAGRAM:</b>\n{{ $('Parse Response').first().json.instagram_caption }}\nHook: {{ $('Parse Response').first().json.instagram_hook_text }}\n\n<b>\ud83d\udd35 PAID AD:</b>\nHeadline: {{ $('Parse Response').first().json.ad_headline }}\nBody: {{ $('Parse Response').first().json.ad_body }}\nCTA: {{ $('Parse Response').first().json.ad_cta }}\n\n<b>\ud83d\udd35 RETARGETING:</b>\n{{ $('Parse Response').first().json.retargeting_copy }}\n\nReply \"go\" to approve and schedule.\nReply with feedback to regenerate.\nDraft ID: {{ $json[0].id }}","additionalFields":{"parse_mode":"HTML"}},"id":"a1000001-0001-4000-8000-000000000008","name":"Send to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1740,300],"credentials":{"telegramApi":{"id":"UR6xX8CchGBKaP3h","name":"Flow States Ads Bot"}}}],"connections":{"Cron MWF 07:00 UTC":{"main":[[{"node":"Determine Post Type","type":"main","index":0}]]},"Determine Post Type":{"main":[[{"node":"Fetch Recent Hooks","type":"main","index":0}]]},"Fetch Recent Hooks":{"main":[[{"node":"Prepare Prompt Data","type":"main","index":0}]]},"Prepare Prompt Data":{"main":[[{"node":"Generate Content (Claude)","type":"main","index":0}]]},"Generate Content (Claude)":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Save to Supabase","type":"main","index":0}]]},"Save to Supabase":{"main":[[{"node":"Send to Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":{"node:Cron MWF 07:00 UTC":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"8e8708ba-d582-4e7a-a7bb-47249016a6e3","activeVersionId":"8e8708ba-d582-4e7a-a7bb-47249016a6e3","versionCounter":22,"triggerCount":1,"shared":[{"updatedAt":"2026-04-13T12:03:02.932Z","createdAt":"2026-04-13T12:03:02.932Z","role":"workflow:owner","workflowId":"Awo65rdSe5BvDHtC","projectId":"KwpTDWcFWL3DfyW3","project":{"updatedAt":"2026-04-08T20:28:08.726Z","createdAt":"2025-06-06T11:27:14.830Z","id":"KwpTDWcFWL3DfyW3","name":"Tyson Venables <tysonvenables@protonmail.com>","type":"personal","icon":null,"description":null,"creatorId":"b1512bca-25b8-4b8b-add0-b86540e5144d","projectRelations":[{"updatedAt":"2025-06-06T11:27:14.830Z","createdAt":"2025-06-06T11:27:14.830Z","userId":"b1512bca-25b8-4b8b-add0-b86540e5144d","projectId":"KwpTDWcFWL3DfyW3","user":{"updatedAt":"2026-04-21T06:23:48.917Z","createdAt":"2025-06-06T11:27:13.858Z","id":"b1512bca-25b8-4b8b-add0-b86540e5144d","email":"tysonvenables@protonmail.com","firstName":"Tyson","lastName":"Venables","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-06T11:42:52.454Z","personalization_survey_n8n_version":"1.95.3","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"WVXrFCjb8wO7RWRX","userActivatedAt":1751062185356,"npsSurvey":{"responded":true,"lastShownAt":1769430963515}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-21","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-21T13:09:25.470Z","createdAt":"2026-04-21T13:09:25.470Z","versionId":"8e8708ba-d582-4e7a-a7bb-47249016a6e3","workflowId":"Awo65rdSe5BvDHtC","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7 * * 1,3,5"}]}},"id":"a1000001-0001-4000-8000-000000000001","name":"Cron MWF 07:00 UTC","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300]},{"parameters":{"jsCode":"const dayOfWeek = new Date().getDay();\nconst postTypes = { 1: 'pain-led', 3: 'value-led', 5: 'offer-led' };\nconst postType = postTypes[dayOfWeek] || 'value-led';\nreturn [{ json: { postType, date: new Date().toISOString().split('T')[0] } }];"},"id":"a1000001-0001-4000-8000-000000000002","name":"Determine Post Type","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,300]},{"parameters":{"method":"GET","url":"https://fdabygmromuqtysitodp.supabase.co/rest/v1/marketing_drafts?select=hooks_used,instagram_hook_text&status=eq.published&order=created_at.desc&limit=10","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_ANON_KEY}}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"a1000001-0001-4000-8000-000000000003","name":"Fetch Recent Hooks","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,300],"credentials":{"httpHeaderAuth":{"id":"Nd2uuX5t9KEwbQPv","name":"Supabase FSC"}},"alwaysOutputData":true},{"parameters":{"jsCode":"const postType = $('Determine Post Type').first().json.postType;\nconst recentRows = $input.first().json;\nlet recentHooks = [];\nif (Array.isArray(recentRows)) {\n  recentRows.forEach(r => {\n    if (r.instagram_hook_text) recentHooks.push(r.instagram_hook_text);\n    if (Array.isArray(r.hooks_used)) recentHooks.push(...r.hooks_used);\n  });\n}\nrecentHooks = [...new Set(recentHooks)];\nreturn [{ json: { postType, recentHooks: recentHooks.join(', ') || 'none' } }];"},"id":"a1000001-0001-4000-8000-000000000004","name":"Prepare Prompt Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,300]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 2000, system: \"You are a marketing copywriter for GHL Support Specialist. Product: AI-powered 24/7 support for GoHighLevel users. URL: support.flowos.tech/ghl/landing. Price: $29/month or $290/year. Founders Offer: first 50 members get 3 months free with code GHLPOWER50.\\n\\nTone: Direct, practical, slightly irreverent. Speak like a GHL power user. No corporate language. Short sentences. No em dashes. No hashtags in body copy (Instagram hashtags go in a separate block).\\n\\nNever say: game-changer, revolutionary, unlock your potential, or generic SaaS language.\\n\\nThree pain points to rotate:\\n1. Time lost \\u2014 hours in YouTube, Facebook groups, help docs\\n2. Support frustration \\u2014 tickets take days, group answers unreliable\\n3. Confidence gap \\u2014 'I know GHL can do this, I just don't know how'\\n\\nOne promise: Ask it anything about GHL. Get an expert answer in seconds.\\n\\nUse specific GHL terms: workflows, automations, pipelines, funnels, SaaS mode, merge fields, calendars, triggers, actions.\", messages: [{ role: 'user', content: 'Generate a ' + $json.postType + ' organic post for GHL Support Specialist. Today is ' + new Date().toLocaleDateString('en-US', {weekday:'long',month:'long',day:'numeric'}) + '.\\n\\nProvide output as JSON with these exact keys:\\n- facebook_post (plain text, no hashtags, 100-200 words)\\n- linkedin_post (plain text, no hashtags, 80-150 words)\\n- instagram_caption (with hashtag block at end, 60-120 words before hashtags)\\n- instagram_hook_text (5-8 words, overlay text for image)\\n- ad_headline (under 10 words)\\n- ad_body (80-120 words, includes pain point + solution + Founders Offer + URL with UTMs: support.flowos.tech/ghl/landing?utm_source=facebook&utm_medium=paid_social&utm_campaign=founders_offer)\\n- ad_cta (3-4 words for button text)\\n- retargeting_copy (60-100 words, acknowledges they visited, restates value, urgency)\\n\\nDo NOT repeat any of these recently used hooks: ' + $json.recentHooks + '\\n\\nReturn ONLY valid JSON. No markdown fences. No explanation.' }] }) }}","options":{"response":{"response":{"responseFormat":"json"}}},"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"id":"a1000001-0001-4000-8000-000000000005","name":"Generate Content (Claude)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,300],"credentials":{"httpHeaderAuth":{"id":"V9YcuDfp9lqydyDH","name":"Anthropic Header Auth"}}},{"parameters":{"jsCode":"const response = $input.first().json;\nconst content = response.content?.[0]?.text;\nif (!content) throw new Error('No content in Claude response: ' + JSON.stringify(response).substring(0, 500));\n\nlet parsed;\ntry {\n  const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Failed to parse Claude response: ' + e.message + '\\nRaw: ' + content.substring(0, 500));\n}\n\nreturn [{\n  json: {\n    ...parsed,\n    post_type: $('Determine Post Type').first().json.postType,\n    status: 'pending_approval'\n  }\n}];"},"id":"a1000001-0001-4000-8000-000000000006","name":"Parse Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,300]},{"parameters":{"method":"POST","url":"https://fdabygmromuqtysitodp.supabase.co/rest/v1/marketing_drafts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_ANON_KEY}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ post_type: $json.post_type, status: 'pending_approval', facebook_post: $json.facebook_post, linkedin_post: $json.linkedin_post, instagram_caption: $json.instagram_caption, instagram_hook_text: $json.instagram_hook_text, ad_headline: $json.ad_headline, ad_body: $json.ad_body, ad_cta: $json.ad_cta, retargeting_copy: $json.retargeting_copy, hooks_used: [$json.instagram_hook_text] }) }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"a1000001-0001-4000-8000-000000000007","name":"Save to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,300],"credentials":{"httpHeaderAuth":{"id":"Nd2uuX5t9KEwbQPv","name":"Supabase FSC"}}},{"parameters":{"chatId":"1375806243","text":"=\ud83d\udce3 <b>GHL Marketing Draft \u2014 {{ $('Parse Response').first().json.post_type }}</b>\n\ud83d\udcc5 {{ $now.format('dddd, MMMM D') }}\n\n<b>\ud83d\udd35 FACEBOOK:</b>\n{{ $('Parse Response').first().json.facebook_post }}\n\n<b>\ud83d\udd35 LINKEDIN:</b>\n{{ $('Parse Response').first().json.linkedin_post }}\n\n<b>\ud83d\udd35 INSTAGRAM:</b>\n{{ $('Parse Response').first().json.instagram_caption }}\nHook: {{ $('Parse Response').first().json.instagram_hook_text }}\n\n<b>\ud83d\udd35 PAID AD:</b>\nHeadline: {{ $('Parse Response').first().json.ad_headline }}\nBody: {{ $('Parse Response').first().json.ad_body }}\nCTA: {{ $('Parse Response').first().json.ad_cta }}\n\n<b>\ud83d\udd35 RETARGETING:</b>\n{{ $('Parse Response').first().json.retargeting_copy }}\n\nReply \"go\" to approve and schedule.\nReply with feedback to regenerate.\nDraft ID: {{ $json[0].id }}","additionalFields":{"parse_mode":"HTML"}},"id":"a1000001-0001-4000-8000-000000000008","name":"Send to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1740,300],"credentials":{"telegramApi":{"id":"UR6xX8CchGBKaP3h","name":"Flow States Ads Bot"}}}],"connections":{"Cron MWF 07:00 UTC":{"main":[[{"node":"Determine Post Type","type":"main","index":0}]]},"Determine Post Type":{"main":[[{"node":"Fetch Recent Hooks","type":"main","index":0}]]},"Fetch Recent Hooks":{"main":[[{"node":"Prepare Prompt Data","type":"main","index":0}]]},"Prepare Prompt Data":{"main":[[{"node":"Generate Content (Claude)","type":"main","index":0}]]},"Generate Content (Claude)":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Save to Supabase","type":"main","index":0}]]},"Save to Supabase":{"main":[[{"node":"Send to Telegram","type":"main","index":0}]]}},"authors":"Tyson Venables","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-21T13:09:25.676Z","id":698,"workflowId":"Awo65rdSe5BvDHtC","versionId":"8e8708ba-d582-4e7a-a7bb-47249016a6e3","event":"activated","userId":"b1512bca-25b8-4b8b-add0-b86540e5144d"}]}}