n8n-workflows/ghl-marketing-publisher.json
{"updatedAt":"2026-04-21T13:19:08.991Z","createdAt":"2026-04-13T13:10:45.173Z","id":"fonuRTyqepxdyIdf","name":"GHL Marketing: Publisher","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ghl-marketing-publish","options":{}},"id":"c3000001-0001-4000-8000-000000000001","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300],"webhookId":"ghl-marketing-publish"},{"parameters":{"method":"GET","url":"=https://fdabygmromuqtysitodp.supabase.co/rest/v1/marketing_drafts?id=eq.{{ $json.body.draftId }}&select=*","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_ANON_KEY}}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"c3000001-0001-4000-8000-000000000002","name":"Fetch Draft","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,300],"credentials":{"httpHeaderAuth":{"id":"Nd2uuX5t9KEwbQPv","name":"Supabase FSC"}}},{"parameters":{"jsCode":"const draft = $input.first().json;\nif (!draft || !draft.id) {\n  throw new Error('Draft not found');\n}\n\nconst scheduleTime = new Date(Date.now() + 30 * 60000).toISOString();\n\nreturn [{\n  json: {\n    ...draft,\n    scheduleTime,\n    formattedMessage: `\\u{1f4cb} <b>Ready to Publish \\u2014 ${draft.post_type}</b>\\n\\n` +\n      `<b>\\u{1f4d8} FACEBOOK (copy-paste):</b>\\n${draft.facebook_post}\\n\\n` +\n      `<b>\\u{1f4bc} LINKEDIN (copy-paste):</b>\\n${draft.linkedin_post}\\n\\n` +\n      `<b>\\u{1f4f8} INSTAGRAM (copy-paste):</b>\\n${draft.instagram_caption}\\n\\n` +\n      `<b>Image hook text:</b> ${draft.instagram_hook_text}\\n\\n` +\n      `<b>\\u{1f4b0} AD COPY (for Meta Ads Manager):</b>\\n` +\n      `Headline: ${draft.ad_headline}\\n` +\n      `Body: ${draft.ad_body}\\n` +\n      `CTA: ${draft.ad_cta}\\n\\n` +\n      `<b>\\u{1f504} RETARGETING:</b>\\n${draft.retargeting_copy}`\n  }\n}];"},"id":"c3000001-0001-4000-8000-000000000003","name":"Format Posts","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,300]},{"parameters":{"method":"PATCH","url":"=https://fdabygmromuqtysitodp.supabase.co/rest/v1/marketing_drafts?id=eq.{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_ANON_KEY}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'published', published_at: new Date().toISOString(), updated_at: new Date().toISOString() }) }}","options":{}},"id":"c3000001-0001-4000-8000-000000000004","name":"Update Status Published","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,300],"credentials":{"httpHeaderAuth":{"id":"Nd2uuX5t9KEwbQPv","name":"Supabase FSC"}}},{"parameters":{"chatId":"1375806243","text":"={{ $('Format Posts').first().json.formattedMessage }}\n\n\u2705 Status updated to published. Copy-paste ready above.","additionalFields":{"parse_mode":"HTML"}},"id":"c3000001-0001-4000-8000-000000000005","name":"Send to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1080,300],"credentials":{"telegramApi":{"id":"UR6xX8CchGBKaP3h","name":"Flow States Ads Bot"}}}],"connections":{"Webhook":{"main":[[{"node":"Fetch Draft","type":"main","index":0}]]},"Fetch Draft":{"main":[[{"node":"Format Posts","type":"main","index":0}]]},"Format Posts":{"main":[[{"node":"Update Status Published","type":"main","index":0}]]},"Update Status Published":{"main":[[{"node":"Send to Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"3f927ddd-61a5-4c8d-9b75-c4e9eaec571b","activeVersionId":"3f927ddd-61a5-4c8d-9b75-c4e9eaec571b","versionCounter":25,"triggerCount":1,"shared":[{"updatedAt":"2026-04-13T13:10:45.173Z","createdAt":"2026-04-13T13:10:45.173Z","role":"workflow:owner","workflowId":"fonuRTyqepxdyIdf","projectId":"KwpTDWcFWL3DfyW3","project":{"updatedAt":"2026-04-08T20:28:08.726Z","createdAt":"2025-06-06T11:27:14.830Z","id":"KwpTDWcFWL3DfyW3","name":"Tyson Venables <tysonvenables@protonmail.com>","type":"personal","icon":null,"description":null,"creatorId":"b1512bca-25b8-4b8b-add0-b86540e5144d","projectRelations":[{"updatedAt":"2025-06-06T11:27:14.830Z","createdAt":"2025-06-06T11:27:14.830Z","userId":"b1512bca-25b8-4b8b-add0-b86540e5144d","projectId":"KwpTDWcFWL3DfyW3","user":{"updatedAt":"2026-04-21T06:23:48.917Z","createdAt":"2025-06-06T11:27:13.858Z","id":"b1512bca-25b8-4b8b-add0-b86540e5144d","email":"tysonvenables@protonmail.com","firstName":"Tyson","lastName":"Venables","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-06T11:42:52.454Z","personalization_survey_n8n_version":"1.95.3","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"WVXrFCjb8wO7RWRX","userActivatedAt":1751062185356,"npsSurvey":{"responded":true,"lastShownAt":1769430963515}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-21","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-21T13:19:08.993Z","createdAt":"2026-04-21T13:19:08.993Z","versionId":"3f927ddd-61a5-4c8d-9b75-c4e9eaec571b","workflowId":"fonuRTyqepxdyIdf","nodes":[{"parameters":{"httpMethod":"POST","path":"ghl-marketing-publish","options":{}},"id":"c3000001-0001-4000-8000-000000000001","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300],"webhookId":"ghl-marketing-publish"},{"parameters":{"method":"GET","url":"=https://fdabygmromuqtysitodp.supabase.co/rest/v1/marketing_drafts?id=eq.{{ $json.body.draftId }}&select=*","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_ANON_KEY}}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"c3000001-0001-4000-8000-000000000002","name":"Fetch Draft","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,300],"credentials":{"httpHeaderAuth":{"id":"Nd2uuX5t9KEwbQPv","name":"Supabase FSC"}}},{"parameters":{"jsCode":"const draft = $input.first().json;\nif (!draft || !draft.id) {\n  throw new Error('Draft not found');\n}\n\nconst scheduleTime = new Date(Date.now() + 30 * 60000).toISOString();\n\nreturn [{\n  json: {\n    ...draft,\n    scheduleTime,\n    formattedMessage: `\\u{1f4cb} <b>Ready to Publish \\u2014 ${draft.post_type}</b>\\n\\n` +\n      `<b>\\u{1f4d8} FACEBOOK (copy-paste):</b>\\n${draft.facebook_post}\\n\\n` +\n      `<b>\\u{1f4bc} LINKEDIN (copy-paste):</b>\\n${draft.linkedin_post}\\n\\n` +\n      `<b>\\u{1f4f8} INSTAGRAM (copy-paste):</b>\\n${draft.instagram_caption}\\n\\n` +\n      `<b>Image hook text:</b> ${draft.instagram_hook_text}\\n\\n` +\n      `<b>\\u{1f4b0} AD COPY (for Meta Ads Manager):</b>\\n` +\n      `Headline: ${draft.ad_headline}\\n` +\n      `Body: ${draft.ad_body}\\n` +\n      `CTA: ${draft.ad_cta}\\n\\n` +\n      `<b>\\u{1f504} RETARGETING:</b>\\n${draft.retargeting_copy}`\n  }\n}];"},"id":"c3000001-0001-4000-8000-000000000003","name":"Format Posts","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,300]},{"parameters":{"method":"PATCH","url":"=https://fdabygmromuqtysitodp.supabase.co/rest/v1/marketing_drafts?id=eq.{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_ANON_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_ANON_KEY}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'published', published_at: new Date().toISOString(), updated_at: new Date().toISOString() }) }}","options":{}},"id":"c3000001-0001-4000-8000-000000000004","name":"Update Status Published","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,300],"credentials":{"httpHeaderAuth":{"id":"Nd2uuX5t9KEwbQPv","name":"Supabase FSC"}}},{"parameters":{"chatId":"1375806243","text":"={{ $('Format Posts').first().json.formattedMessage }}\n\n\u2705 Status updated to published. Copy-paste ready above.","additionalFields":{"parse_mode":"HTML"}},"id":"c3000001-0001-4000-8000-000000000005","name":"Send to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1080,300],"credentials":{"telegramApi":{"id":"UR6xX8CchGBKaP3h","name":"Flow States Ads Bot"}}}],"connections":{"Webhook":{"main":[[{"node":"Fetch Draft","type":"main","index":0}]]},"Fetch Draft":{"main":[[{"node":"Format Posts","type":"main","index":0}]]},"Format Posts":{"main":[[{"node":"Update Status Published","type":"main","index":0}]]},"Update Status Published":{"main":[[{"node":"Send to Telegram","type":"main","index":0}]]}},"authors":"Tyson Venables","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-21T13:19:09.079Z","id":700,"workflowId":"fonuRTyqepxdyIdf","versionId":"3f927ddd-61a5-4c8d-9b75-c4e9eaec571b","event":"activated","userId":"b1512bca-25b8-4b8b-add0-b86540e5144d"}]}}