n8n-workflows/intake-kylie-content-system.json
{"updatedAt":"2026-04-27T12:12:06.435Z","createdAt":"2026-04-27T12:07:31.907Z","id":"qOwJhClx5BnOeycf","name":"intake-kylie-content-system","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"intake-kylie","responseMode":"responseNode","options":{"allowedOrigins":"https://intake.flowstatescollective.com"}},"id":"k0000000-0000-4000-8000-000000000001","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,400],"webhookId":"intake-kylie"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"h1","leftValue":"={{ ($json.body && $json.body.rawData && $json.body.rawData.website) ? String($json.body.rawData.website).trim() : '' }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"k0000000-0000-4000-8000-000000000002","name":"Honeypot Empty?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[300,400]},{"parameters":{"jsCode":"\n// Per-IP rate limit using workflow static data: max 3 hits per 60s window.\nconst data = $getWorkflowStaticData('global');\ndata.ipHits = data.ipHits || {};\nconst headers = $json.headers || {};\nconst ip = headers['cf-connecting-ip']\n  || (headers['x-forwarded-for'] || '').split(',')[0].trim()\n  || 'unknown';\nconst now = Date.now();\nconst windowMs = 60000;\nconst limit = 3;\nconst recent = (data.ipHits[ip] || []).filter(t => now - t < windowMs);\nconst rateLimited = recent.length >= limit;\nif (!rateLimited) {\n  recent.push(now);\n}\ndata.ipHits[ip] = recent;\nfor (const k of Object.keys(data.ipHits)) {\n  data.ipHits[k] = data.ipHits[k].filter(t => now - t < windowMs);\n  if (data.ipHits[k].length === 0) delete data.ipHits[k];\n}\nreturn [{ json: { ...$json, _ip: ip, _rateLimited: rateLimited, _recentCount: recent.length } }];\n"},"id":"k0000000-0000-4000-8000-000000000003","name":"Rate Limit","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"rl1","leftValue":"={{ $json._rateLimited }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"k0000000-0000-4000-8000-000000000004","name":"Rate Limited?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[700,300]},{"parameters":{"jsCode":"\n// Build noteBody (markdown for GHL note), emailHtml, emailSubject from intake payload.\nconst body = $json.body || {};\nconst fullName = body.fullName || 'Unknown';\nconst email = body.email || '';\nconst submittedAt = body.submittedAt || new Date().toISOString();\nconst clientName = body.clientName || 'Client';\nconst responses = Array.isArray(body.responses) ? body.responses : [];\n\nconst noteBody =\n  `## Client Intake: ${clientName}\\n\\n` +\n  `Submitted: ${submittedAt}\\n\\n` +\n  responses.map(r => `### ${r.section}\\n**${r.question}**\\n${r.answer}`).join('\\n\\n');\n\nconst escapeHtml = (s) => String(s == null ? '' : s)\n  .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')\n  .replace(/\"/g, '&quot;').replace(/'/g, '&#39;');\nconst formatAnswer = (s) => escapeHtml(s).replace(/\\n/g, '<br>');\n\nconst emailHtml =\n  `<h2>Client Intake: ${escapeHtml(clientName)}</h2>` +\n  `<p><strong>From:</strong> ${escapeHtml(fullName)} (${escapeHtml(email)})<br>` +\n  `<strong>Submitted:</strong> ${escapeHtml(submittedAt)}</p><hr>` +\n  responses.map(r =>\n    `<h3>${escapeHtml(r.section)}</h3><p><strong>${escapeHtml(r.question)}</strong><br>${formatAnswer(r.answer)}</p>`\n  ).join('');\n\nconst emailSubject = `New intake submission: ${fullName}`;\n\nconst nameParts = fullName.trim().split(/\\s+/);\nconst firstName = nameParts[0] || '';\nconst lastName = nameParts.slice(1).join(' ');\n\nreturn [{\n  json: {\n    fullName, email, submittedAt, clientName,\n    firstName, lastName,\n    noteBody, emailHtml, emailSubject,\n  }\n}];\n"},"id":"k0000000-0000-4000-8000-000000000005","name":"Format","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,200]},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/conversations/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  type: 'Email',\n  contactId: 'SbPJpeihuGK3RT6bspyq',\n  subject: $json.emailSubject,\n  html: $json.emailHtml,\n  emailFrom: 'tyson@flowstatescollective.com',\n  emailReplyTo: 'tyson@flowstatescollective.com'\n}) }}","options":{"response":{"response":{"responseFormat":"json","neverError":true,"fullResponse":true}}}},"id":"k0000000-0000-4000-8000-000000000006","name":"GHL Send Notify Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,200],"credentials":{"httpHeaderAuth":{"id":"TK2wBgy9ZtKLf8UG","name":"FSC GHL PIT"}},"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/contacts/search/duplicate?locationId=nOkx7DPm0kNgNMzNFRY5&email={{ encodeURIComponent($('Format').item.json.email) }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{"responseFormat":"json","neverError":true,"fullResponse":true}}}},"id":"k0000000-0000-4000-8000-000000000007","name":"GHL Search Submitter","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,200],"credentials":{"httpHeaderAuth":{"id":"TK2wBgy9ZtKLf8UG","name":"FSC GHL PIT"}},"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"f1","leftValue":"={{ ($json.body && $json.body.contact && $json.body.contact.id) ? true : false }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"k0000000-0000-4000-8000-000000000008","name":"Submitter Found?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1500,200]},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $('GHL Search Submitter').item.json.body.contact.id }}/notes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  body: $('Format').item.json.noteBody,\n  userId: 'XGcWbD2WFPr2hP2oTMGJ'\n}) }}","options":{"response":{"response":{"responseFormat":"json","neverError":true,"fullResponse":true}}}},"id":"k0000000-0000-4000-8000-000000000009","name":"Add Note Existing","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,100],"credentials":{"httpHeaderAuth":{"id":"TK2wBgy9ZtKLf8UG","name":"FSC GHL PIT"}},"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/contacts/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  locationId: 'nOkx7DPm0kNgNMzNFRY5',\n  email: $('Format').item.json.email,\n  firstName: $('Format').item.json.firstName,\n  lastName: $('Format').item.json.lastName,\n  tags: ['intake-completed', 'kylie-content-build', 'fsc-client'],\n  source: 'intake.flowstatescollective.com'\n}) }}","options":{"response":{"response":{"responseFormat":"json","neverError":true,"fullResponse":true}}}},"id":"k0000000-0000-4000-8000-00000000000a","name":"Create Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,300],"credentials":{"httpHeaderAuth":{"id":"TK2wBgy9ZtKLf8UG","name":"FSC GHL PIT"}},"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ ($('Create Contact').item.json.body && ($('Create Contact').item.json.body.contact && $('Create Contact').item.json.body.contact.id)) || ($('Create Contact').item.json.body && $('Create Contact').item.json.body.id) || '' }}/notes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  body: $('Format').item.json.noteBody,\n  userId: 'XGcWbD2WFPr2hP2oTMGJ'\n}) }}","options":{"response":{"response":{"responseFormat":"json","neverError":true,"fullResponse":true}}}},"id":"k0000000-0000-4000-8000-00000000000b","name":"Add Note New","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1900,300],"credentials":{"httpHeaderAuth":{"id":"TK2wBgy9ZtKLf8UG","name":"FSC GHL PIT"}},"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"\n// Inspect GHL nodes' outputs to detect failures. If any errored, route to Telegram alert.\nconst fmt = $('Format').first().json;\nconst readNode = (name) => {\n  try { return $(name).first()?.json; } catch { return undefined; }\n};\n\nconst errors = [];\nconst emailNode = readNode('GHL Send Notify Email');\nif (!emailNode) errors.push('email_node_missing');\nelse if (emailNode.error) errors.push('email: ' + (emailNode.error.message || JSON.stringify(emailNode.error)));\nelse if (emailNode.statusCode && emailNode.statusCode >= 400) {\n  errors.push('email: HTTP ' + emailNode.statusCode + ' ' + (emailNode.body && emailNode.body.message || ''));\n}\n\nconst searchNode = readNode('GHL Search Submitter');\nif (!searchNode) errors.push('search_node_missing');\nelse if (searchNode.error) errors.push('search: ' + (searchNode.error.message || JSON.stringify(searchNode.error)));\n\n// Note add: either Add Note Existing or Add Note New ran\nconst addExisting = readNode('Add Note Existing');\nconst createNew = readNode('Create Contact');\nconst addNew = readNode('Add Note New');\n\nif (addExisting && addExisting.error) errors.push('addNoteExisting: ' + (addExisting.error.message || ''));\nif (createNew && createNew.error) errors.push('createContact: ' + (createNew.error.message || ''));\nif (addNew && addNew.error) errors.push('addNoteNew: ' + (addNew.error.message || ''));\n\nconst ghlOk = errors.length === 0;\nreturn [{ json: { ...fmt, ghlOk, ghlErrors: errors } }];\n"},"id":"k0000000-0000-4000-8000-00000000000c","name":"GHL Status","type":"n8n-nodes-base.code","typeVersion":2,"position":[2150,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"s1","leftValue":"={{ $json.ghlOk }}","rightValue":false,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"k0000000-0000-4000-8000-00000000000d","name":"Any GHL Errors?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2350,200]},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage","sendHeaders":false,"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  chat_id: 1375806243,\n  text: '<b>Intake Kylie: GHL sync failed</b>\\nEmail: ' + ($json.email || 'unknown') + '\\nName: ' + ($json.fullName || 'unknown') + '\\nErrors:\\n' + (($json.ghlErrors || []).map(e => '- ' + e).join('\\n') || 'unknown'),\n  parse_mode: 'HTML'\n}) }}","options":{"response":{"response":{"responseFormat":"json","neverError":true}}}},"id":"k0000000-0000-4000-8000-00000000000e","name":"Telegram Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2550,100],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true }) }}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"https://intake.flowstatescollective.com"},{"name":"Access-Control-Allow-Methods","value":"POST, OPTIONS"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"},{"name":"Vary","value":"Origin"}]}}},"id":"k0000000-0000-4000-8000-00000000000f","name":"Respond Final","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2750,300]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true }) }}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"https://intake.flowstatescollective.com"},{"name":"Access-Control-Allow-Methods","value":"POST, OPTIONS"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"},{"name":"Vary","value":"Origin"}]}}},"id":"k0000000-0000-4000-8000-000000000010","name":"Respond Silent","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[700,600]},{"parameters":{"respondWith":"noData","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"https://intake.flowstatescollective.com"},{"name":"Access-Control-Allow-Methods","value":"POST, OPTIONS"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"},{"name":"Vary","value":"Origin"}]},"responseCode":429}},"id":"k0000000-0000-4000-8000-000000000011","name":"Respond Rate Limited","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[900,600]}],"connections":{"Webhook":{"main":[[{"node":"Honeypot Empty?","type":"main","index":0}]]},"Honeypot Empty?":{"main":[[{"node":"Rate Limit","type":"main","index":0}],[{"node":"Respond Silent","type":"main","index":0}]]},"Rate Limit":{"main":[[{"node":"Rate Limited?","type":"main","index":0}]]},"Rate Limited?":{"main":[[{"node":"Respond Rate Limited","type":"main","index":0}],[{"node":"Format","type":"main","index":0}]]},"Format":{"main":[[{"node":"GHL Send Notify Email","type":"main","index":0}]]},"GHL Send Notify Email":{"main":[[{"node":"GHL Search Submitter","type":"main","index":0}]]},"GHL Search Submitter":{"main":[[{"node":"Submitter Found?","type":"main","index":0}]]},"Submitter Found?":{"main":[[{"node":"Add Note Existing","type":"main","index":0}],[{"node":"Create Contact","type":"main","index":0}]]},"Add Note Existing":{"main":[[{"node":"GHL Status","type":"main","index":0}]]},"Create Contact":{"main":[[{"node":"Add Note New","type":"main","index":0}]]},"Add Note New":{"main":[[{"node":"GHL Status","type":"main","index":0}]]},"GHL Status":{"main":[[{"node":"Any GHL Errors?","type":"main","index":0}]]},"Any GHL Errors?":{"main":[[{"node":"Telegram Alert","type":"main","index":0}],[{"node":"Respond Final","type":"main","index":0}]]},"Telegram Alert":{"main":[[{"node":"Respond Final","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"global":{"ipHits":{"138.68.138.214":[1777291996206,1777291998065,1777292000187]}}},"meta":null,"pinData":null,"versionId":"304ae233-2245-4995-8dba-80fdd8b1fab0","activeVersionId":"304ae233-2245-4995-8dba-80fdd8b1fab0","versionCounter":21,"triggerCount":1,"shared":[{"updatedAt":"2026-04-27T12:07:31.907Z","createdAt":"2026-04-27T12:07:31.907Z","role":"workflow:owner","workflowId":"qOwJhClx5BnOeycf","projectId":"KwpTDWcFWL3DfyW3","project":{"updatedAt":"2026-04-08T20:28:08.726Z","createdAt":"2025-06-06T11:27:14.830Z","id":"KwpTDWcFWL3DfyW3","name":"Tyson Venables <tysonvenables@protonmail.com>","type":"personal","icon":null,"description":null,"creatorId":"b1512bca-25b8-4b8b-add0-b86540e5144d","projectRelations":[{"updatedAt":"2025-06-06T11:27:14.830Z","createdAt":"2025-06-06T11:27:14.830Z","userId":"b1512bca-25b8-4b8b-add0-b86540e5144d","projectId":"KwpTDWcFWL3DfyW3","user":{"updatedAt":"2026-04-27T06:37:07.895Z","createdAt":"2025-06-06T11:27:13.858Z","id":"b1512bca-25b8-4b8b-add0-b86540e5144d","email":"tysonvenables@protonmail.com","firstName":"Tyson","lastName":"Venables","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-06-06T11:42:52.454Z","personalization_survey_n8n_version":"1.95.3","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"WVXrFCjb8wO7RWRX","userActivatedAt":1751062185356,"npsSurvey":{"responded":true,"lastShownAt":1769430963515}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-27","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-27T12:12:06.437Z","createdAt":"2026-04-27T12:12:06.437Z","versionId":"304ae233-2245-4995-8dba-80fdd8b1fab0","workflowId":"qOwJhClx5BnOeycf","nodes":[{"parameters":{"httpMethod":"POST","path":"intake-kylie","responseMode":"responseNode","options":{"allowedOrigins":"https://intake.flowstatescollective.com"}},"id":"k0000000-0000-4000-8000-000000000001","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,400],"webhookId":"intake-kylie"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"h1","leftValue":"={{ ($json.body && $json.body.rawData && $json.body.rawData.website) ? String($json.body.rawData.website).trim() : '' }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"k0000000-0000-4000-8000-000000000002","name":"Honeypot Empty?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[300,400]},{"parameters":{"jsCode":"\n// Per-IP rate limit using workflow static data: max 3 hits per 60s window.\nconst data = $getWorkflowStaticData('global');\ndata.ipHits = data.ipHits || {};\nconst headers = $json.headers || {};\nconst ip = headers['cf-connecting-ip']\n  || (headers['x-forwarded-for'] || '').split(',')[0].trim()\n  || 'unknown';\nconst now = Date.now();\nconst windowMs = 60000;\nconst limit = 3;\nconst recent = (data.ipHits[ip] || []).filter(t => now - t < windowMs);\nconst rateLimited = recent.length >= limit;\nif (!rateLimited) {\n  recent.push(now);\n}\ndata.ipHits[ip] = recent;\nfor (const k of Object.keys(data.ipHits)) {\n  data.ipHits[k] = data.ipHits[k].filter(t => now - t < windowMs);\n  if (data.ipHits[k].length === 0) delete data.ipHits[k];\n}\nreturn [{ json: { ...$json, _ip: ip, _rateLimited: rateLimited, _recentCount: recent.length } }];\n"},"id":"k0000000-0000-4000-8000-000000000003","name":"Rate Limit","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"rl1","leftValue":"={{ $json._rateLimited }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"k0000000-0000-4000-8000-000000000004","name":"Rate Limited?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[700,300]},{"parameters":{"jsCode":"\n// Build noteBody (markdown for GHL note), emailHtml, emailSubject from intake payload.\nconst body = $json.body || {};\nconst fullName = body.fullName || 'Unknown';\nconst email = body.email || '';\nconst submittedAt = body.submittedAt || new Date().toISOString();\nconst clientName = body.clientName || 'Client';\nconst responses = Array.isArray(body.responses) ? body.responses : [];\n\nconst noteBody =\n  `## Client Intake: ${clientName}\\n\\n` +\n  `Submitted: ${submittedAt}\\n\\n` +\n  responses.map(r => `### ${r.section}\\n**${r.question}**\\n${r.answer}`).join('\\n\\n');\n\nconst escapeHtml = (s) => String(s == null ? '' : s)\n  .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')\n  .replace(/\"/g, '&quot;').replace(/'/g, '&#39;');\nconst formatAnswer = (s) => escapeHtml(s).replace(/\\n/g, '<br>');\n\nconst emailHtml =\n  `<h2>Client Intake: ${escapeHtml(clientName)}</h2>` +\n  `<p><strong>From:</strong> ${escapeHtml(fullName)} (${escapeHtml(email)})<br>` +\n  `<strong>Submitted:</strong> ${escapeHtml(submittedAt)}</p><hr>` +\n  responses.map(r =>\n    `<h3>${escapeHtml(r.section)}</h3><p><strong>${escapeHtml(r.question)}</strong><br>${formatAnswer(r.answer)}</p>`\n  ).join('');\n\nconst emailSubject = `New intake submission: ${fullName}`;\n\nconst nameParts = fullName.trim().split(/\\s+/);\nconst firstName = nameParts[0] || '';\nconst lastName = nameParts.slice(1).join(' ');\n\nreturn [{\n  json: {\n    fullName, email, submittedAt, clientName,\n    firstName, lastName,\n    noteBody, emailHtml, emailSubject,\n  }\n}];\n"},"id":"k0000000-0000-4000-8000-000000000005","name":"Format","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,200]},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/conversations/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  type: 'Email',\n  contactId: 'SbPJpeihuGK3RT6bspyq',\n  subject: $json.emailSubject,\n  html: $json.emailHtml,\n  emailFrom: 'tyson@flowstatescollective.com',\n  emailReplyTo: 'tyson@flowstatescollective.com'\n}) }}","options":{"response":{"response":{"responseFormat":"json","neverError":true,"fullResponse":true}}}},"id":"k0000000-0000-4000-8000-000000000006","name":"GHL Send Notify Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,200],"credentials":{"httpHeaderAuth":{"id":"TK2wBgy9ZtKLf8UG","name":"FSC GHL PIT"}},"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"GET","url":"=https://services.leadconnectorhq.com/contacts/search/duplicate?locationId=nOkx7DPm0kNgNMzNFRY5&email={{ encodeURIComponent($('Format').item.json.email) }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{"responseFormat":"json","neverError":true,"fullResponse":true}}}},"id":"k0000000-0000-4000-8000-000000000007","name":"GHL Search Submitter","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,200],"credentials":{"httpHeaderAuth":{"id":"TK2wBgy9ZtKLf8UG","name":"FSC GHL PIT"}},"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"f1","leftValue":"={{ ($json.body && $json.body.contact && $json.body.contact.id) ? true : false }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"k0000000-0000-4000-8000-000000000008","name":"Submitter Found?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1500,200]},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $('GHL Search Submitter').item.json.body.contact.id }}/notes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  body: $('Format').item.json.noteBody,\n  userId: 'XGcWbD2WFPr2hP2oTMGJ'\n}) }}","options":{"response":{"response":{"responseFormat":"json","neverError":true,"fullResponse":true}}}},"id":"k0000000-0000-4000-8000-000000000009","name":"Add Note Existing","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,100],"credentials":{"httpHeaderAuth":{"id":"TK2wBgy9ZtKLf8UG","name":"FSC GHL PIT"}},"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/contacts/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  locationId: 'nOkx7DPm0kNgNMzNFRY5',\n  email: $('Format').item.json.email,\n  firstName: $('Format').item.json.firstName,\n  lastName: $('Format').item.json.lastName,\n  tags: ['intake-completed', 'kylie-content-build', 'fsc-client'],\n  source: 'intake.flowstatescollective.com'\n}) }}","options":{"response":{"response":{"responseFormat":"json","neverError":true,"fullResponse":true}}}},"id":"k0000000-0000-4000-8000-00000000000a","name":"Create Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,300],"credentials":{"httpHeaderAuth":{"id":"TK2wBgy9ZtKLf8UG","name":"FSC GHL PIT"}},"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ ($('Create Contact').item.json.body && ($('Create Contact').item.json.body.contact && $('Create Contact').item.json.body.contact.id)) || ($('Create Contact').item.json.body && $('Create Contact').item.json.body.id) || '' }}/notes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  body: $('Format').item.json.noteBody,\n  userId: 'XGcWbD2WFPr2hP2oTMGJ'\n}) }}","options":{"response":{"response":{"responseFormat":"json","neverError":true,"fullResponse":true}}}},"id":"k0000000-0000-4000-8000-00000000000b","name":"Add Note New","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1900,300],"credentials":{"httpHeaderAuth":{"id":"TK2wBgy9ZtKLf8UG","name":"FSC GHL PIT"}},"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"\n// Inspect GHL nodes' outputs to detect failures. If any errored, route to Telegram alert.\nconst fmt = $('Format').first().json;\nconst readNode = (name) => {\n  try { return $(name).first()?.json; } catch { return undefined; }\n};\n\nconst errors = [];\nconst emailNode = readNode('GHL Send Notify Email');\nif (!emailNode) errors.push('email_node_missing');\nelse if (emailNode.error) errors.push('email: ' + (emailNode.error.message || JSON.stringify(emailNode.error)));\nelse if (emailNode.statusCode && emailNode.statusCode >= 400) {\n  errors.push('email: HTTP ' + emailNode.statusCode + ' ' + (emailNode.body && emailNode.body.message || ''));\n}\n\nconst searchNode = readNode('GHL Search Submitter');\nif (!searchNode) errors.push('search_node_missing');\nelse if (searchNode.error) errors.push('search: ' + (searchNode.error.message || JSON.stringify(searchNode.error)));\n\n// Note add: either Add Note Existing or Add Note New ran\nconst addExisting = readNode('Add Note Existing');\nconst createNew = readNode('Create Contact');\nconst addNew = readNode('Add Note New');\n\nif (addExisting && addExisting.error) errors.push('addNoteExisting: ' + (addExisting.error.message || ''));\nif (createNew && createNew.error) errors.push('createContact: ' + (createNew.error.message || ''));\nif (addNew && addNew.error) errors.push('addNoteNew: ' + (addNew.error.message || ''));\n\nconst ghlOk = errors.length === 0;\nreturn [{ json: { ...fmt, ghlOk, ghlErrors: errors } }];\n"},"id":"k0000000-0000-4000-8000-00000000000c","name":"GHL Status","type":"n8n-nodes-base.code","typeVersion":2,"position":[2150,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"s1","leftValue":"={{ $json.ghlOk }}","rightValue":false,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"k0000000-0000-4000-8000-00000000000d","name":"Any GHL Errors?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2350,200]},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage","sendHeaders":false,"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  chat_id: 1375806243,\n  text: '<b>Intake Kylie: GHL sync failed</b>\\nEmail: ' + ($json.email || 'unknown') + '\\nName: ' + ($json.fullName || 'unknown') + '\\nErrors:\\n' + (($json.ghlErrors || []).map(e => '- ' + e).join('\\n') || 'unknown'),\n  parse_mode: 'HTML'\n}) }}","options":{"response":{"response":{"responseFormat":"json","neverError":true}}}},"id":"k0000000-0000-4000-8000-00000000000e","name":"Telegram Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2550,100],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true }) }}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"https://intake.flowstatescollective.com"},{"name":"Access-Control-Allow-Methods","value":"POST, OPTIONS"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"},{"name":"Vary","value":"Origin"}]}}},"id":"k0000000-0000-4000-8000-00000000000f","name":"Respond Final","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2750,300]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true }) }}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"https://intake.flowstatescollective.com"},{"name":"Access-Control-Allow-Methods","value":"POST, OPTIONS"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"},{"name":"Vary","value":"Origin"}]}}},"id":"k0000000-0000-4000-8000-000000000010","name":"Respond Silent","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[700,600]},{"parameters":{"respondWith":"noData","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"https://intake.flowstatescollective.com"},{"name":"Access-Control-Allow-Methods","value":"POST, OPTIONS"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"},{"name":"Vary","value":"Origin"}]},"responseCode":429}},"id":"k0000000-0000-4000-8000-000000000011","name":"Respond Rate Limited","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[900,600]}],"connections":{"Webhook":{"main":[[{"node":"Honeypot Empty?","type":"main","index":0}]]},"Honeypot Empty?":{"main":[[{"node":"Rate Limit","type":"main","index":0}],[{"node":"Respond Silent","type":"main","index":0}]]},"Rate Limit":{"main":[[{"node":"Rate Limited?","type":"main","index":0}]]},"Rate Limited?":{"main":[[{"node":"Respond Rate Limited","type":"main","index":0}],[{"node":"Format","type":"main","index":0}]]},"Format":{"main":[[{"node":"GHL Send Notify Email","type":"main","index":0}]]},"GHL Send Notify Email":{"main":[[{"node":"GHL Search Submitter","type":"main","index":0}]]},"GHL Search Submitter":{"main":[[{"node":"Submitter Found?","type":"main","index":0}]]},"Submitter Found?":{"main":[[{"node":"Add Note Existing","type":"main","index":0}],[{"node":"Create Contact","type":"main","index":0}]]},"Add Note Existing":{"main":[[{"node":"GHL Status","type":"main","index":0}]]},"Create Contact":{"main":[[{"node":"Add Note New","type":"main","index":0}]]},"Add Note New":{"main":[[{"node":"GHL Status","type":"main","index":0}]]},"GHL Status":{"main":[[{"node":"Any GHL Errors?","type":"main","index":0}]]},"Any GHL Errors?":{"main":[[{"node":"Telegram Alert","type":"main","index":0}],[{"node":"Respond Final","type":"main","index":0}]]},"Telegram Alert":{"main":[[{"node":"Respond Final","type":"main","index":0}]]}},"authors":"Tyson Venables","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-27T12:12:06.804Z","id":763,"workflowId":"qOwJhClx5BnOeycf","versionId":"304ae233-2245-4995-8dba-80fdd8b1fab0","event":"activated","userId":"b1512bca-25b8-4b8b-add0-b86540e5144d"}]}}