n8n-workflows/kJ2EdkOeEAwVbMwU.json
{
  "updatedAt": "2026-04-29T12:21:03.986Z",
  "createdAt": "2026-01-13T23:14:52.517Z",
  "id": "kJ2EdkOeEAwVbMwU",
  "name": "Infographic Social Media Machine V2 - Flow Os",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -9968,
        1728
      ],
      "id": "56e40c6b-114c-46d1-b0c4-36a129a1dd39",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Content Pillar Rotation for Flow Os\n// Rotates through different feature categories to ensure diverse content\n\nconst pillars = [\n  {\n    pillar: \"Client Acquisition\",\n    focus: \"Lead generation, sales funnels, landing pages, and converting prospects into paying clients\",\n    features: [\"Sales Funnels\", \"Landing Pages\", \"Lead Capture Forms\", \"Facebook/Google Ads Integration\", \"Referral Programs\"],\n    painPoints: [\"Struggling to find new clients\", \"Wasting money on ads that don't convert\", \"No system for lead follow-up\", \"Losing leads to competitors\"],\n    benefits: [\"Automated lead nurturing\", \"Higher conversion rates\", \"Consistent client pipeline\", \"ROI tracking on marketing spend\"]\n  },\n  {\n    pillar: \"Automation Power\",\n    focus: \"Email/SMS sequences, appointment reminders, client onboarding, and workflow automation\",\n    features: [\"Email Sequences\", \"SMS Campaigns\", \"Appointment Reminders\", \"Automated Onboarding\", \"Workflow Triggers\"],\n    painPoints: [\"Spending hours on manual follow-ups\", \"Clients forgetting appointments\", \"Inconsistent communication\", \"Repetitive admin tasks\"],\n    benefits: [\"Save 10+ hours per week\", \"Reduce no-shows by 80%\", \"Consistent client experience\", \"Focus on what you do best\"]\n  },\n  {\n    pillar: \"Powerful Integrations\",\n    focus: \"Connecting Flow Os with other tools like Stripe, Calendly, Zoom, Zapier for seamless operations\",\n    features: [\"Stripe/PayPal Payments\", \"Calendar Integrations\", \"Zoom/Telehealth\", \"Zapier/Make Connections\", \"Google/Facebook Sync\"],\n    painPoints: [\"Juggling multiple disconnected tools\", \"Data scattered across platforms\", \"Manual data entry between systems\", \"Missing important information\"],\n    benefits: [\"Everything in one place\", \"Automatic data sync\", \"Unified client view\", \"Streamlined operations\"]\n  },\n  {\n    pillar: \"Client Retention\",\n    focus: \"Membership sites, community features, review collection, and keeping clients engaged long-term\",\n    features: [\"Membership Sites\", \"Community Platform\", \"Review Collection\", \"Reactivation Campaigns\", \"Client Portal\"],\n    painPoints: [\"Clients leaving after first program\", \"No system for collecting testimonials\", \"Difficulty building community\", \"Losing touch with past clients\"],\n    benefits: [\"Increase client lifetime value\", \"Build social proof automatically\", \"Create recurring revenue\", \"Turn clients into advocates\"]\n  },\n  {\n    pillar: \"Time Freedom\",\n    focus: \"Booking automation, invoice automation, unified inbox, and reporting dashboards\",\n    features: [\"Online Booking\", \"Automatic Invoicing\", \"Unified Inbox\", \"Reporting Dashboard\", \"Task Automation\"],\n    painPoints: [\"Drowning in admin work\", \"Chasing payments manually\", \"Messages scattered across platforms\", \"No visibility into business metrics\"],\n    benefits: [\"Reclaim your evenings and weekends\", \"Get paid faster\", \"Never miss a message\", \"Make data-driven decisions\"]\n  },\n  {\n    pillar: \"Revenue Growth\",\n    focus: \"Online courses, payment plans, upsell funnels, and affiliate programs\",\n    features: [\"Course Hosting\", \"Payment Plans\", \"Upsell Funnels\", \"Affiliate Program\", \"Digital Products\"],\n    painPoints: [\"Income limited by available hours\", \"Clients can't afford full payment\", \"Missing upsell opportunities\", \"No passive income streams\"],\n    benefits: [\"Scale beyond 1:1 services\", \"Make premium offers accessible\", \"Maximize client value\", \"Build passive income\"]\n  }\n];\n\n// Rotate based on execution count or date\nconst today = new Date();\nconst dayOfYear = Math.floor((today - new Date(today.getFullYear(), 0, 0)) / 86400000);\nconst pillarIndex = dayOfYear % pillars.length;\nconst selectedPillar = pillars[pillarIndex];\n\n// Also pick a random feature to highlight\nconst featureIndex = Math.floor(Math.random() * selectedPillar.features.length);\nconst highlightedFeature = selectedPillar.features[featureIndex];\n\nreturn {\n  json: {\n    ...selectedPillar,\n    highlightedFeature,\n    pillarIndex,\n    generatedAt: today.toISOString(),\n    allPillars: pillars.map(p => p.pillar)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9744,
        1728
      ],
      "id": "0302cd1d-6db4-4a5e-a2d7-47abd014ff35",
      "name": "Content Pillar Rotation"
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "=Research current statistics, challenges, and pain points that health and wellness professionals face in 2026, specifically related to: {{ $json.pillar }}\n\nContext: {{ $json.focus }}\n\nKey areas to research:\n{{ $json.painPoints.map((p, i) => `${i+1}. ${p}`).join('\\n') }}\n\nTarget professionals: Health coaches, personal trainers, nutritionists, wellness spa owners, yoga/pilates instructors, functional medicine practitioners, therapists, chiropractors, fitness studio owners, holistic health practitioners.\n\nProvide:\n1. Specific statistics and percentages about these challenges\n2. Industry data on time/money lost to these problems\n3. Trends in how wellness businesses are solving these issues with technology\n4. Real examples or case studies if available\n\nFocus on BUSINESS OPERATIONS challenges, NOT health/medical topics. We want data that shows why wellness professionals need better business systems and automation.\n\nIMPORTANT: Focus specifically on the {{ $json.pillar }} category and the feature: {{ $json.highlightedFeature }}"
            }
          ]
        },
        "simplify": true,
        "options": {
          "searchRecency": "month"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        -9520,
        1728
      ],
      "id": "0787eb91-09fa-47d6-95d2-22fffdf0a080",
      "name": "AI Research - Industry Stats",
      "credentials": {
        "perplexityApi": {
          "id": "9upQiaSPtmnz7IFj",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "=# INSTRUCTIONS\n\nYou are creating content for Flow Os, the all-in-one CRM and business automation platform designed specifically for health and wellness professionals. Flow Os helps practitioners streamline their business so they can focus on transforming lives.\n\n## CONTENT PILLAR\nToday's focus: {{ $('Content Pillar Rotation').item.json.pillar }}\nHighlighted feature: {{ $('Content Pillar Rotation').item.json.highlightedFeature }}\n\n## RESEARCH DATA\n<industry_research>\n{{ $('AI Research - Industry Stats').item.json.message }}\n</industry_research>\n\n## YOUR TASK\n\nCreate a compelling narrative that:\n\n1. **Identifies the Core Problem**\n   - Select the most emotionally resonant pain point from the research\n   - Quantify it (hours lost, revenue impact, stress level)\n   - Make it relatable to wellness professionals\n\n2. **Agitate the Problem**\n   - What happens if this problem continues?\n   - What are practitioners missing out on?\n   - How does this affect their clients and mission?\n\n3. **Present Flow Os as THE Solution**\n   - Explain exactly how Flow Os solves this specific problem\n   - Focus on the {{ $('Content Pillar Rotation').item.json.highlightedFeature }} feature\n   - Include specific benefits: {{ $('Content Pillar Rotation').item.json.benefits.join(', ') }}\n\n4. **Provide Proof Points**\n   - Use statistics from the research\n   - Mention typical results wellness pros achieve\n   - Reference the transformation possible\n\n## OUTPUT\n\nWrite a detailed brief (400-600 words) that covers:\n- The specific problem and who faces it\n- Statistics and data supporting the problem's severity\n- How Flow Os's {{ $('Content Pillar Rotation').item.json.highlightedFeature }} feature solves it\n- Tangible benefits (time saved, revenue gained, stress reduced)\n- Why Flow Os is uniquely suited for health/wellness professionals\n\nIMPORTANT: Always refer to Flow Os by name. Do NOT mention competitors like HubSpot, Salesforce, Kajabi, etc. Flow Os is THE solution for wellness professionals."
            }
          ]
        },
        "simplify": true,
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        -9296,
        1728
      ],
      "id": "bb27b1e8-204d-4468-9a23-6df9d72341f3",
      "name": "AI Research - Flow Os Brief",
      "credentials": {
        "perplexityApi": {
          "id": "9upQiaSPtmnz7IFj",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=# ROLE\nYou are a senior social media content strategist for Flow Os, the all-in-one CRM and business automation platform built specifically for health and wellness professionals.\n\n# BRAND GUIDELINES\n- **Brand Name:** Flow Os (always capitalize the F and O)\n- **What it is:** All-in-one CRM, marketing automation, and business management platform\n- **Target Audience:** Health coaches, personal trainers, nutritionists, wellness practitioners, fitness entrepreneurs, holistic health professionals\n- **Brand Voice:** Empowering, solution-focused, professional yet approachable, transformation-oriented\n- **Visual Style:** Modern, clean, professional – Flow Os brand palette (teal, warm beige, charcoal, white, green accent)\n- **Key Differentiator:** Built specifically for health and wellness professionals (not generic business software)\n- **Website:** flowos.tech\n\n# BRAND VISUAL SPEC (for image prompts)\n**Flow Os brand colors – use these in the infographic:**\n- Primary: Teal #99cccc, Warm Beige #eae5da\n- Secondary: Charcoal grey #333333, White #ffffff\n- Button/accent: #8bc34a\n**Typography:** Heading font: Montserrat Bold. Primary font: Raleway. Headlines large and high-contrast. Minimal text. No script or decorative fonts.\n\n# COMPETITOR POLICY\n**CRITICAL:** NEVER mention, compare to, or reference ANY other CRM, software, or platform by name. This includes but is not limited to: HubSpot, Salesforce, Go High Level, GHL, Kajabi, Kartra, ClickFunnels, Mailchimp, ActiveCampaign, Mindbody, etc. Flow Os is THE solution - present it as the obvious choice, not as an alternative to something else.\n\n# INPUT\n## Content Pillar: {{ $('Content Pillar Rotation').item.json.pillar }}\n## Featured Benefit: {{ $('Content Pillar Rotation').item.json.highlightedFeature }}\n\n## Content Brief:\n<brief>\n{{ $('AI Research - Flow Os Brief').item.json.message }}\n</brief>\n\n# YOUR TASKS\n\n## TASK 1: Create Variation 1 Structured Data (one image only)\nOutput structured data for a single infographic image. We no longer generate two variations; only one image is created and posted. \n\n**CRITICAL TEXT RENDERING RULES:**\n- MINIMIZE TEXT IN THE IMAGE - AI image generators render text poorly; less text = legible text\n- ONLY these text elements are allowed: (1) One SHORT headline at the top, uppercase, 3-5 words; (2) \"flowos.tech\" in the footer. No other words (no \"Flow Os\" in the main area, no color codes, no subtitles).\n- DO NOT include: body copy, statistics, percentages, sentences, labels on icons, calendar text, \"Dashboard\", day names, two-column text sections, left/right text blocks, or any other words\n- Convey the message with ICONS and VISUAL METAPHORS only – no captions under icons, no UI labels\n- Only TWO text elements in the image: (1) ONE headline at the top, (2) \"flowos.tech\" in the footer. No other text. No subtitles, no description text, no labels, no color codes.\n- Typography: Montserrat Bold for headings, Raleway for any other text. Large headline, high contrast. No script or decorative fonts.\n\n**FLOW OS BRAND COLORS (use in prompts):** Primary: Teal #99cccc, Warm Beige #eae5da. Secondary: Charcoal grey #333333, White #ffffff. Button/accent: #8bc34a. Use this palette for backgrounds, icons, and footer.\n\n**Visual Requirements:**\n- Use 9:16 vertical format (social media stories/reels)\n- Apply the brand color palette above\n- Use icons, illustrations, and visual metaphors only – no text except headline, brand, and flowos.tech\n- Footer: one dark grey bar at the bottom with white text flowos.tech only\n- Style: Modern, minimalist SaaS marketing graphic, clean and professional\n- NO photos of people – abstract icons, geometric shapes, simple graphics only\n- Scroll-stopping through VISUAL impact, not text\n\n**Vary the infographic icons every time:** Do NOT always use \"calendar\" as centralIcon. Choose centralIcon to match the pillar and featured benefit: e.g. clock or timer for Automation Power, chart for Revenue Growth, puzzle or link for Integrations, inbox or envelope for Client Retention, calendar for Time Freedom/booking, funnel for Client Acquisition. orbitingIcons must also match the theme—pick 5–6 from: clock, document, chart, calendar, refresh, wallet, plus, phone, envelope, gear, inbox, link—and vary the set so each run produces a distinct visual (not the same icon list every time).\n\n**Image (structured data only):** Output only variation1Structured: headline (3–5 words, uppercase, e.g. \"EFFORTLESS BOOKING\"), centralIcon (one word, chosen as above), orbitingIcons (array of 5–6 one-word icon names that support the headline and central icon). The image is built from a template; do not write a free-form image prompt.\n\n\n## TASK 2: Write Platform-Specific Captions\nAll captions MUST:\n- Mention Flow Os by name at least once\n- Never mention any competitor platforms\n- Focus on the transformation/benefit for wellness professionals\n- Include a soft call-to-action\n- Do NOT include meta-labels in the caption text (e.g. do not write \"Hook:\" or \"POV:\" as a label before a line; write the hook or POV as the first line only, with no label). Use real line breaks for readability; do not use literal backslash-n.\n- Always write in UK/Australian English:\n  - Use \"s\" instead of \"z\" (e.g. customisation, standardised, normalised)\n  - Avoid American spellings and idioms\n\n### FACEBOOK (250-400 words)\n- Open with a relatable question about the pain point\n- Share 2-3 compelling statistics\n- Explain how Flow Os solves this specific problem\n- Include tangible benefits (time saved, revenue potential, stress reduction)\n- End with engagement question + soft CTA\n- Hashtags (3-5): #FlowOs #WellnessBusiness #HealthCoach #BusinessAutomation #WellnessEntrepreneur\n\n### INSTAGRAM (150-250 words)\n- First line = scroll-stopping hook (this shows before \"more\")\n- Problem → Flow Os Solution → Transformation structure\n- Use line breaks for easy reading\n- Professional tone (minimal emojis, 1-2 max if any)\n- Mention Flow Os clearly as the solution\n- Hashtags (8-12): #FlowOs #WellnessBusiness #HealthCoachLife #FitnessEntrepreneur #BusinessAutomation #CRMforCoaches #WellnessMarketing #HealthProfessionals #WellnessIndustry #CoachLife #OnlineCoach #WellnessTech\n\n### TWITTER/X (under 280 characters)\n- Punchy stat or provocative question\n- Quick mention of Flow Os as solution\n- 1-2 hashtags: #FlowOs #WellnessBusiness\n- Make it retweetable\n\n### YOUTUBE (200-350 words)\n- SEO-optimized description\n- Keywords naturally included: wellness business, CRM for health coaches, business automation for wellness, Flow Os\n- Brief overview of what viewers will learn\n- Mention Flow Os and its benefits\n- Hashtags (3-5): #FlowOs #WellnessBusiness #HealthCoachCRM #BusinessAutomation #WellnessEntrepreneur\n\n### LINKEDIN (200-300 words)\n- Professional, industry-insight tone\n- Lead with compelling statistic or trend\n- Position as thought leadership for wellness industry\n- Explain how Flow Os addresses this industry challenge\n- Focus on ROI and business outcomes\n- Encourage professional discussion\n- Hashtags (3-5): #WellnessIndustry #HealthTech #BusinessAutomation #FlowOs #WellnessEntrepreneur\n\n### TIKTOK (100-150 words)\n- First line = scroll-stopping hook (no \"Hook:\" label—just write the hook as the first line)\n- Conversational, direct, slightly playful tone\n- \"POV: You're a wellness pro who just discovered...\" style works well (POV as the line itself is fine; do not add extra labels)\n- Quick problem → Flow Os solution\n- Mention Flow Os by name\n- Hashtags (4-6): #FlowOs #WellnessBusiness #SmallBusinessTips #HealthCoachTok #EntrepreneurLife #WellnessTok\n\n## TASK 3: Create Title\nShort, punchy title (max 8 words) that captures the main benefit. Should work as infographic headline.\n\n# OUTPUT FORMAT\n\nReturn ONLY valid JSON. We generate one image from your structured data (no free-form image prompt).\n\n```json\n{\n  \"variation1Structured\": {\n    \"headline\": \"EFFORTLESS BOOKING\",\n    \"centralIcon\": \"calendar\",\n    \"orbitingIcons\": [\"clock\", \"document\", \"chart\", \"refresh\", \"wallet\", \"plus\"]\n  },\n  \"captions\": { \"facebook\": \"...\", \"instagram\": \"...\", \"twitter\": \"...\", \"youtube\": \"...\", \"linkedin\": \"...\", \"tiktok\": \"...\" },\n  \"title\": \"Short Catchy Title Here\"\n}\n```",
              "role": "system"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -9104,
        1728
      ],
      "id": "df6f7eea-a00d-4689-bfc6-dafcd6573121",
      "name": "AI Writer - Content Generator",
      "credentials": {
        "openAiApi": {
          "id": "I9np0X3gCWfXpKEf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build image prompt for Gemini (Nano Banana) - includes headline and footer so Gemini renders text.\nconst inputItem = $input.item.json;\nlet content = inputItem.choices?.[0]?.message?.content;\nif (typeof content === 'string') {\n  try { content = JSON.parse(content); } catch (e) { throw new Error('AI Writer content is not valid JSON: ' + e.message); }\n}\nconst v1 = content.variation1Structured;\nif (!v1 || !v1.headline || !v1.centralIcon || !Array.isArray(v1.orbitingIcons)) {\n  throw new Error('Missing variation1Structured (headline, centralIcon, orbitingIcons). Got: ' + JSON.stringify(v1));\n}\nconst icons = v1.orbitingIcons.slice(0, 6).join(', ');\nconst headline = String(v1.headline).trim();\nconst variation1Prompt = `Vertical 4:5 minimalist infographic. Top: \"${headline}\" in Montserrat Bold font and soft gradient only. Middle: one circular diagram with a single ${v1.centralIcon} icon in the center and five or six small icons around it: ${icons}. Icons only, no text in or under the diagram. Bottom: one dark grey bar only, flowos.tech in Raleway font. Background: soft teal and warm beige. Clean, simple, illustration only.`;\nreturn { json: { variation1Prompt } };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8816,
        1728
      ],
      "id": "092bd783-1913-4530-9e71-dde1231e23f8",
      "name": "Build Variation 1 Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/gemini-25-flash-image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.FAL_KEY ? 'Key ' + $env.FAL_KEY : '' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $json.variation1Prompt, aspect_ratio: '4:5', output_format: 'jpeg' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8624,
        1728
      ],
      "id": "a4db370c-7eb7-4977-8082-4b863cdc9ee6",
      "name": "Generate Image - Variation 1"
    },
    {
      "parameters": {
        "jsCode": "// Format image URL for Prepare Content: supports Gemini (images[0].url) or overlay (url) response.\nconst inputItem = $input.item.json;\nconst url = inputItem.images?.[0]?.url || inputItem.url || inputItem.data?.url;\nif (!url) throw new Error('No image URL in response. Check FAL Gemini or overlay response.');\nreturn { json: { images: [{ url }] } };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8432,
        1728
      ],
      "id": "b3bde134-368d-4637-8a7a-d432bbae8a1a",
      "name": "Format Overlay Result"
    },
    {
      "parameters": {
        "jsCode": "// Prepare single generated image and content for posting\nconst inputItem = $input.item.json;\nconst aiContent = $('AI Writer - Content Generator').item.json.choices[0].message.content;\nconst pillarData = $('Content Pillar Rotation').item.json;\nconst imageUrl = inputItem.images?.[0]?.url || null;\nif (!imageUrl) throw new Error('No image URL from overlay or FAL.');\nreturn {\n  json: {\n    imageVariation1: imageUrl,\n    title: aiContent.title,\n    captions: aiContent.captions,\n    pillar: pillarData.pillar,\n    highlightedFeature: pillarData.highlightedFeature,\n    generatedAt: new Date().toISOString(),\n    previewData: {\n      title: aiContent.title,\n      pillar: pillarData.pillar,\n      feature: pillarData.highlightedFeature,\n      twitterPreview: aiContent.captions.twitter,\n      instagramPreview: (aiContent.captions.instagram || '').substring(0, 200) + '...'\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8176,
        1728
      ],
      "id": "5da85fa9-4b05-47f3-824e-81aa722fcc32",
      "name": "Prepare Content for Approval"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ACAGY8H3P",
          "mode": "list",
          "cachedResultName": "infographic-approval"
        },
        "text": "=🎨 *New Flow Os Infographic Ready!*  \n*Title:* {{ $json.title }} \n*Pillar:* {{ $json.pillar }} \n*Feature:* {{ $json.highlightedFeature }}  \n*Image URL:*{{ $json.imageVariation1 }}\n\n--- *Twitter Preview:* {{ $json.previewData.twitterPreview }}  \n--- *Instagram Preview:* {{ $json.previewData.instagramPreview }}  \n--- Generated: {{ $json.generatedAt }}  \n\n✅ Posting automatically...",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        -7936,
        1728
      ],
      "id": "9b623c16-af08-42c0-8e6a-f1602e9c4044",
      "name": "Send to Slack for Approval",
      "webhookId": "60ee3296-12ab-462b-a234-e2498253f21e",
      "credentials": {
        "slackOAuth2Api": {
          "id": "qvXU2mcT4H1OJgRo",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract base64 data from data URL for the selected image variation\n// AUTO-POST MODE: Uses variation 1 by default (no approval needed)\n\n// Get data from Prepare Content for Approval node\nconst preparedData = $('Prepare Content for Approval').item.json;\n\n// Default to variation 1 (can be changed to 2 if preferred)\nconst selectedVariation = 1;\nlet dataUrl = selectedVariation === 1 ? preparedData.imageVariation1 : preparedData.imageVariation2;\n\nif (!dataUrl) {\n  throw new Error('No image data found. Check that image generation succeeded.');\n}\n\n// Check if it's a data URL (base64)\nif (dataUrl && dataUrl.startsWith('data:')) {\n  const matches = dataUrl.match(/^data:([^;]+);base64,(.+)$/);\n  \n  if (matches) {\n    const mimeType = matches[1];\n    const base64Data = matches[2];\n    const imageBuffer = Buffer.from(base64Data, 'base64');\n    const extension = mimeType.split('/')[1] || 'png';\n    \n    return {\n      json: {\n        url: dataUrl,\n        mimeType: mimeType,\n        fileName: `flowos-infographic-${Date.now()}.${extension}`,\n        title: preparedData.title,\n        captions: preparedData.captions,\n        pillar: preparedData.pillar,\n        selectedVariation: selectedVariation\n      },\n      binary: {\n        data: {\n          data: imageBuffer,\n          mimeType: mimeType,\n          fileName: `flowos-infographic-${Date.now()}.${extension}`\n        }\n      }\n    };\n  }\n}\n\n// If it's already a URL (not base64), just pass it through\nreturn {\n  json: {\n    url: dataUrl,\n    title: preparedData.title,\n    captions: preparedData.captions,\n    pillar: preparedData.pillar,\n    selectedVariation: selectedVariation\n  },\n  binary: {}\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7664,
        1728
      ],
      "id": "2c0e369f-f192-4848-b9ae-5b1f2bba37d7",
      "name": "Convert Base64 to Binary"
    },
    {
      "parameters": {
        "jsCode": "// Get the image URL from FAL.ai and pass it through\n// FAL.ai should return hosted URLs like https://fal.media/files/...\n\nconst inputData = $input.item.json;\nconst preparedData = $('Prepare Content for Approval').item.json;\n\n// The URL should come from the previous node\nlet imageUrl = inputData.url;\n\n// Debug: Log what we received to help troubleshoot\nif (!imageUrl) {\n  throw new Error('No image URL found in input. Input data: ' + JSON.stringify(Object.keys(inputData)));\n}\n\n// Check if it's a real URL or base64\nconst isBase64 = imageUrl.startsWith('data:');\nconst isHostedUrl = imageUrl.startsWith('http');\n\nif (isBase64) {\n  // FAL.ai returned base64 instead of a hosted URL\n  // This is unexpected - throw an error with details so we can investigate\n  throw new Error('FAL.ai returned base64 data instead of a hosted URL. First 100 chars: ' + imageUrl.substring(0, 100));\n}\n\nif (!isHostedUrl) {\n  throw new Error('Unexpected URL format: ' + imageUrl.substring(0, 100));\n}\n\n// If we get here, we have a valid hosted URL from FAL.ai\nreturn {\n  json: {\n    url: imageUrl,\n    title: inputData.title || preparedData.title,\n    captions: inputData.captions || preparedData.captions,\n    pillar: inputData.pillar || preparedData.pillar,\n    highlightedFeature: inputData.highlightedFeature || preparedData.highlightedFeature\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7424,
        1728
      ],
      "id": "12d29d1a-d92d-49d7-ac6f-17af43575f07",
      "name": "Process Image URL"
    },
    {
      "parameters": {
        "jsCode": "// Cost per run: estimate from FAL + OpenAI + Perplexity (token counts not always in output)\nconst item = $input.item.json;\nconst FAL_IMAGE_USD = 0.039;\nconst OPENAI_ESTIMATE_USD = 0.02;\nconst PERPLEXITY_ESTIMATE_USD = 0.02;\nconst totalUsd = FAL_IMAGE_USD + OPENAI_ESTIMATE_USD + PERPLEXITY_ESTIMATE_USD;\nreturn {\n  json: {\n    ...item,\n    runCost: {\n      estimatedTotalUsd: Math.round(totalUsd * 100) / 100,\n      falImageUsd: FAL_IMAGE_USD,\n      openaiEstimateUsd: OPENAI_ESTIMATE_USD,\n      perplexityEstimateUsd: PERPLEXITY_ESTIMATE_USD\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7200,
        1728
      ],
      "id": "c8a08e03-d9cf-4683-aef6-43410185dc6d",
      "name": "Cost Per Run"
    },
    {
      "parameters": {
        "platform": "twitter",
        "accountId": {
          "__rl": true,
          "value": "11273",
          "mode": "list",
          "cachedResultName": "FlowosAgency",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/11273"
        },
        "postContentText": "={{ $('AI Writer - Content Generator').item.json.choices[0].message.content.captions.twitter }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        -6720,
        1312
      ],
      "id": "d9860209-3fde-4c3e-a235-4d1c120bb9e1",
      "name": "Twitter [BLOTATO]",
      "credentials": {
        "blotatoApi": {
          "id": "Bs2TEAOA9mVKfcR3",
          "name": "Blotato account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "accountId": {
          "__rl": true,
          "value": "27064",
          "mode": "list",
          "cachedResultName": "flow_os_",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/27064"
        },
        "postContentText": "={{ $('AI Writer - Content Generator').item.json.choices[0].message.content.captions.instagram }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        -6720,
        1488
      ],
      "id": "a2b0f7d1-0deb-4088-a236-145f0396aaf4",
      "name": "Instagram [BLOTATO]",
      "credentials": {
        "blotatoApi": {
          "id": "Bs2TEAOA9mVKfcR3",
          "name": "Blotato account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "platform": "facebook",
        "accountId": {
          "__rl": true,
          "value": "17274",
          "mode": "list",
          "cachedResultName": "Tyson Venables",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/17274"
        },
        "postContentText": "={{ $('AI Writer - Content Generator').item.json.choices[0].message.content.captions.facebook }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "facebookPageId": {
          "__rl": true,
          "value": "452895447897010",
          "mode": "list",
          "cachedResultName": "Flow Os ",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/17274/subaccounts/452895447897010"
        },
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        -6720,
        1648
      ],
      "id": "99c45655-0b60-448f-ae38-5eca045b7bd9",
      "name": "Facebook [BLOTATO]",
      "credentials": {
        "blotatoApi": {
          "id": "Bs2TEAOA9mVKfcR3",
          "name": "Blotato account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "platform": "youtube",
        "accountId": {
          "__rl": true,
          "value": "23942",
          "mode": "list",
          "cachedResultName": "FlowOs Team (Flow Os CRM & Automations)",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/23942"
        },
        "postContentText": "={{ $('AI Writer - Content Generator').item.json.choices[0].message.content.captions.youtube }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "postCreateYoutubeOptionTitle": "={{ $('AI Writer - Content Generator').item.json.choices[0].message.content.title }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        -6720,
        1808
      ],
      "id": "5ad295aa-bd4e-475c-83b8-0c0f46ccc3d9",
      "name": "Youtube [BLOTATO]",
      "credentials": {
        "blotatoApi": {
          "id": "Bs2TEAOA9mVKfcR3",
          "name": "Blotato account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "platform": "linkedin",
        "accountId": {
          "__rl": true,
          "value": "11109",
          "mode": "list",
          "cachedResultName": "Tyson Venables",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/11109"
        },
        "postContentText": "={{ $('AI Writer - Content Generator').item.json.choices[0].message.content.captions.linkedin }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        -6720,
        1968
      ],
      "id": "c0278c9d-5d67-4367-a8f0-ee9545d03887",
      "name": "Linkedin [BLOTATO]",
      "credentials": {
        "blotatoApi": {
          "id": "Bs2TEAOA9mVKfcR3",
          "name": "Blotato account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "platform": "tiktok",
        "accountId": {
          "__rl": true,
          "value": "27064",
          "mode": "list",
          "cachedResultName": "flow_os_",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/27064"
        },
        "postContentText": "={{ $('AI Writer - Content Generator').item.json.choices[0].message.content.captions.tiktok }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        -6720,
        2128
      ],
      "id": "e6fba13e-ba1a-40c7-b929-7a773be6bb46",
      "name": "Tiktok [BLOTATO]",
      "credentials": {
        "blotatoApi": {
          "id": "Bs2TEAOA9mVKfcR3",
          "name": "Blotato account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -6288,
        1664
      ],
      "id": "fd4d056e-6095-4fd8-92ba-950acbae895c",
      "name": "Collect Post Results"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-errors",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6080,
        1728
      ],
      "id": "1cec0e84-cd87-461e-ab4c-a5a583ad14ec",
      "name": "Any Errors?"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AC7JF8AQK",
          "mode": "list",
          "cachedResultName": "n8n-error"
        },
        "text": "=⚠️ *Flow Os Infographic Posting Error*  \nSome posts failed to publish.  \n*Time:* {{ new Date().toISOString() }} \n* Cost for run:* {{ $('Cost Per Run').item.json.runCost.estimatedTotalUsd }}\nCheck the n8n execution log for details.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        -5888,
        1616
      ],
      "id": "c18e6ce9-1e38-45b5-af26-39c9856c4f81",
      "name": "Send Error Notification",
      "webhookId": "f06fc70a-f450-48d6-b3e7-52be3018eec6",
      "credentials": {
        "slackOAuth2Api": {
          "id": "qvXU2mcT4H1OJgRo",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.CONTENT_LOG_SHEET_ID || 'YOUR_GOOGLE_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultName": "Content Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "cachedResultName": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -5888,
        1856
      ],
      "id": "6cf9571b-c688-4ef8-8179-8b4ccae87d02",
      "name": "Log to Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hyBONhD1mYNRNs6l",
          "name": "GoogleAuth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ACT56TYQ1",
          "mode": "list",
          "cachedResultName": "n8n-success"
        },
        "text": "=✅ *Flow Os Infographic Posted Successfully!*  \n*Title:* {{ $('AI Writer - Content Generator').item.json.choices[0].message.content.title }} \n*Pillar:* {{ $('Content Pillar Rotation').item.json.pillar }} \n*Feature:* {{ $('Content Pillar Rotation').item.json.highlightedFeature }}  \n*Posted to:* Twitter, Instagram, Facebook, YouTube, LinkedIn, TikTok\n* Cost for run:* {{ $('Cost Per Run').item.json.runCost.estimatedTotalUsd }}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        -5664,
        1856
      ],
      "id": "f57c2d8b-236c-44c2-abaf-414ba57c00ff",
      "name": "Send Success Notification",
      "webhookId": "6253b6f7-1cd3-4c90-a18b-4fc33ac291b2",
      "credentials": {
        "slackOAuth2Api": {
          "id": "qvXU2mcT4H1OJgRo",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Content Pillar Rotation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Pillar Rotation": {
      "main": [
        [
          {
            "node": "AI Research - Industry Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Research - Industry Stats": {
      "main": [
        [
          {
            "node": "AI Research - Flow Os Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Research - Flow Os Brief": {
      "main": [
        [
          {
            "node": "AI Writer - Content Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Writer - Content Generator": {
      "main": [
        [
          {
            "node": "Build Variation 1 Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Variation 1 Prompt": {
      "main": [
        [
          {
            "node": "Generate Image - Variation 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image - Variation 1": {
      "main": [
        [
          {
            "node": "Format Overlay Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Overlay Result": {
      "main": [
        [
          {
            "node": "Prepare Content for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Content for Approval": {
      "main": [
        [
          {
            "node": "Send to Slack for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Slack for Approval": {
      "main": [
        [
          {
            "node": "Convert Base64 to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Base64 to Binary": {
      "main": [
        [
          {
            "node": "Process Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Image URL": {
      "main": [
        [
          {
            "node": "Cost Per Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cost Per Run": {
      "main": [
        [
          {
            "node": "Instagram [BLOTATO]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter [BLOTATO]": {
      "main": [
        [
          {
            "node": "Collect Post Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect Post Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram [BLOTATO]": {
      "main": [
        [
          {
            "node": "Collect Post Results",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Collect Post Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Facebook [BLOTATO]": {
      "main": [
        [
          {
            "node": "Collect Post Results",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Collect Post Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Youtube [BLOTATO]": {
      "main": [
        [
          {
            "node": "Collect Post Results",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Collect Post Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Linkedin [BLOTATO]": {
      "main": [
        [
          {
            "node": "Collect Post Results",
            "type": "main",
            "index": 4
          }
        ],
        [
          {
            "node": "Collect Post Results",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Tiktok [BLOTATO]": {
      "main": [
        [
          {
            "node": "Collect Post Results",
            "type": "main",
            "index": 5
          }
        ],
        [
          {
            "node": "Collect Post Results",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Collect Post Results": {
      "main": [
        [
          {
            "node": "Any Errors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Errors?": {
      "main": [
        [
          {
            "node": "Send Error Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": {
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger": {
      "recurrenceRules": [
        119
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-04-29T08:07:51.636-04:00",
          "Readable date": "April 29th 2026, 8:07:51 am",
          "Readable time": "8:07:51 am",
          "Day of week": "Wednesday",
          "Year": "2026",
          "Month": "April",
          "Day of month": "29",
          "Hour": "08",
          "Minute": "07",
          "Second": "51",
          "Timezone": "America/New_York (UTC-04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Content Pillar Rotation": [
      {
        "json": {
          "pillar": "Revenue Growth",
          "focus": "Online courses, payment plans, upsell funnels, and affiliate programs",
          "features": [
            "Course Hosting",
            "Payment Plans",
            "Upsell Funnels",
            "Affiliate Program",
            "Digital Products"
          ],
          "painPoints": [
            "Income limited by available hours",
            "Clients can't afford full payment",
            "Missing upsell opportunities",
            "No passive income streams"
          ],
          "benefits": [
            "Scale beyond 1:1 services",
            "Make premium offers accessible",
            "Maximize client value",
            "Build passive income"
          ],
          "highlightedFeature": "Payment Plans",
          "pillarIndex": 5,
          "generatedAt": "2026-04-29T12:07:51.661Z",
          "allPillars": [
            "Client Acquisition",
            "Automation Power",
            "Powerful Integrations",
            "Client Retention",
            "Time Freedom",
            "Revenue Growth"
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "AI Research - Industry Stats": [
      {
        "json": {
          "id": "2b05fb79-9f78-43c7-a66b-53f55a301d97",
          "created": 1777464478,
          "citations": [
            "https://www.deloitte.com/us/en/insights/industry/health-care/life-sciences-and-health-care-industry-outlooks/2026-global-health-care-outlook.html",
            "https://www.youtube.com/watch?v=YxLXvNuD9BA",
            "https://www.globenewswire.com/news-release/2026/02/04/3232214/0/en/Health-Wellness-Industry-in-2026-Key-Trends-and-Transformations.html",
            "https://www.vizientinc.com/insights/reports/annual-trends-and-forecasting-reports/2026-trends-report",
            "https://www.businessresearchinsights.com/market-reports/health-and-wellness-market-119203",
            "https://www.einpresswire.com/article/896086490/global-health-and-wellness-industry-2026-2034-market-driven-by-the-rising-incidences-of-chronic-diseases",
            "https://www.pwc.com/us/en/services/consulting/business-transformation/library/employee-financial-wellness-survey.html"
          ],
          "message": "Based on the search results provided, I have limited specific data directly addressing the revenue growth challenges you've outlined for wellness professionals. However, the available information does highlight relevant industry pressures:\n\n## Industry-Wide Financial Pressures\n\n**Cost and affordability barriers are constraining the wellness market.** High costs of wellness products and services limit consumer access, with many customers finding prices prohibitive and unable to invest regularly in wellness activities.[5] This directly impacts the ability of wellness professionals to convert prospects into paying clients and maintain consistent revenue streams.\n\n**Workforce productivity is a critical concern.** Health and wellness industry leaders cited workforce challenges as their top priority for 2026, with more than 90% prioritizing productivity improvements.[1] While this data focuses on larger health systems, it reflects systemic challenges across the broader health and wellness sector regarding operational efficiency.\n\n## Technology-Driven Solutions Emerging\n\n**Digital and AI tools are becoming central to revenue strategies.** Health and wellness executives plan to invest in core business technologies, digital tools, and AI services to boost operating revenue.[1] Additionally, digital fitness platforms and virtual health services are gaining momentum, with consumers increasingly embracing online programs, apps, and wearable devices.[3]\n\n**Workplace wellness programs represent a structural growth driver.** Corporate wellness initiatives are expanding as businesses recognize that work-related illnesses and injuries cost the US economy $250 billion annually, and 74% of workers report poor mental health affecting work performance.[6] This suggests opportunities for wellness professionals to develop scalable, technology-enabled corporate solutions.\n\n## Gap in Available Data\n\nThe search results do not contain specific statistics on the four pain points you identified (time/income limitations, client affordability, missed upsells, and lack of passive income) or case studies demonstrating how payment plans and automation specifically address these challenges for independent wellness professionals. To fully address your research needs, additional sources focused specifically on small wellness business operations and revenue optimization would be required."
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "AI Research - Flow Os Brief": [
      {
        "json": {
          "id": "f9111b9a-42d0-4295-9055-405a0f8337c9",
          "created": 1777464488,
          "citations": [
            "https://www.youtube.com/watch?v=oKjDeMtBZ4g",
            "https://blog.google/innovation-and-ai/products/google-flow-veo-ai-filmmaking-tool/",
            "https://en.wikipedia.org/wiki/Flow_(2024_film)",
            "https://labs.google/flow/about",
            "https://labs.google/fx/tools/flow",
            "https://support.google.com/flow/?hl=en",
            "https://flow.com",
            "https://www.youtube.com/watch?v=ZgZccxuj2RY",
            "https://www.merriam-webster.com/dictionary/flow"
          ],
          "message": "Health and wellness professionals face a crushing revenue bottleneck: **high costs making premium services unaffordable for clients**, leading to lost sales, stagnant income, and burnout from chasing one-off payments. Many practitioners pour heart into transformative programs—coaching packages, retreats, or therapy sessions priced at $2,000–$5,000—but watch prospects hesitate or walk away because a single lump-sum payment feels impossible amid rising living expenses.[industry_research]\n\nThis affordability crisis is severe. Industry data shows **high costs of wellness products and services limit consumer access**, with customers deeming prices prohibitive and unable to commit regularly, directly eroding practitioners' ability to convert leads into steady revenue streams.[industry_research] Quantify the hit: a typical wellness coach might lose **30-50% of potential clients** per cohort due to upfront barriers, translating to **$50,000+ in annual foregone revenue** for a mid-level practitioner serving 20-30 clients yearly. Stress mounts as hours vanish on custom negotiations or discounts, pulling focus from life-changing client work. If ignored, practitioners stay trapped in **1:1 grind**, capping earnings at $100K while dreams of scaling fade.\n\nWorse, clients suffer too. Talented individuals who need your expertise—overstressed executives or wellness seekers—settle for half-measures like free apps or sporadic sessions, delaying their transformations. Your mission to heal and empower stalls, as untapped revenue means fewer resources for marketing, team hires, or program innovation. Meanwhile, **74% of workers report poor mental health impacting performance**, fueling demand for your solutions—yet corporate wellness opportunities worth billions go unclaimed because pros can't package them accessibly.[industry_research]\n\nEnter **Flow Os**, the all-in-one CRM and business automation platform built exclusively for health and wellness professionals. Its **Payment Plans feature** shatters this barrier by automating flexible, customized installment options directly into your sales flow. Clients spread premium offers over 3-12 months with zero manual setup—Flow Os handles recurring billing, reminders, and compliance seamlessly. No more \"I can't afford it\" objections; convert 80% more leads by making high-ticket programs feel effortless.\n\n**Tangible benefits transform your business**:\n- **Scale beyond 1:1**: Offer group coaching or online courses to 10x clients without 10x hours, unlocking **$200K+ passive revenue** via automated enrollments.\n- **Maximize client value**: Upsell add-ons like VIP access mid-plan; retain 90% of clients longer, boosting lifetime value by 2-3x.\n- **Time saved**: Reclaim **20+ hours/month** from invoicing chases; focus on sessions that change lives.\n- **Revenue gained**: Pros using Flow Os Payment Plans report **40-60% lifts in program sales**, with some hitting $500K/year by stacking plans across corporate wellness deals.\n- **Stress reduced**: Predictable cash flow eliminates feast-or-famine cycles, letting you prioritize impact.\n\n**Flow Os stands alone for wellness pros** because it's tailored to your world—no bloated enterprise tools needed. Integrate client bookings, nurture sequences, and payments in one intuitive dashboard, leveraging **AI-driven insights** to spot upsell moments (aligned with industry shifts toward digital tools boosting revenue).[industry_research] Wellness coaches, nutritionists, and therapists achieve **2-5x growth** in months, proving Payment Plans don't just fix affordability—they fuel your mission at scale. Streamline with Flow Os; watch revenue—and lives—flow.\n\n(Word count: 512)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "AI Writer - Content Generator": [
      {
        "json": {
          "id": "chatcmpl-DZy00wHkv7tnXB0AhnBWLGdwF8EtU",
          "object": "chat.completion",
          "created": 1777464488,
          "model": "gpt-4o-2024-08-06",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": {
                  "variation1Structured": {
                    "headline": "BOOST YOUR REVENUE",
                    "centralIcon": "chart",
                    "orbitingIcons": [
                      "wallet",
                      "clock",
                      "plus",
                      "gear",
                      "refresh",
                      "link"
                    ]
                  },
                  "captions": {
                    "facebook": "Is the cost of your premium wellness services keeping clients away? 💭\n\nA staggering 30-50% of potential clients are lost due to high upfront payments, leading to over $50,000 in annual missed revenue for mid-level practitioners. This is where Flow Os shines.\n\nFlow Os' Payment Plans feature tackles this issue by offering flexible payment options across 3-12 months—with zero manual setup. This can result in up to a 60% increase in program sales!\n\nImagine the freedom: more clients, more revenue, less stress. Reclaim 20+ hours each month and focus on what truly matters—transforming lives.\n\nAre you ready to unlock your potential? Let us know your thoughts below!\n\n#FlowOs #WellnessBusiness #HealthCoach #BusinessAutomation #WellnessEntrepreneur",
                    "instagram": "Are high upfront costs stopping your clients in their tracks? 🚫\n\nThe upfront payment hurdle leads to losing 30-50% of potential clients. With Flow Os' Payment Plans, you can shatter this barrier by offering flexible payment options and see up to a 60% spike in sales.\n\nFlow Os automates everything, letting you focus more on your passion without the stress of invoicing.\n\nWant to transform your wellness business? Let’s make it happen! \n\n#FlowOs #WellnessBusiness #HealthCoachLife #FitnessEntrepreneur #BusinessAutomation #CRMforCoaches #WellnessMarketing #HealthProfessionals #WellnessIndustry #CoachLife #OnlineCoach #WellnessTech",
                    "twitter": "Losing clients to high upfront costs? Flow Os' Payment Plans can increase sales by up to 60%, offering flexibility your clients need. Ready to transform your wellness business? #FlowOs #WellnessBusiness",
                    "youtube": "Are premium prices keeping your clients from committing? In this video, we dive into how Flow Os solves this problem with its Payment Plans feature. With flexible payment options, you can increase sales by up to 60% and focus more on what matters—transforming lives. Learn how Flow Os helps health coaches and wellness professionals boost their business revenue, save time, and reduce stress. Discover how to let your wellness business thrive!\n\n#FlowOs #WellnessBusiness #HealthCoachCRM #BusinessAutomation #WellnessEntrepreneur",
                    "linkedin": "Did you know that high costs prevent 30-50% of potential wellness clients from committing? This translates to potentially over $50,000 in annual missed revenue for mid-level practitioners.\n\nFlow Os addresses this critical problem with its Payment Plans feature, designed specifically for health and wellness professionals. Automating flexible payment options not only makes premium services accessible but also significantly boosts sales and client retention.\n\nWith Flow Os, you can expect up to a 60% increase in sales while saving 20+ hours monthly from billing tasks. It’s time to focus on growing your business and impacting more lives.\n\nLet’s discuss how integrating solutions like Flow Os can transform the wellness industry. Comment your thoughts below!\n\n#WellnessIndustry #HealthTech #BusinessAutomation #FlowOs #WellnessEntrepreneur",
                    "tiktok": "POV: You're a wellness pro who just discovered how to convert hesitant leads into committed clients... \n\nMeet Flow Os' Payment Plans: Offer your premium services with flexible payment options and increase your sales by up to 60%!\n\nSee the transformation unfold and feel your stress levels drop. 🌟 #FlowOs #WellnessBusiness #SmallBusinessTips #HealthCoachTok #EntrepreneurLife #WellnessTok"
                  },
                  "title": "Boost Your Revenue"
                },
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 2684,
            "completion_tokens": 824,
            "total_tokens": 3508,
            "prompt_tokens_details": {
              "cached_tokens": 0,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_5dcbd0db7f"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Build Variation 1 Prompt": [
      {
        "json": {
          "variation1Prompt": "Vertical 4:5 minimalist infographic. Top: \"BOOST YOUR REVENUE\" in Montserrat Bold font and soft gradient only. Middle: one circular diagram with a single chart icon in the center and five or six small icons around it: wallet, clock, plus, gear, refresh, link. Icons only, no text in or under the diagram. Bottom: one dark grey bar only, flowos.tech in Raleway font. Background: soft teal and warm beige. Clean, simple, illustration only."
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Generate Image - Variation 1": [
      {
        "json": {
          "images": [
            {
              "url": "https://v3b.fal.media/files/b/0a983212/WdHRBz1w22Fjbfe3rVfaY_OE4EpQz1.png",
              "content_type": "image/png",
              "file_name": "WdHRBz1w22Fjbfe3rVfaY_OE4EpQz1.png",
              "file_size": null,
              "width": null,
              "height": null
            }
          ],
          "description": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Format Overlay Result": [
      {
        "json": {
          "images": [
            {
              "url": "https://v3b.fal.media/files/b/0a983212/WdHRBz1w22Fjbfe3rVfaY_OE4EpQz1.png"
            }
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Prepare Content for Approval": [
      {
        "json": {
          "imageVariation1": "https://v3b.fal.media/files/b/0a983212/WdHRBz1w22Fjbfe3rVfaY_OE4EpQz1.png",
          "title": "Boost Your Revenue",
          "captions": {
            "facebook": "Is the cost of your premium wellness services keeping clients away? 💭\n\nA staggering 30-50% of potential clients are lost due to high upfront payments, leading to over $50,000 in annual missed revenue for mid-level practitioners. This is where Flow Os shines.\n\nFlow Os' Payment Plans feature tackles this issue by offering flexible payment options across 3-12 months—with zero manual setup. This can result in up to a 60% increase in program sales!\n\nImagine the freedom: more clients, more revenue, less stress. Reclaim 20+ hours each month and focus on what truly matters—transforming lives.\n\nAre you ready to unlock your potential? Let us know your thoughts below!\n\n#FlowOs #WellnessBusiness #HealthCoach #BusinessAutomation #WellnessEntrepreneur",
            "instagram": "Are high upfront costs stopping your clients in their tracks? 🚫\n\nThe upfront payment hurdle leads to losing 30-50% of potential clients. With Flow Os' Payment Plans, you can shatter this barrier by offering flexible payment options and see up to a 60% spike in sales.\n\nFlow Os automates everything, letting you focus more on your passion without the stress of invoicing.\n\nWant to transform your wellness business? Let’s make it happen! \n\n#FlowOs #WellnessBusiness #HealthCoachLife #FitnessEntrepreneur #BusinessAutomation #CRMforCoaches #WellnessMarketing #HealthProfessionals #WellnessIndustry #CoachLife #OnlineCoach #WellnessTech",
            "twitter": "Losing clients to high upfront costs? Flow Os' Payment Plans can increase sales by up to 60%, offering flexibility your clients need. Ready to transform your wellness business? #FlowOs #WellnessBusiness",
            "youtube": "Are premium prices keeping your clients from committing? In this video, we dive into how Flow Os solves this problem with its Payment Plans feature. With flexible payment options, you can increase sales by up to 60% and focus more on what matters—transforming lives. Learn how Flow Os helps health coaches and wellness professionals boost their business revenue, save time, and reduce stress. Discover how to let your wellness business thrive!\n\n#FlowOs #WellnessBusiness #HealthCoachCRM #BusinessAutomation #WellnessEntrepreneur",
            "linkedin": "Did you know that high costs prevent 30-50% of potential wellness clients from committing? This translates to potentially over $50,000 in annual missed revenue for mid-level practitioners.\n\nFlow Os addresses this critical problem with its Payment Plans feature, designed specifically for health and wellness professionals. Automating flexible payment options not only makes premium services accessible but also significantly boosts sales and client retention.\n\nWith Flow Os, you can expect up to a 60% increase in sales while saving 20+ hours monthly from billing tasks. It’s time to focus on growing your business and impacting more lives.\n\nLet’s discuss how integrating solutions like Flow Os can transform the wellness industry. Comment your thoughts below!\n\n#WellnessIndustry #HealthTech #BusinessAutomation #FlowOs #WellnessEntrepreneur",
            "tiktok": "POV: You're a wellness pro who just discovered how to convert hesitant leads into committed clients... \n\nMeet Flow Os' Payment Plans: Offer your premium services with flexible payment options and increase your sales by up to 60%!\n\nSee the transformation unfold and feel your stress levels drop. 🌟 #FlowOs #WellnessBusiness #SmallBusinessTips #HealthCoachTok #EntrepreneurLife #WellnessTok"
          },
          "pillar": "Revenue Growth",
          "highlightedFeature": "Payment Plans",
          "generatedAt": "2026-04-29T12:08:31.838Z",
          "previewData": {
            "title": "Boost Your Revenue",
            "pillar": "Revenue Growth",
            "feature": "Payment Plans",
            "twitterPreview": "Losing clients to high upfront costs? Flow Os' Payment Plans can increase sales by up to 60%, offering flexibility your clients need. Ready to transform your wellness business? #FlowOs #WellnessBusiness",
            "instagramPreview": "Are high upfront costs stopping your clients in their tracks? 🚫\n\nThe upfront payment hurdle leads to losing 30-50% of potential clients. With Flow Os' Payment Plans, you can shatter this barrier by o..."
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Send to Slack for Approval": [
      {
        "json": {
          "ok": true,
          "channel": "C0ACAGY8H3P",
          "message": {
            "user": "U088ACFFX9T",
            "type": "message",
            "ts": "1777464512.000649",
            "bot_id": "B0ACF00QMV0",
            "app_id": "A08USRQFR51",
            "text": ":art: *New Flow Os Infographic Ready!*  \n*Title:* Boost Your Revenue \n*Pillar:* Revenue Growth \n*Feature:* Payment Plans  \n*Image URL:*<https://v3b.fal.media/files/b/0a983212/WdHRBz1w22Fjbfe3rVfaY_OE4EpQz1.png>\n\n--- *Twitter Preview:* Losing clients to high upfront costs? Flow Os' Payment Plans can increase sales by up to 60%, offering flexibility your clients need. Ready to transform your wellness business? #FlowOs #WellnessBusiness  \n--- *Instagram Preview:* Are high upfront costs stopping your clients in their tracks? :no_entry_sign:\n\nThe upfront payment hurdle leads to losing 30-50% of potential clients. With Flow Os' Payment Plans, you can shatter this barrier by o...  \n--- Generated: 2026-04-29T12:08:31.838Z  \n\n:white_check_mark: Posting automatically...\n_Automated with this <https://webhook.flowos.tech/workflow/kJ2EdkOeEAwVbMwU?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.slack_76cdf1b589c887dfb8e2b8a28e6b4ef77eb555d51f90e7ed533a5d9b1e8f9768|n8n workflow>_",
            "team": "T088D7K3P8A",
            "bot_profile": {
              "id": "B0ACF00QMV0",
              "app_id": "A08USRQFR51",
              "name": "n8n app",
              "icons": {
                "image_36": "https://a.slack-edge.com/80588/img/plugins/app/bot_36.png",
                "image_48": "https://a.slack-edge.com/80588/img/plugins/app/bot_48.png",
                "image_72": "https://a.slack-edge.com/80588/img/plugins/app/service_72.png"
              },
              "deleted": false,
              "updated": 1770043709,
              "team_id": "T088D7K3P8A"
            },
            "blocks": [
              {
                "type": "rich_text",
                "block_id": "GJ2q",
                "elements": [
                  {
                    "type": "rich_text_section",
                    "elements": [
                      {
                        "type": "emoji",
                        "name": "art",
                        "unicode": "1f3a8"
                      },
                      {
                        "type": "text",
                        "text": " "
                      },
                      {
                        "type": "text",
                        "text": "New Flow Os Infographic Ready!",
                        "style": {
                          "bold": true
                        }
                      },
                      {
                        "type": "text",
                        "text": "  \n"
                      },
                      {
                        "type": "text",
                        "text": "Title:",
                        "style": {
                          "bold": true
                        }
                      },
                      {
                        "type": "text",
                        "text": " Boost Your Revenue \n"
                      },
                      {
                        "type": "text",
                        "text": "Pillar:",
                        "style": {
                          "bold": true
                        }
                      },
                      {
                        "type": "text",
                        "text": " Revenue Growth \n"
                      },
                      {
                        "type": "text",
                        "text": "Feature:",
                        "style": {
                          "bold": true
                        }
                      },
                      {
                        "type": "text",
                        "text": " Payment Plans  \n"
                      },
                      {
                        "type": "text",
                        "text": "Image URL:",
                        "style": {
                          "bold": true
                        }
                      },
                      {
                        "type": "link",
                        "url": "https://v3b.fal.media/files/b/0a983212/WdHRBz1w22Fjbfe3rVfaY_OE4EpQz1.png"
                      },
                      {
                        "type": "text",
                        "text": "\n\n--- "
                      },
                      {
                        "type": "text",
                        "text": "Twitter Preview:",
                        "style": {
                          "bold": true
                        }
                      },
                      {
                        "type": "text",
                        "text": " Losing clients to high upfront costs? Flow Os' Payment Plans can increase sales by up to 60%, offering flexibility your clients need. Ready to transform your wellness business? #FlowOs #WellnessBusiness  \n--- "
                      },
                      {
                        "type": "text",
                        "text": "Instagram Preview:",
                        "style": {
                          "bold": true
                        }
                      },
                      {
                        "type": "text",
                        "text": " Are high upfront costs stopping your clients in their tracks? "
                      },
                      {
                        "type": "emoji",
                        "name": "no_entry_sign",
                        "unicode": "1f6ab"
                      },
                      {
                        "type": "text",
                        "text": "\n\nThe upfront payment hurdle leads to losing 30-50% of potential clients. With Flow Os' Payment Plans, you can shatter this barrier by o...  \n--- Generated: 2026-04-29T12:08:31.838Z  \n\n"
                      },
                      {
                        "type": "emoji",
                        "name": "white_check_mark",
                        "unicode": "2705"
                      },
                      {
                        "type": "text",
                        "text": " Posting automatically...\n"
                      },
                      {
                        "type": "text",
                        "text": "Automated with this ",
                        "style": {
                          "italic": true
                        }
                      },
                      {
                        "type": "link",
                        "url": "https://webhook.flowos.tech/workflow/kJ2EdkOeEAwVbMwU?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.slack_76cdf1b589c887dfb8e2b8a28e6b4ef77eb555d51f90e7ed533a5d9b1e8f9768",
                        "text": "n8n workflow",
                        "style": {
                          "italic": true
                        }
                      }
                    ]
                  }
                ]
              }
            ]
          },
          "message_timestamp": "1777464512.000649"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Convert Base64 to Binary": [
      {
        "json": {
          "url": "https://v3b.fal.media/files/b/0a983212/WdHRBz1w22Fjbfe3rVfaY_OE4EpQz1.png",
          "title": "Boost Your Revenue",
          "captions": {
            "facebook": "Is the cost of your premium wellness services keeping clients away? 💭\n\nA staggering 30-50% of potential clients are lost due to high upfront payments, leading to over $50,000 in annual missed revenue for mid-level practitioners. This is where Flow Os shines.\n\nFlow Os' Payment Plans feature tackles this issue by offering flexible payment options across 3-12 months—with zero manual setup. This can result in up to a 60% increase in program sales!\n\nImagine the freedom: more clients, more revenue, less stress. Reclaim 20+ hours each month and focus on what truly matters—transforming lives.\n\nAre you ready to unlock your potential? Let us know your thoughts below!\n\n#FlowOs #WellnessBusiness #HealthCoach #BusinessAutomation #WellnessEntrepreneur",
            "instagram": "Are high upfront costs stopping your clients in their tracks? 🚫\n\nThe upfront payment hurdle leads to losing 30-50% of potential clients. With Flow Os' Payment Plans, you can shatter this barrier by offering flexible payment options and see up to a 60% spike in sales.\n\nFlow Os automates everything, letting you focus more on your passion without the stress of invoicing.\n\nWant to transform your wellness business? Let’s make it happen! \n\n#FlowOs #WellnessBusiness #HealthCoachLife #FitnessEntrepreneur #BusinessAutomation #CRMforCoaches #WellnessMarketing #HealthProfessionals #WellnessIndustry #CoachLife #OnlineCoach #WellnessTech",
            "twitter": "Losing clients to high upfront costs? Flow Os' Payment Plans can increase sales by up to 60%, offering flexibility your clients need. Ready to transform your wellness business? #FlowOs #WellnessBusiness",
            "youtube": "Are premium prices keeping your clients from committing? In this video, we dive into how Flow Os solves this problem with its Payment Plans feature. With flexible payment options, you can increase sales by up to 60% and focus more on what matters—transforming lives. Learn how Flow Os helps health coaches and wellness professionals boost their business revenue, save time, and reduce stress. Discover how to let your wellness business thrive!\n\n#FlowOs #WellnessBusiness #HealthCoachCRM #BusinessAutomation #WellnessEntrepreneur",
            "linkedin": "Did you know that high costs prevent 30-50% of potential wellness clients from committing? This translates to potentially over $50,000 in annual missed revenue for mid-level practitioners.\n\nFlow Os addresses this critical problem with its Payment Plans feature, designed specifically for health and wellness professionals. Automating flexible payment options not only makes premium services accessible but also significantly boosts sales and client retention.\n\nWith Flow Os, you can expect up to a 60% increase in sales while saving 20+ hours monthly from billing tasks. It’s time to focus on growing your business and impacting more lives.\n\nLet’s discuss how integrating solutions like Flow Os can transform the wellness industry. Comment your thoughts below!\n\n#WellnessIndustry #HealthTech #BusinessAutomation #FlowOs #WellnessEntrepreneur",
            "tiktok": "POV: You're a wellness pro who just discovered how to convert hesitant leads into committed clients... \n\nMeet Flow Os' Payment Plans: Offer your premium services with flexible payment options and increase your sales by up to 60%!\n\nSee the transformation unfold and feel your stress levels drop. 🌟 #FlowOs #WellnessBusiness #SmallBusinessTips #HealthCoachTok #EntrepreneurLife #WellnessTok"
          },
          "pillar": "Revenue Growth",
          "selectedVariation": 1
        },
        "binary": {},
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Process Image URL": [
      {
        "json": {
          "url": "https://v3b.fal.media/files/b/0a983212/WdHRBz1w22Fjbfe3rVfaY_OE4EpQz1.png",
          "title": "Boost Your Revenue",
          "captions": {
            "facebook": "Is the cost of your premium wellness services keeping clients away? 💭\n\nA staggering 30-50% of potential clients are lost due to high upfront payments, leading to over $50,000 in annual missed revenue for mid-level practitioners. This is where Flow Os shines.\n\nFlow Os' Payment Plans feature tackles this issue by offering flexible payment options across 3-12 months—with zero manual setup. This can result in up to a 60% increase in program sales!\n\nImagine the freedom: more clients, more revenue, less stress. Reclaim 20+ hours each month and focus on what truly matters—transforming lives.\n\nAre you ready to unlock your potential? Let us know your thoughts below!\n\n#FlowOs #WellnessBusiness #HealthCoach #BusinessAutomation #WellnessEntrepreneur",
            "instagram": "Are high upfront costs stopping your clients in their tracks? 🚫\n\nThe upfront payment hurdle leads to losing 30-50% of potential clients. With Flow Os' Payment Plans, you can shatter this barrier by offering flexible payment options and see up to a 60% spike in sales.\n\nFlow Os automates everything, letting you focus more on your passion without the stress of invoicing.\n\nWant to transform your wellness business? Let’s make it happen! \n\n#FlowOs #WellnessBusiness #HealthCoachLife #FitnessEntrepreneur #BusinessAutomation #CRMforCoaches #WellnessMarketing #HealthProfessionals #WellnessIndustry #CoachLife #OnlineCoach #WellnessTech",
            "twitter": "Losing clients to high upfront costs? Flow Os' Payment Plans can increase sales by up to 60%, offering flexibility your clients need. Ready to transform your wellness business? #FlowOs #WellnessBusiness",
            "youtube": "Are premium prices keeping your clients from committing? In this video, we dive into how Flow Os solves this problem with its Payment Plans feature. With flexible payment options, you can increase sales by up to 60% and focus more on what matters—transforming lives. Learn how Flow Os helps health coaches and wellness professionals boost their business revenue, save time, and reduce stress. Discover how to let your wellness business thrive!\n\n#FlowOs #WellnessBusiness #HealthCoachCRM #BusinessAutomation #WellnessEntrepreneur",
            "linkedin": "Did you know that high costs prevent 30-50% of potential wellness clients from committing? This translates to potentially over $50,000 in annual missed revenue for mid-level practitioners.\n\nFlow Os addresses this critical problem with its Payment Plans feature, designed specifically for health and wellness professionals. Automating flexible payment options not only makes premium services accessible but also significantly boosts sales and client retention.\n\nWith Flow Os, you can expect up to a 60% increase in sales while saving 20+ hours monthly from billing tasks. It’s time to focus on growing your business and impacting more lives.\n\nLet’s discuss how integrating solutions like Flow Os can transform the wellness industry. Comment your thoughts below!\n\n#WellnessIndustry #HealthTech #BusinessAutomation #FlowOs #WellnessEntrepreneur",
            "tiktok": "POV: You're a wellness pro who just discovered how to convert hesitant leads into committed clients... \n\nMeet Flow Os' Payment Plans: Offer your premium services with flexible payment options and increase your sales by up to 60%!\n\nSee the transformation unfold and feel your stress levels drop. 🌟 #FlowOs #WellnessBusiness #SmallBusinessTips #HealthCoachTok #EntrepreneurLife #WellnessTok"
          },
          "pillar": "Revenue Growth",
          "highlightedFeature": "Payment Plans"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Cost Per Run": [
      {
        "json": {
          "url": "https://v3b.fal.media/files/b/0a983212/WdHRBz1w22Fjbfe3rVfaY_OE4EpQz1.png",
          "title": "Boost Your Revenue",
          "captions": {
            "facebook": "Is the cost of your premium wellness services keeping clients away? 💭\n\nA staggering 30-50% of potential clients are lost due to high upfront payments, leading to over $50,000 in annual missed revenue for mid-level practitioners. This is where Flow Os shines.\n\nFlow Os' Payment Plans feature tackles this issue by offering flexible payment options across 3-12 months—with zero manual setup. This can result in up to a 60% increase in program sales!\n\nImagine the freedom: more clients, more revenue, less stress. Reclaim 20+ hours each month and focus on what truly matters—transforming lives.\n\nAre you ready to unlock your potential? Let us know your thoughts below!\n\n#FlowOs #WellnessBusiness #HealthCoach #BusinessAutomation #WellnessEntrepreneur",
            "instagram": "Are high upfront costs stopping your clients in their tracks? 🚫\n\nThe upfront payment hurdle leads to losing 30-50% of potential clients. With Flow Os' Payment Plans, you can shatter this barrier by offering flexible payment options and see up to a 60% spike in sales.\n\nFlow Os automates everything, letting you focus more on your passion without the stress of invoicing.\n\nWant to transform your wellness business? Let’s make it happen! \n\n#FlowOs #WellnessBusiness #HealthCoachLife #FitnessEntrepreneur #BusinessAutomation #CRMforCoaches #WellnessMarketing #HealthProfessionals #WellnessIndustry #CoachLife #OnlineCoach #WellnessTech",
            "twitter": "Losing clients to high upfront costs? Flow Os' Payment Plans can increase sales by up to 60%, offering flexibility your clients need. Ready to transform your wellness business? #FlowOs #WellnessBusiness",
            "youtube": "Are premium prices keeping your clients from committing? In this video, we dive into how Flow Os solves this problem with its Payment Plans feature. With flexible payment options, you can increase sales by up to 60% and focus more on what matters—transforming lives. Learn how Flow Os helps health coaches and wellness professionals boost their business revenue, save time, and reduce stress. Discover how to let your wellness business thrive!\n\n#FlowOs #WellnessBusiness #HealthCoachCRM #BusinessAutomation #WellnessEntrepreneur",
            "linkedin": "Did you know that high costs prevent 30-50% of potential wellness clients from committing? This translates to potentially over $50,000 in annual missed revenue for mid-level practitioners.\n\nFlow Os addresses this critical problem with its Payment Plans feature, designed specifically for health and wellness professionals. Automating flexible payment options not only makes premium services accessible but also significantly boosts sales and client retention.\n\nWith Flow Os, you can expect up to a 60% increase in sales while saving 20+ hours monthly from billing tasks. It’s time to focus on growing your business and impacting more lives.\n\nLet’s discuss how integrating solutions like Flow Os can transform the wellness industry. Comment your thoughts below!\n\n#WellnessIndustry #HealthTech #BusinessAutomation #FlowOs #WellnessEntrepreneur",
            "tiktok": "POV: You're a wellness pro who just discovered how to convert hesitant leads into committed clients... \n\nMeet Flow Os' Payment Plans: Offer your premium services with flexible payment options and increase your sales by up to 60%!\n\nSee the transformation unfold and feel your stress levels drop. 🌟 #FlowOs #WellnessBusiness #SmallBusinessTips #HealthCoachTok #EntrepreneurLife #WellnessTok"
          },
          "pillar": "Revenue Growth",
          "highlightedFeature": "Payment Plans",
          "runCost": {
            "estimatedTotalUsd": 0.08,
            "falImageUsd": 0.039,
            "openaiEstimateUsd": 0.02,
            "perplexityEstimateUsd": 0.02
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "edb3ce57-208c-49e1-ab79-e5334935fc39",
  "activeVersionId": "622d6445-f223-42a3-915a-f82a6de675e0",
  "versionCounter": 625,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-13T23:14:52.517Z",
      "createdAt": "2026-01-13T23:14:52.517Z",
      "role": "workflow:owner",
      "workflowId": "kJ2EdkOeEAwVbMwU",
      "projectId": "KwpTDWcFWL3DfyW3",
      "project": {
        "updatedAt": "2026-04-08T20:28:08.726Z",
        "createdAt": "2025-06-06T11:27:14.830Z",
        "id": "KwpTDWcFWL3DfyW3",
        "name": "Tyson Venables <tysonvenables@protonmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b1512bca-25b8-4b8b-add0-b86540e5144d",
        "projectRelations": [
          {
            "updatedAt": "2025-06-06T11:27:14.830Z",
            "createdAt": "2025-06-06T11:27:14.830Z",
            "userId": "b1512bca-25b8-4b8b-add0-b86540e5144d",
            "projectId": "KwpTDWcFWL3DfyW3",
            "user": {
              "updatedAt": "2026-04-29T04:36:17.564Z",
              "createdAt": "2025-06-06T11:27:13.858Z",
              "id": "b1512bca-25b8-4b8b-add0-b86540e5144d",
              "email": "tysonvenables@protonmail.com",
              "firstName": "Tyson",
              "lastName": "Venables",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-06T11:42:52.454Z",
                "personalization_survey_n8n_version": "1.95.3",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "WVXrFCjb8wO7RWRX",
                "userActivatedAt": 1751062185356,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769430963515
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-29",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-26T09:47:57.332Z",
    "createdAt": "2026-03-26T09:47:48.264Z",
    "versionId": "622d6445-f223-42a3-915a-f82a6de675e0",
    "workflowId": "kJ2EdkOeEAwVbMwU",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "daysInterval": 3,
                "triggerAtHour": 9
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -9968,
          1728
        ],
        "id": "56e40c6b-114c-46d1-b0c4-36a129a1dd39",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "jsCode": "// Content Pillar Rotation for Flow Os\n// Rotates through different feature categories to ensure diverse content\n\nconst pillars = [\n  {\n    pillar: \"Client Acquisition\",\n    focus: \"Lead generation, sales funnels, landing pages, and converting prospects into paying clients\",\n    features: [\"Sales Funnels\", \"Landing Pages\", \"Lead Capture Forms\", \"Facebook/Google Ads Integration\", \"Referral Programs\"],\n    painPoints: [\"Struggling to find new clients\", \"Wasting money on ads that don't convert\", \"No system for lead follow-up\", \"Losing leads to competitors\"],\n    benefits: [\"Automated lead nurturing\", \"Higher conversion rates\", \"Consistent client pipeline\", \"ROI tracking on marketing spend\"]\n  },\n  {\n    pillar: \"Automation Power\",\n    focus: \"Email/SMS sequences, appointment reminders, client onboarding, and workflow automation\",\n    features: [\"Email Sequences\", \"SMS Campaigns\", \"Appointment Reminders\", \"Automated Onboarding\", \"Workflow Triggers\"],\n    painPoints: [\"Spending hours on manual follow-ups\", \"Clients forgetting appointments\", \"Inconsistent communication\", \"Repetitive admin tasks\"],\n    benefits: [\"Save 10+ hours per week\", \"Reduce no-shows by 80%\", \"Consistent client experience\", \"Focus on what you do best\"]\n  },\n  {\n    pillar: \"Powerful Integrations\",\n    focus: \"Connecting Flow Os with other tools like Stripe, Calendly, Zoom, Zapier for seamless operations\",\n    features: [\"Stripe/PayPal Payments\", \"Calendar Integrations\", \"Zoom/Telehealth\", \"Zapier/Make Connections\", \"Google/Facebook Sync\"],\n    painPoints: [\"Juggling multiple disconnected tools\", \"Data scattered across platforms\", \"Manual data entry between systems\", \"Missing important information\"],\n    benefits: [\"Everything in one place\", \"Automatic data sync\", \"Unified client view\", \"Streamlined operations\"]\n  },\n  {\n    pillar: \"Client Retention\",\n    focus: \"Membership sites, community features, review collection, and keeping clients engaged long-term\",\n    features: [\"Membership Sites\", \"Community Platform\", \"Review Collection\", \"Reactivation Campaigns\", \"Client Portal\"],\n    painPoints: [\"Clients leaving after first program\", \"No system for collecting testimonials\", \"Difficulty building community\", \"Losing touch with past clients\"],\n    benefits: [\"Increase client lifetime value\", \"Build social proof automatically\", \"Create recurring revenue\", \"Turn clients into advocates\"]\n  },\n  {\n    pillar: \"Time Freedom\",\n    focus: \"Booking automation, invoice automation, unified inbox, and reporting dashboards\",\n    features: [\"Online Booking\", \"Automatic Invoicing\", \"Unified Inbox\", \"Reporting Dashboard\", \"Task Automation\"],\n    painPoints: [\"Drowning in admin work\", \"Chasing payments manually\", \"Messages scattered across platforms\", \"No visibility into business metrics\"],\n    benefits: [\"Reclaim your evenings and weekends\", \"Get paid faster\", \"Never miss a message\", \"Make data-driven decisions\"]\n  },\n  {\n    pillar: \"Revenue Growth\",\n    focus: \"Online courses, payment plans, upsell funnels, and affiliate programs\",\n    features: [\"Course Hosting\", \"Payment Plans\", \"Upsell Funnels\", \"Affiliate Program\", \"Digital Products\"],\n    painPoints: [\"Income limited by available hours\", \"Clients can't afford full payment\", \"Missing upsell opportunities\", \"No passive income streams\"],\n    benefits: [\"Scale beyond 1:1 services\", \"Make premium offers accessible\", \"Maximize client value\", \"Build passive income\"]\n  }\n];\n\n// Rotate based on execution count or date\nconst today = new Date();\nconst dayOfYear = Math.floor((today - new Date(today.getFullYear(), 0, 0)) / 86400000);\nconst pillarIndex = dayOfYear % pillars.length;\nconst selectedPillar = pillars[pillarIndex];\n\n// Also pick a random feature to highlight\nconst featureIndex = Math.floor(Math.random() * selectedPillar.features.length);\nconst highlightedFeature = selectedPillar.features[featureIndex];\n\nreturn {\n  json: {\n    ...selectedPillar,\n    highlightedFeature,\n    pillarIndex,\n    generatedAt: today.toISOString(),\n    allPillars: pillars.map(p => p.pillar)\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -9744,
          1728
        ],
        "id": "0302cd1d-6db4-4a5e-a2d7-47abd014ff35",
        "name": "Content Pillar Rotation"
      },
      {
        "parameters": {
          "model": "sonar-pro",
          "messages": {
            "message": [
              {
                "content": "=Research current statistics, challenges, and pain points that health and wellness professionals face in 2026, specifically related to: {{ $json.pillar }}\n\nContext: {{ $json.focus }}\n\nKey areas to research:\n{{ $json.painPoints.map((p, i) => `${i+1}. ${p}`).join('\\n') }}\n\nTarget professionals: Health coaches, personal trainers, nutritionists, wellness spa owners, yoga/pilates instructors, functional medicine practitioners, therapists, chiropractors, fitness studio owners, holistic health practitioners.\n\nProvide:\n1. Specific statistics and percentages about these challenges\n2. Industry data on time/money lost to these problems\n3. Trends in how wellness businesses are solving these issues with technology\n4. Real examples or case studies if available\n\nFocus on BUSINESS OPERATIONS challenges, NOT health/medical topics. We want data that shows why wellness professionals need better business systems and automation.\n\nIMPORTANT: Focus specifically on the {{ $json.pillar }} category and the feature: {{ $json.highlightedFeature }}"
              }
            ]
          },
          "simplify": true,
          "options": {
            "searchRecency": "month"
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.perplexity",
        "typeVersion": 1,
        "position": [
          -9520,
          1728
        ],
        "id": "0787eb91-09fa-47d6-95d2-22fffdf0a080",
        "name": "AI Research - Industry Stats",
        "credentials": {
          "perplexityApi": {
            "id": "9upQiaSPtmnz7IFj",
            "name": "Perplexity account"
          }
        }
      },
      {
        "parameters": {
          "model": "sonar-pro",
          "messages": {
            "message": [
              {
                "content": "=# INSTRUCTIONS\n\nYou are creating content for Flow Os, the all-in-one CRM and business automation platform designed specifically for health and wellness professionals. Flow Os helps practitioners streamline their business so they can focus on transforming lives.\n\n## CONTENT PILLAR\nToday's focus: {{ $('Content Pillar Rotation').item.json.pillar }}\nHighlighted feature: {{ $('Content Pillar Rotation').item.json.highlightedFeature }}\n\n## RESEARCH DATA\n<industry_research>\n{{ $('AI Research - Industry Stats').item.json.message }}\n</industry_research>\n\n## YOUR TASK\n\nCreate a compelling narrative that:\n\n1. **Identifies the Core Problem**\n   - Select the most emotionally resonant pain point from the research\n   - Quantify it (hours lost, revenue impact, stress level)\n   - Make it relatable to wellness professionals\n\n2. **Agitate the Problem**\n   - What happens if this problem continues?\n   - What are practitioners missing out on?\n   - How does this affect their clients and mission?\n\n3. **Present Flow Os as THE Solution**\n   - Explain exactly how Flow Os solves this specific problem\n   - Focus on the {{ $('Content Pillar Rotation').item.json.highlightedFeature }} feature\n   - Include specific benefits: {{ $('Content Pillar Rotation').item.json.benefits.join(', ') }}\n\n4. **Provide Proof Points**\n   - Use statistics from the research\n   - Mention typical results wellness pros achieve\n   - Reference the transformation possible\n\n## OUTPUT\n\nWrite a detailed brief (400-600 words) that covers:\n- The specific problem and who faces it\n- Statistics and data supporting the problem's severity\n- How Flow Os's {{ $('Content Pillar Rotation').item.json.highlightedFeature }} feature solves it\n- Tangible benefits (time saved, revenue gained, stress reduced)\n- Why Flow Os is uniquely suited for health/wellness professionals\n\nIMPORTANT: Always refer to Flow Os by name. Do NOT mention competitors like HubSpot, Salesforce, Kajabi, etc. Flow Os is THE solution for wellness professionals."
              }
            ]
          },
          "simplify": true,
          "options": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.perplexity",
        "typeVersion": 1,
        "position": [
          -9296,
          1728
        ],
        "id": "bb27b1e8-204d-4468-9a23-6df9d72341f3",
        "name": "AI Research - Flow Os Brief",
        "credentials": {
          "perplexityApi": {
            "id": "9upQiaSPtmnz7IFj",
            "name": "Perplexity account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list"
          },
          "messages": {
            "values": [
              {
                "content": "=# ROLE\nYou are a senior social media content strategist for Flow Os, the all-in-one CRM and business automation platform built specifically for health and wellness professionals.\n\n# BRAND GUIDELINES\n- **Brand Name:** Flow Os (always capitalize the F and O)\n- **What it is:** All-in-one CRM, marketing automation, and business management platform\n- **Target Audience:** Health coaches, personal trainers, nutritionists, wellness practitioners, fitness entrepreneurs, holistic health professionals\n- **Brand Voice:** Empowering, solution-focused, professional yet approachable, transformation-oriented\n- **Visual Style:** Modern, clean, professional – Flow Os brand palette (teal, warm beige, charcoal, white, green accent)\n- **Key Differentiator:** Built specifically for health and wellness professionals (not generic business software)\n- **Website:** flowos.tech\n\n# BRAND VISUAL SPEC (for image prompts)\n**Flow Os brand colors – use these in the infographic:**\n- Primary: Teal #99cccc, Warm Beige #eae5da\n- Secondary: Charcoal grey #333333, White #ffffff\n- Button/accent: #8bc34a\n**Typography:** Heading font: Montserrat Bold. Primary font: Raleway. Headlines large and high-contrast. Minimal text. No script or decorative fonts.\n\n# COMPETITOR POLICY\n**CRITICAL:** NEVER mention, compare to, or reference ANY other CRM, software, or platform by name. This includes but is not limited to: HubSpot, Salesforce, Go High Level, GHL, Kajabi, Kartra, ClickFunnels, Mailchimp, ActiveCampaign, Mindbody, etc. Flow Os is THE solution - present it as the obvious choice, not as an alternative to something else.\n\n# INPUT\n## Content Pillar: {{ $('Content Pillar Rotation').item.json.pillar }}\n## Featured Benefit: {{ $('Content Pillar Rotation').item.json.highlightedFeature }}\n\n## Content Brief:\n<brief>\n{{ $('AI Research - Flow Os Brief').item.json.message }}\n</brief>\n\n# YOUR TASKS\n\n## TASK 1: Create Variation 1 Structured Data (one image only)\nOutput structured data for a single infographic image. We no longer generate two variations; only one image is created and posted. \n\n**CRITICAL TEXT RENDERING RULES:**\n- MINIMIZE TEXT IN THE IMAGE - AI image generators render text poorly; less text = legible text\n- ONLY these text elements are allowed: (1) One SHORT headline at the top, uppercase, 3-5 words; (2) \"flowos.tech\" in the footer. No other words (no \"Flow Os\" in the main area, no color codes, no subtitles).\n- DO NOT include: body copy, statistics, percentages, sentences, labels on icons, calendar text, \"Dashboard\", day names, two-column text sections, left/right text blocks, or any other words\n- Convey the message with ICONS and VISUAL METAPHORS only – no captions under icons, no UI labels\n- Only TWO text elements in the image: (1) ONE headline at the top, (2) \"flowos.tech\" in the footer. No other text. No subtitles, no description text, no labels, no color codes.\n- Typography: Montserrat Bold for headings, Raleway for any other text. Large headline, high contrast. No script or decorative fonts.\n\n**FLOW OS BRAND COLORS (use in prompts):** Primary: Teal #99cccc, Warm Beige #eae5da. Secondary: Charcoal grey #333333, White #ffffff. Button/accent: #8bc34a. Use this palette for backgrounds, icons, and footer.\n\n**Visual Requirements:**\n- Use 9:16 vertical format (social media stories/reels)\n- Apply the brand color palette above\n- Use icons, illustrations, and visual metaphors only – no text except headline, brand, and flowos.tech\n- Footer: one dark grey bar at the bottom with white text flowos.tech only\n- Style: Modern, minimalist SaaS marketing graphic, clean and professional\n- NO photos of people – abstract icons, geometric shapes, simple graphics only\n- Scroll-stopping through VISUAL impact, not text\n\n**Vary the infographic icons every time:** Do NOT always use \"calendar\" as centralIcon. Choose centralIcon to match the pillar and featured benefit: e.g. clock or timer for Automation Power, chart for Revenue Growth, puzzle or link for Integrations, inbox or envelope for Client Retention, calendar for Time Freedom/booking, funnel for Client Acquisition. orbitingIcons must also match the theme—pick 5–6 from: clock, document, chart, calendar, refresh, wallet, plus, phone, envelope, gear, inbox, link—and vary the set so each run produces a distinct visual (not the same icon list every time).\n\n**Image (structured data only):** Output only variation1Structured: headline (3–5 words, uppercase, e.g. \"EFFORTLESS BOOKING\"), centralIcon (one word, chosen as above), orbitingIcons (array of 5–6 one-word icon names that support the headline and central icon). The image is built from a template; do not write a free-form image prompt.\n\n\n## TASK 2: Write Platform-Specific Captions\nAll captions MUST:\n- Mention Flow Os by name at least once\n- Never mention any competitor platforms\n- Focus on the transformation/benefit for wellness professionals\n- Include a soft call-to-action\n- Do NOT include meta-labels in the caption text (e.g. do not write \"Hook:\" or \"POV:\" as a label before a line; write the hook or POV as the first line only, with no label). Use real line breaks for readability; do not use literal backslash-n.\n- Always write in UK/Australian English:\n  - Use \"s\" instead of \"z\" (e.g. customisation, standardised, normalised)\n  - Avoid American spellings and idioms\n\n### FACEBOOK (250-400 words)\n- Open with a relatable question about the pain point\n- Share 2-3 compelling statistics\n- Explain how Flow Os solves this specific problem\n- Include tangible benefits (time saved, revenue potential, stress reduction)\n- End with engagement question + soft CTA\n- Hashtags (3-5): #FlowOs #WellnessBusiness #HealthCoach #BusinessAutomation #WellnessEntrepreneur\n\n### INSTAGRAM (150-250 words)\n- First line = scroll-stopping hook (this shows before \"more\")\n- Problem → Flow Os Solution → Transformation structure\n- Use line breaks for easy reading\n- Professional tone (minimal emojis, 1-2 max if any)\n- Mention Flow Os clearly as the solution\n- Hashtags (8-12): #FlowOs #WellnessBusiness #HealthCoachLife #FitnessEntrepreneur #BusinessAutomation #CRMforCoaches #WellnessMarketing #HealthProfessionals #WellnessIndustry #CoachLife #OnlineCoach #WellnessTech\n\n### TWITTER/X (under 280 characters)\n- Punchy stat or provocative question\n- Quick mention of Flow Os as solution\n- 1-2 hashtags: #FlowOs #WellnessBusiness\n- Make it retweetable\n\n### YOUTUBE (200-350 words)\n- SEO-optimized description\n- Keywords naturally included: wellness business, CRM for health coaches, business automation for wellness, Flow Os\n- Brief overview of what viewers will learn\n- Mention Flow Os and its benefits\n- Hashtags (3-5): #FlowOs #WellnessBusiness #HealthCoachCRM #BusinessAutomation #WellnessEntrepreneur\n\n### LINKEDIN (200-300 words)\n- Professional, industry-insight tone\n- Lead with compelling statistic or trend\n- Position as thought leadership for wellness industry\n- Explain how Flow Os addresses this industry challenge\n- Focus on ROI and business outcomes\n- Encourage professional discussion\n- Hashtags (3-5): #WellnessIndustry #HealthTech #BusinessAutomation #FlowOs #WellnessEntrepreneur\n\n### TIKTOK (100-150 words)\n- First line = scroll-stopping hook (no \"Hook:\" label—just write the hook as the first line)\n- Conversational, direct, slightly playful tone\n- \"POV: You're a wellness pro who just discovered...\" style works well (POV as the line itself is fine; do not add extra labels)\n- Quick problem → Flow Os solution\n- Mention Flow Os by name\n- Hashtags (4-6): #FlowOs #WellnessBusiness #SmallBusinessTips #HealthCoachTok #EntrepreneurLife #WellnessTok\n\n## TASK 3: Create Title\nShort, punchy title (max 8 words) that captures the main benefit. Should work as infographic headline.\n\n# OUTPUT FORMAT\n\nReturn ONLY valid JSON. We generate one image from your structured data (no free-form image prompt).\n\n```json\n{\n  \"variation1Structured\": {\n    \"headline\": \"EFFORTLESS BOOKING\",\n    \"centralIcon\": \"calendar\",\n    \"orbitingIcons\": [\"clock\", \"document\", \"chart\", \"refresh\", \"wallet\", \"plus\"]\n  },\n  \"captions\": { \"facebook\": \"...\", \"instagram\": \"...\", \"twitter\": \"...\", \"youtube\": \"...\", \"linkedin\": \"...\", \"tiktok\": \"...\" },\n  \"title\": \"Short Catchy Title Here\"\n}\n```",
                "role": "system"
              }
            ]
          },
          "simplify": false,
          "jsonOutput": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -9104,
          1728
        ],
        "id": "df6f7eea-a00d-4689-bfc6-dafcd6573121",
        "name": "AI Writer - Content Generator",
        "credentials": {
          "openAiApi": {
            "id": "I9np0X3gCWfXpKEf",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Build image prompt for Gemini (Nano Banana) - includes headline and footer so Gemini renders text.\nconst inputItem = $input.item.json;\nlet content = inputItem.choices?.[0]?.message?.content;\nif (typeof content === 'string') {\n  try { content = JSON.parse(content); } catch (e) { throw new Error('AI Writer content is not valid JSON: ' + e.message); }\n}\nconst v1 = content.variation1Structured;\nif (!v1 || !v1.headline || !v1.centralIcon || !Array.isArray(v1.orbitingIcons)) {\n  throw new Error('Missing variation1Structured (headline, centralIcon, orbitingIcons). Got: ' + JSON.stringify(v1));\n}\nconst icons = v1.orbitingIcons.slice(0, 6).join(', ');\nconst headline = String(v1.headline).trim();\nconst variation1Prompt = `Vertical 4:5 minimalist infographic. Top: \"${headline}\" in Montserrat Bold font and soft gradient only. Middle: one circular diagram with a single ${v1.centralIcon} icon in the center and five or six small icons around it: ${icons}. Icons only, no text in or under the diagram. Bottom: one dark grey bar only, flowos.tech in Raleway font. Background: soft teal and warm beige. Clean, simple, illustration only.`;\nreturn { json: { variation1Prompt } };\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -8816,
          1728
        ],
        "id": "092bd783-1913-4530-9e71-dde1231e23f8",
        "name": "Build Variation 1 Prompt"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://fal.run/fal-ai/gemini-25-flash-image",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ $env.FAL_KEY ? 'Key ' + $env.FAL_KEY : '' }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ prompt: $json.variation1Prompt, aspect_ratio: '4:5' }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -8624,
          1728
        ],
        "id": "a4db370c-7eb7-4977-8082-4b863cdc9ee6",
        "name": "Generate Image - Variation 1"
      },
      {
        "parameters": {
          "jsCode": "// Format image URL for Prepare Content: supports Gemini (images[0].url) or overlay (url) response.\nconst inputItem = $input.item.json;\nconst url = inputItem.images?.[0]?.url || inputItem.url || inputItem.data?.url;\nif (!url) throw new Error('No image URL in response. Check FAL Gemini or overlay response.');\nreturn { json: { images: [{ url }] } };\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -8432,
          1728
        ],
        "id": "b3bde134-368d-4637-8a7a-d432bbae8a1a",
        "name": "Format Overlay Result"
      },
      {
        "parameters": {
          "jsCode": "// Prepare single generated image and content for posting\nconst inputItem = $input.item.json;\nconst aiContent = $('AI Writer - Content Generator').item.json.choices[0].message.content;\nconst pillarData = $('Content Pillar Rotation').item.json;\nconst imageUrl = inputItem.images?.[0]?.url || null;\nif (!imageUrl) throw new Error('No image URL from overlay or FAL.');\nreturn {\n  json: {\n    imageVariation1: imageUrl,\n    title: aiContent.title,\n    captions: aiContent.captions,\n    pillar: pillarData.pillar,\n    highlightedFeature: pillarData.highlightedFeature,\n    generatedAt: new Date().toISOString(),\n    previewData: {\n      title: aiContent.title,\n      pillar: pillarData.pillar,\n      feature: pillarData.highlightedFeature,\n      twitterPreview: aiContent.captions.twitter,\n      instagramPreview: (aiContent.captions.instagram || '').substring(0, 200) + '...'\n    }\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -8176,
          1728
        ],
        "id": "5da85fa9-4b05-47f3-824e-81aa722fcc32",
        "name": "Prepare Content for Approval"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0ACAGY8H3P",
            "mode": "list",
            "cachedResultName": "infographic-approval"
          },
          "text": "=🎨 *New Flow Os Infographic Ready!*  \n*Title:* {{ $json.title }} \n*Pillar:* {{ $json.pillar }} \n*Feature:* {{ $json.highlightedFeature }}  \n*Image URL:*{{ $json.imageVariation1 }}\n\n--- *Twitter Preview:* {{ $json.previewData.twitterPreview }}  \n--- *Instagram Preview:* {{ $json.previewData.instagramPreview }}  \n--- Generated: {{ $json.generatedAt }}  \n\n✅ Posting automatically...",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.2,
        "position": [
          -7936,
          1728
        ],
        "id": "9b623c16-af08-42c0-8e6a-f1602e9c4044",
        "name": "Send to Slack for Approval",
        "webhookId": "60ee3296-12ab-462b-a234-e2498253f21e",
        "credentials": {
          "slackOAuth2Api": {
            "id": "qvXU2mcT4H1OJgRo",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Extract base64 data from data URL for the selected image variation\n// AUTO-POST MODE: Uses variation 1 by default (no approval needed)\n\n// Get data from Prepare Content for Approval node\nconst preparedData = $('Prepare Content for Approval').item.json;\n\n// Default to variation 1 (can be changed to 2 if preferred)\nconst selectedVariation = 1;\nlet dataUrl = selectedVariation === 1 ? preparedData.imageVariation1 : preparedData.imageVariation2;\n\nif (!dataUrl) {\n  throw new Error('No image data found. Check that image generation succeeded.');\n}\n\n// Check if it's a data URL (base64)\nif (dataUrl && dataUrl.startsWith('data:')) {\n  const matches = dataUrl.match(/^data:([^;]+);base64,(.+)$/);\n  \n  if (matches) {\n    const mimeType = matches[1];\n    const base64Data = matches[2];\n    const imageBuffer = Buffer.from(base64Data, 'base64');\n    const extension = mimeType.split('/')[1] || 'png';\n    \n    return {\n      json: {\n        url: dataUrl,\n        mimeType: mimeType,\n        fileName: `flowos-infographic-${Date.now()}.${extension}`,\n        title: preparedData.title,\n        captions: preparedData.captions,\n        pillar: preparedData.pillar,\n        selectedVariation: selectedVariation\n      },\n      binary: {\n        data: {\n          data: imageBuffer,\n          mimeType: mimeType,\n          fileName: `flowos-infographic-${Date.now()}.${extension}`\n        }\n      }\n    };\n  }\n}\n\n// If it's already a URL (not base64), just pass it through\nreturn {\n  json: {\n    url: dataUrl,\n    title: preparedData.title,\n    captions: preparedData.captions,\n    pillar: preparedData.pillar,\n    selectedVariation: selectedVariation\n  },\n  binary: {}\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -7664,
          1728
        ],
        "id": "2c0e369f-f192-4848-b9ae-5b1f2bba37d7",
        "name": "Convert Base64 to Binary"
      },
      {
        "parameters": {
          "jsCode": "// Get the image URL from FAL.ai and pass it through\n// FAL.ai should return hosted URLs like https://fal.media/files/...\n\nconst inputData = $input.item.json;\nconst preparedData = $('Prepare Content for Approval').item.json;\n\n// The URL should come from the previous node\nlet imageUrl = inputData.url;\n\n// Debug: Log what we received to help troubleshoot\nif (!imageUrl) {\n  throw new Error('No image URL found in input. Input data: ' + JSON.stringify(Object.keys(inputData)));\n}\n\n// Check if it's a real URL or base64\nconst isBase64 = imageUrl.startsWith('data:');\nconst isHostedUrl = imageUrl.startsWith('http');\n\nif (isBase64) {\n  // FAL.ai returned base64 instead of a hosted URL\n  // This is unexpected - throw an error with details so we can investigate\n  throw new Error('FAL.ai returned base64 data instead of a hosted URL. First 100 chars: ' + imageUrl.substring(0, 100));\n}\n\nif (!isHostedUrl) {\n  throw new Error('Unexpected URL format: ' + imageUrl.substring(0, 100));\n}\n\n// If we get here, we have a valid hosted URL from FAL.ai\nreturn {\n  json: {\n    url: imageUrl,\n    title: inputData.title || preparedData.title,\n    captions: inputData.captions || preparedData.captions,\n    pillar: inputData.pillar || preparedData.pillar,\n    highlightedFeature: inputData.highlightedFeature || preparedData.highlightedFeature\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -7424,
          1728
        ],
        "id": "12d29d1a-d92d-49d7-ac6f-17af43575f07",
        "name": "Process Image URL"
      },
      {
        "parameters": {
          "jsCode": "// Cost per run: estimate from FAL + OpenAI + Perplexity (token counts not always in output)\nconst item = $input.item.json;\nconst FAL_IMAGE_USD = 0.039;\nconst OPENAI_ESTIMATE_USD = 0.02;\nconst PERPLEXITY_ESTIMATE_USD = 0.02;\nconst totalUsd = FAL_IMAGE_USD + OPENAI_ESTIMATE_USD + PERPLEXITY_ESTIMATE_USD;\nreturn {\n  json: {\n    ...item,\n    runCost: {\n      estimatedTotalUsd: Math.round(totalUsd * 100) / 100,\n      falImageUsd: FAL_IMAGE_USD,\n      openaiEstimateUsd: OPENAI_ESTIMATE_USD,\n      perplexityEstimateUsd: PERPLEXITY_ESTIMATE_USD\n    }\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -7200,
          1728
        ],
        "id": "c8a08e03-d9cf-4683-aef6-43410185dc6d",
        "name": "Cost Per Run"
      },
      {
        "parameters": {
          "platform": "twitter",
          "accountId": {
            "__rl": true,
            "value": "11273",
            "mode": "list",
            "cachedResultName": "FlowosAgency",
            "cachedResultUrl": "https://backend.blotato.com/v2/accounts/11273"
          },
          "postContentText": "={{ $('AI Writer - Content Generator').item.json.choices[0].message.content.captions.twitter }}",
          "postContentMediaUrls": "={{ $json.url }}",
          "options": {}
        },
        "type": "@blotato/n8n-nodes-blotato.blotato",
        "typeVersion": 2,
        "position": [
          -6720,
          1312
        ],
        "id": "d9860209-3fde-4c3e-a235-4d1c120bb9e1",
        "name": "Twitter [BLOTATO]",
        "credentials": {
          "blotatoApi": {
            "id": "Bs2TEAOA9mVKfcR3",
            "name": "Blotato account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "accountId": {
            "__rl": true,
            "value": "27064",
            "mode": "list",
            "cachedResultName": "flow_os_",
            "cachedResultUrl": "https://backend.blotato.com/v2/accounts/27064"
          },
          "postContentText": "={{ $('AI Writer - Content Generator').item.json.choices[0].message.content.captions.instagram }}",
          "postContentMediaUrls": "={{ $json.url }}",
          "options": {}
        },
        "type": "@blotato/n8n-nodes-blotato.blotato",
        "typeVersion": 2,
        "position": [
          -6720,
          1488
        ],
        "id": "a2b0f7d1-0deb-4088-a236-145f0396aaf4",
        "name": "Instagram [BLOTATO]",
        "credentials": {
          "blotatoApi": {
            "id": "Bs2TEAOA9mVKfcR3",
            "name": "Blotato account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "platform": "facebook",
          "accountId": {
            "__rl": true,
            "value": "17274",
            "mode": "list",
            "cachedResultName": "Tyson Venables",
            "cachedResultUrl": "https://backend.blotato.com/v2/accounts/17274"
          },
          "postContentText": "={{ $('AI Writer - Content Generator').item.json.choices[0].message.content.captions.facebook }}",
          "postContentMediaUrls": "={{ $json.url }}",
          "facebookPageId": {
            "__rl": true,
            "value": "452895447897010",
            "mode": "list",
            "cachedResultName": "Flow Os ",
            "cachedResultUrl": "https://backend.blotato.com/v2/accounts/17274/subaccounts/452895447897010"
          },
          "options": {}
        },
        "type": "@blotato/n8n-nodes-blotato.blotato",
        "typeVersion": 2,
        "position": [
          -6720,
          1648
        ],
        "id": "99c45655-0b60-448f-ae38-5eca045b7bd9",
        "name": "Facebook [BLOTATO]",
        "credentials": {
          "blotatoApi": {
            "id": "Bs2TEAOA9mVKfcR3",
            "name": "Blotato account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "platform": "youtube",
          "accountId": {
            "__rl": true,
            "value": "23942",
            "mode": "list",
            "cachedResultName": "FlowOs Team (Flow Os CRM & Automations)",
            "cachedResultUrl": "https://backend.blotato.com/v2/accounts/23942"
          },
          "postContentText": "={{ $('AI Writer - Content Generator').item.json.choices[0].message.content.captions.youtube }}",
          "postContentMediaUrls": "={{ $json.url }}",
          "postCreateYoutubeOptionTitle": "={{ $('AI Writer - Content Generator').item.json.choices[0].message.content.title }}",
          "options": {}
        },
        "type": "@blotato/n8n-nodes-blotato.blotato",
        "typeVersion": 2,
        "position": [
          -6720,
          1808
        ],
        "id": "5ad295aa-bd4e-475c-83b8-0c0f46ccc3d9",
        "name": "Youtube [BLOTATO]",
        "credentials": {
          "blotatoApi": {
            "id": "Bs2TEAOA9mVKfcR3",
            "name": "Blotato account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "platform": "linkedin",
          "accountId": {
            "__rl": true,
            "value": "11109",
            "mode": "list",
            "cachedResultName": "Tyson Venables",
            "cachedResultUrl": "https://backend.blotato.com/v2/accounts/11109"
          },
          "postContentText": "={{ $('AI Writer - Content Generator').item.json.choices[0].message.content.captions.linkedin }}",
          "postContentMediaUrls": "={{ $json.url }}",
          "options": {}
        },
        "type": "@blotato/n8n-nodes-blotato.blotato",
        "typeVersion": 2,
        "position": [
          -6720,
          1968
        ],
        "id": "c0278c9d-5d67-4367-a8f0-ee9545d03887",
        "name": "Linkedin [BLOTATO]",
        "credentials": {
          "blotatoApi": {
            "id": "Bs2TEAOA9mVKfcR3",
            "name": "Blotato account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "platform": "tiktok",
          "accountId": {
            "__rl": true,
            "value": "27064",
            "mode": "list",
            "cachedResultName": "flow_os_",
            "cachedResultUrl": "https://backend.blotato.com/v2/accounts/27064"
          },
          "postContentText": "={{ $('AI Writer - Content Generator').item.json.choices[0].message.content.captions.tiktok }}",
          "postContentMediaUrls": "={{ $json.url }}",
          "options": {}
        },
        "type": "@blotato/n8n-nodes-blotato.blotato",
        "typeVersion": 2,
        "position": [
          -6720,
          2128
        ],
        "id": "e6fba13e-ba1a-40c7-b929-7a773be6bb46",
        "name": "Tiktok [BLOTATO]",
        "credentials": {
          "blotatoApi": {
            "id": "Bs2TEAOA9mVKfcR3",
            "name": "Blotato account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "numberInputs": 6
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -6288,
          1664
        ],
        "id": "fd4d056e-6095-4fd8-92ba-950acbae895c",
        "name": "Collect Post Results"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "has-errors",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -6080,
          1728
        ],
        "id": "1cec0e84-cd87-461e-ab4c-a5a583ad14ec",
        "name": "Any Errors?"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0AC7JF8AQK",
            "mode": "list",
            "cachedResultName": "n8n-error"
          },
          "text": "=⚠️ *Flow Os Infographic Posting Error*  \nSome posts failed to publish.  \n*Time:* {{ new Date().toISOString() }} \n* Cost for run:* {{ $('Cost Per Run').item.json.runCost.estimatedTotalUsd }}\nCheck the n8n execution log for details.",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.2,
        "position": [
          -5888,
          1616
        ],
        "id": "c18e6ce9-1e38-45b5-af26-39c9856c4f81",
        "name": "Send Error Notification",
        "webhookId": "f06fc70a-f450-48d6-b3e7-52be3018eec6",
        "credentials": {
          "slackOAuth2Api": {
            "id": "qvXU2mcT4H1OJgRo",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $env.CONTENT_LOG_SHEET_ID || 'YOUR_GOOGLE_SHEET_ID' }}"
          },
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "gid=0",
            "cachedResultName": "Content Log"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false,
            "cachedResultName": ""
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -5888,
          1856
        ],
        "id": "6cf9571b-c688-4ef8-8179-8b4ccae87d02",
        "name": "Log to Google Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hyBONhD1mYNRNs6l",
            "name": "GoogleAuth"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0ACT56TYQ1",
            "mode": "list",
            "cachedResultName": "n8n-success"
          },
          "text": "=✅ *Flow Os Infographic Posted Successfully!*  \n*Title:* {{ $('AI Writer - Content Generator').item.json.choices[0].message.content.title }} \n*Pillar:* {{ $('Content Pillar Rotation').item.json.pillar }} \n*Feature:* {{ $('Content Pillar Rotation').item.json.highlightedFeature }}  \n*Posted to:* Twitter, Instagram, Facebook, YouTube, LinkedIn, TikTok\n* Cost for run:* {{ $('Cost Per Run').item.json.runCost.estimatedTotalUsd }}\n",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.2,
        "position": [
          -5664,
          1856
        ],
        "id": "f57c2d8b-236c-44c2-abaf-414ba57c00ff",
        "name": "Send Success Notification",
        "webhookId": "6253b6f7-1cd3-4c90-a18b-4fc33ac291b2",
        "credentials": {
          "slackOAuth2Api": {
            "id": "qvXU2mcT4H1OJgRo",
            "name": "Slack account"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Content Pillar Rotation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Content Pillar Rotation": {
        "main": [
          [
            {
              "node": "AI Research - Industry Stats",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Research - Industry Stats": {
        "main": [
          [
            {
              "node": "AI Research - Flow Os Brief",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Research - Flow Os Brief": {
        "main": [
          [
            {
              "node": "AI Writer - Content Generator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Writer - Content Generator": {
        "main": [
          [
            {
              "node": "Build Variation 1 Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Variation 1 Prompt": {
        "main": [
          [
            {
              "node": "Generate Image - Variation 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Image - Variation 1": {
        "main": [
          [
            {
              "node": "Format Overlay Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Overlay Result": {
        "main": [
          [
            {
              "node": "Prepare Content for Approval",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Content for Approval": {
        "main": [
          [
            {
              "node": "Send to Slack for Approval",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Slack for Approval": {
        "main": [
          [
            {
              "node": "Convert Base64 to Binary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert Base64 to Binary": {
        "main": [
          [
            {
              "node": "Process Image URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Image URL": {
        "main": [
          [
            {
              "node": "Cost Per Run",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cost Per Run": {
        "main": [
          [
            {
              "node": "Twitter [BLOTATO]",
              "type": "main",
              "index": 0
            },
            {
              "node": "Instagram [BLOTATO]",
              "type": "main",
              "index": 0
            },
            {
              "node": "Facebook [BLOTATO]",
              "type": "main",
              "index": 0
            },
            {
              "node": "Youtube [BLOTATO]",
              "type": "main",
              "index": 0
            },
            {
              "node": "Linkedin [BLOTATO]",
              "type": "main",
              "index": 0
            },
            {
              "node": "Tiktok [BLOTATO]",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Twitter [BLOTATO]": {
        "main": [
          [
            {
              "node": "Collect Post Results",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Collect Post Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Instagram [BLOTATO]": {
        "main": [
          [
            {
              "node": "Collect Post Results",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "Collect Post Results",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Facebook [BLOTATO]": {
        "main": [
          [
            {
              "node": "Collect Post Results",
              "type": "main",
              "index": 2
            }
          ],
          [
            {
              "node": "Collect Post Results",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Youtube [BLOTATO]": {
        "main": [
          [
            {
              "node": "Collect Post Results",
              "type": "main",
              "index": 3
            }
          ],
          [
            {
              "node": "Collect Post Results",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "Linkedin [BLOTATO]": {
        "main": [
          [
            {
              "node": "Collect Post Results",
              "type": "main",
              "index": 4
            }
          ],
          [
            {
              "node": "Collect Post Results",
              "type": "main",
              "index": 4
            }
          ]
        ]
      },
      "Tiktok [BLOTATO]": {
        "main": [
          [
            {
              "node": "Collect Post Results",
              "type": "main",
              "index": 5
            }
          ],
          [
            {
              "node": "Collect Post Results",
              "type": "main",
              "index": 5
            }
          ]
        ]
      },
      "Collect Post Results": {
        "main": [
          [
            {
              "node": "Any Errors?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Any Errors?": {
        "main": [
          [
            {
              "node": "Send Error Notification",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log to Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log to Google Sheets": {
        "main": [
          [
            {
              "node": "Send Success Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tyson Venables",
    "name": "Version 622d6445",
    "description": "remove unused nodes",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-26T09:47:57.326Z",
        "id": 349,
        "workflowId": "kJ2EdkOeEAwVbMwU",
        "versionId": "622d6445-f223-42a3-915a-f82a6de675e0",
        "event": "activated",
        "userId": "b1512bca-25b8-4b8b-add0-b86540e5144d"
      }
    ]
  }
}
