n8n-workflows/meta-ads-optimisation-agent.json
{
  "updatedAt": "2026-04-29T14:04:22.580Z",
  "createdAt": "2026-03-17T08:46:51.652Z",
  "id": "lf955LDteJ512RQi",
  "name": "Meta Ads Optimisation Agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Schedule (9am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Set date range: last 7 days\nconst today = new Date();\nconst since = new Date(today);\nsince.setDate(since.getDate() - 7);\n\nconst fmt = (d) => d.toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    since: fmt(since),\n    until: fmt(today),\n    accounts: [\n      { id: 'act_464237024205104', name: 'Flow States Retreats' },\n      { id: 'act_1426936257455201', name: 'Emma Maidment Business' },\n      { id: 'act_414785961683125', name: 'Flow OS' }\n    ]\n  }\n}];"
      },
      "id": "set-date-range",
      "name": "Set Date Range & Accounts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Split accounts into individual items for parallel fetching\nconst { since, until, accounts } = $input.first().json;\nreturn accounts.map(acc => ({\n  json: { account_id: acc.id, account_name: acc.name, since, until }\n}));"
      },
      "id": "split-accounts",
      "name": "Split Accounts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json.account_id }}/insights",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "campaign_name,campaign_id,adset_name,adset_id,impressions,reach,clicks,ctr,cpc,cpm,spend,actions,cost_per_action_type,frequency"
            },
            {
              "name": "level",
              "value": "adset"
            },
            {
              "name": "time_range",
              "value": "={ \"since\": \"{{ $json.since }}\", \"until\": \"{{ $json.until }}\" }"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-insights",
      "name": "Fetch Ad Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        352
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "bJDoAH6FBEUyRbJK",
          "name": "Meta Ads - FlowStates AdsAgent"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build account lookup from upstream Split Accounts\nconst splitItems = $('Split Accounts').all();\nconst accountByIndex = {};\nsplitItems.forEach((item, idx) => {\n  accountByIndex[idx] = {\n    account_id: item.json.account_id,\n    account_name: item.json.account_name\n  };\n});\n\nconst insights = [];\nfor (const item of $input.all()) {\n  const data = item.json.data || [];\n  if (data.length === 0) continue;\n\n  // Skip campaign-list responses — only score insights rows\n  if (data[0].impressions === undefined) continue;\n\n  // Resolve which account this batch belongs to via pairedItem\n  const pi = Array.isArray(item.pairedItem) ? item.pairedItem[0] : item.pairedItem;\n  const pairedIdx = pi?.item ?? 0;\n  const acc = accountByIndex[pairedIdx] || { account_id: '', account_name: 'Unknown' };\n\n  for (const row of data) {\n    insights.push({ ...row, account_id: acc.account_id, account_name: acc.account_name });\n  }\n}\n\nif (insights.length === 0) {\n  return [{ json: { accounts: [], total_adsets: 0 } }];\n}\n\n// Score each adset\nconst scored = insights.map(row => {\n  const spend = parseFloat(row.spend || 0);\n  const clicks = parseInt(row.clicks || 0);\n  const impressions = parseInt(row.impressions || 0);\n  const ctr = parseFloat(row.ctr || 0);\n  const cpc = parseFloat(row.cpc || 0);\n  const cpm = parseFloat(row.cpm || 0);\n  const frequency = parseFloat(row.frequency || 0);\n\n  const actions = row.actions || [];\n  const leads = actions.find(a => a.action_type === 'lead' || a.action_type === 'offsite_conversion.fb_pixel_lead');\n  const leadCount = leads ? parseInt(leads.value) : 0;\n  const cpl = leadCount > 0 ? (spend / leadCount).toFixed(2) : null;\n\n  let score = 5;\n  if (ctr > 2) score += 2;\n  else if (ctr > 1) score += 1;\n  if (cpc < 1) score += 1;\n  if (frequency > 4) score -= 2;\n  if (frequency > 6) score -= 1;\n  if (leadCount > 0) score += 2;\n  score = Math.max(1, Math.min(10, score));\n\n  return {\n    account_id: row.account_id,\n    account_name: row.account_name,\n    campaign: row.campaign_name,\n    adset: row.adset_name,\n    spend: spend.toFixed(2),\n    impressions, clicks,\n    ctr: ctr.toFixed(2) + '%',\n    cpc: cpc ? '$' + cpc.toFixed(2) : 'N/A',\n    cpm: cpm ? '$' + cpm.toFixed(2) : 'N/A',\n    frequency: frequency.toFixed(1),\n    leads: leadCount,\n    cpl: cpl ? '$' + cpl : 'N/A',\n    performance_score: score,\n    recommendation: score >= 7 ? 'SCALE' : score >= 5 ? 'MONITOR' : 'PAUSE OR REWORK'\n  };\n});\n\n// Group by account\nconst accountMap = {};\nfor (const row of scored) {\n  if (!accountMap[row.account_id]) {\n    accountMap[row.account_id] = { account_name: row.account_name, adsets: [] };\n  }\n  accountMap[row.account_id].adsets.push(row);\n}\nfor (const acc of Object.values(accountMap)) {\n  acc.adsets.sort((a, b) => b.performance_score - a.performance_score);\n}\n// Ensure all three accounts appear, even with zero data\nfor (const item of $('Split Accounts').all()) {\n  const id = item.json.account_id;\n  if (!accountMap[id]) {\n    accountMap[id] = { account_name: item.json.account_name, adsets: [] };\n  }\n}\n\nreturn [{ json: { accounts: Object.values(accountMap), total_adsets: scored.length } }];"
      },
      "id": "process-insights",
      "name": "Process & Score Insights",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json;\nconst aiText = aiResponse?.content?.[0]?.text || '';\nconst { accounts, total_adsets } = $('Process & Score Insights').first().json;\nconst today = new Date().toLocaleDateString('en-AU', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n});\n\nconst accountList = accounts\n  .map(a => `• ${a.account_name} — ${a.adsets.length} adsets`)\n  .join('\\n');\n\nlet msg = `📊 *Meta Ads Optimisation Report*\\n_${today}_\\n\\n`;\nmsg += `${accountList}\\n`;\nmsg += `*Total active adsets:* ${total_adsets}\\n`;\nmsg += `━━━━━━━━━━━━━━━━\\n\\n`;\nmsg += aiText;\n\nconst maxLen = 4000;\nif (msg.length > maxLen) msg = msg.substring(0, maxLen) + '\\n_[truncated]_';\n\nreturn [{ json: { report_telegram: msg } }];"
      },
      "id": "format-report",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        384
      ]
    },
    {
      "parameters": {
        "chatId": "1375806243",
        "text": "={{ $json.report_telegram }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-report-telegram",
      "name": "Send Report to Tyson (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1936,
        144
      ],
      "webhookId": "e50a5032-20a0-4a9d-b6b9-9fe4dcde2ff4",
      "credentials": {
        "telegramApi": {
          "id": "UR6xX8CchGBKaP3h",
          "name": "Flow States Ads Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "Ads Reports"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "log-to-airtable",
      "name": "Log Report (Optional)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1952,
        496
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Meta Ads Optimisation Agent\n\n**Runs:** Daily at 9am\n**Accounts:** Flow States Retreats + Emma Maidment Business\n**Output:** Email report to Tyson with scored recommendations\n\n**Token:** 60-day expiry — set a reminder to refresh before expiry date\n\n**To update the token:** Edit the 'Fetch Campaigns' and 'Fetch Ad Insights' nodes and replace the access_token query parameter value.",
        "height": 220,
        "width": 380
      },
      "id": "sticky-note",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        80
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meta-ads-optimisation-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "opt-webhook-trigger",
      "name": "Webhook Trigger (On-Demand)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        528
      ],
      "webhookId": "meta-ads-opt-trigger-001"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"triggered\", \"message\": \"Optimisation report is being generated and will be emailed shortly.\"}",
        "options": {}
      },
      "id": "opt-webhook-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        464,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build Anthropic API request — per-account sections\nconst items = $input.all();\nconst insightsData = items.map(item => item.json);\n\nconst systemPrompt = `You are a Meta Ads performance analyst writing a daily Telegram report for an operator managing multiple Meta ad accounts.\n\nSTRUCTURE (mandatory):\n- Produce ONE report with a SEPARATE SECTION for EACH account in the data\n- Each account section MUST contain:\n  • Account name as a *bold heading*\n  • Overview metrics: spend, leads, avg CPL, active adsets\n  • Top performer(s): name, key stats, why it's working\n  • Concerns: any adsets scoring below 7 or with 0 leads\n  • Account-specific recommendations (1-3 tactical actions)\n- If an account has zero active adsets, still include its section with a brief note (\"No active delivery — recommend reactivating top historical performers\" or similar)\n- End with a \"*Cross-account priorities*\" section: the top 3 actions across all accounts, ranked by impact\n- Separate accounts with a horizontal divider line: ━━━━━━━━━━━━━━━━\n\nTELEGRAM MARKDOWN RULES (parse_mode=Markdown — strict):\n- USE: *bold*, _italic_, hyphen lists\n- DO NOT USE: # or ## headers (they render as literal text), pipe tables (| col | col |), ** double-asterisks, or HTML\n- For section headers, use *Bold Text* on its own line\n- For tabular data, use bullet lists not pipe tables\n- Use emoji sparingly: 📊 for headers, ✅ for wins, ⚠️ for concerns, 💰 for spend recs\n\nLENGTH: Under 3500 characters total. Be specific and tactical, not generic.`;\n\nconst userMessage = `Analyse this Meta Ads data (already grouped by account) and produce the per-account report:\\n\\n${JSON.stringify(insightsData, null, 2)}`;\n\nreturn [{\n  json: {\n    model: \"claude-opus-4-5\",\n    max_tokens: 2000,\n    system: systemPrompt,\n    messages: [{ role: \"user\", content: userMessage }],\n    insightsData: insightsData\n  }\n}];"
      },
      "id": "build-opt-request-001",
      "name": "Build Opt Analysis Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.model, max_tokens: $json.max_tokens, system: $json.system, messages: $json.messages }) }}",
        "options": {}
      },
      "id": "http-opt-anthropic-001",
      "name": "AI Optimisation Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        384
      ],
      "credentials": {
        "anthropicApi": {
          "id": "eXhIwRbh7FBgb6O3",
          "name": "Anthropic account 2"
        }
      }
    }
  ],
  "connections": {
    "Daily Schedule (9am)": {
      "main": [
        [
          {
            "node": "Set Date Range & Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Date Range & Accounts": {
      "main": [
        [
          {
            "node": "Split Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Accounts": {
      "main": [
        [
          {
            "node": "Fetch Ad Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Ad Insights": {
      "main": [
        [
          {
            "node": "Process & Score Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Score Insights": {
      "main": [
        [
          {
            "node": "Build Opt Analysis Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Optimisation Analysis": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "Send Report to Tyson (Telegram)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Report (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger (On-Demand)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Date Range & Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Opt Analysis Request": {
      "main": [
        [
          {
            "node": "AI Optimisation Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": {
    "node:Daily Schedule (9am)": {
      "recurrenceRules": [
        0
      ]
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "c4a5e14b-aa5d-4f9f-99b2-96fece5227bb",
  "activeVersionId": "51cd5e10-be82-4737-b76c-48fe53409c9b",
  "versionCounter": 166,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-17T08:46:51.652Z",
      "createdAt": "2026-03-17T08:46:51.652Z",
      "role": "workflow:owner",
      "workflowId": "lf955LDteJ512RQi",
      "projectId": "KwpTDWcFWL3DfyW3",
      "project": {
        "updatedAt": "2026-04-08T20:28:08.726Z",
        "createdAt": "2025-06-06T11:27:14.830Z",
        "id": "KwpTDWcFWL3DfyW3",
        "name": "Tyson Venables <tysonvenables@protonmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b1512bca-25b8-4b8b-add0-b86540e5144d",
        "projectRelations": [
          {
            "updatedAt": "2025-06-06T11:27:14.830Z",
            "createdAt": "2025-06-06T11:27:14.830Z",
            "userId": "b1512bca-25b8-4b8b-add0-b86540e5144d",
            "projectId": "KwpTDWcFWL3DfyW3",
            "user": {
              "updatedAt": "2026-04-29T04:36:17.564Z",
              "createdAt": "2025-06-06T11:27:13.858Z",
              "id": "b1512bca-25b8-4b8b-add0-b86540e5144d",
              "email": "tysonvenables@protonmail.com",
              "firstName": "Tyson",
              "lastName": "Venables",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-06T11:42:52.454Z",
                "personalization_survey_n8n_version": "1.95.3",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "WVXrFCjb8wO7RWRX",
                "userActivatedAt": 1751062185356,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769430963515
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-29",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-29T13:54:40.555Z",
    "createdAt": "2026-04-29T13:53:39.576Z",
    "versionId": "51cd5e10-be82-4737-b76c-48fe53409c9b",
    "workflowId": "lf955LDteJ512RQi",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 24
              }
            ]
          }
        },
        "id": "schedule-trigger",
        "name": "Daily Schedule (9am)",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "// Set date range: last 7 days\nconst today = new Date();\nconst since = new Date(today);\nsince.setDate(since.getDate() - 7);\n\nconst fmt = (d) => d.toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    since: fmt(since),\n    until: fmt(today),\n    accounts: [\n      { id: 'act_464237024205104', name: 'Flow States Retreats' },\n      { id: 'act_1426936257455201', name: 'Emma Maidment Business' },\n      { id: 'act_414785961683125', name: 'Flow OS' }\n    ]\n  }\n}];"
        },
        "id": "set-date-range",
        "name": "Set Date Range & Accounts",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "// Split accounts into individual items for parallel fetching\nconst { since, until, accounts } = $input.first().json;\nreturn accounts.map(acc => ({\n  json: { account_id: acc.id, account_name: acc.name, since, until }\n}));"
        },
        "id": "split-accounts",
        "name": "Split Accounts",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          688,
          304
        ]
      },
      {
        "parameters": {
          "url": "=https://graph.facebook.com/v21.0/{{ $json.account_id }}/insights",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "fields",
                "value": "campaign_name,campaign_id,adset_name,adset_id,impressions,reach,clicks,ctr,cpc,cpm,spend,actions,cost_per_action_type,frequency"
              },
              {
                "name": "level",
                "value": "adset"
              },
              {
                "name": "time_range",
                "value": "={ \"since\": \"{{ $json.since }}\", \"until\": \"{{ $json.until }}\" }"
              },
              {
                "name": "limit",
                "value": "100"
              }
            ]
          },
          "options": {}
        },
        "id": "fetch-insights",
        "name": "Fetch Ad Insights",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          896,
          352
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "bJDoAH6FBEUyRbJK",
            "name": "Meta Ads - FlowStates AdsAgent"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Build account lookup from upstream Split Accounts\nconst splitItems = $('Split Accounts').all();\nconst accountByIndex = {};\nsplitItems.forEach((item, idx) => {\n  accountByIndex[idx] = {\n    account_id: item.json.account_id,\n    account_name: item.json.account_name\n  };\n});\n\nconst insights = [];\nfor (const item of $input.all()) {\n  const data = item.json.data || [];\n  if (data.length === 0) continue;\n\n  // Skip campaign-list responses — only score insights rows\n  if (data[0].impressions === undefined) continue;\n\n  // Resolve which account this batch belongs to via pairedItem\n  const pi = Array.isArray(item.pairedItem) ? item.pairedItem[0] : item.pairedItem;\n  const pairedIdx = pi?.item ?? 0;\n  const acc = accountByIndex[pairedIdx] || { account_id: '', account_name: 'Unknown' };\n\n  for (const row of data) {\n    insights.push({ ...row, account_id: acc.account_id, account_name: acc.account_name });\n  }\n}\n\nif (insights.length === 0) {\n  return [{ json: { accounts: [], total_adsets: 0 } }];\n}\n\n// Score each adset\nconst scored = insights.map(row => {\n  const spend = parseFloat(row.spend || 0);\n  const clicks = parseInt(row.clicks || 0);\n  const impressions = parseInt(row.impressions || 0);\n  const ctr = parseFloat(row.ctr || 0);\n  const cpc = parseFloat(row.cpc || 0);\n  const cpm = parseFloat(row.cpm || 0);\n  const frequency = parseFloat(row.frequency || 0);\n\n  const actions = row.actions || [];\n  const leads = actions.find(a => a.action_type === 'lead' || a.action_type === 'offsite_conversion.fb_pixel_lead');\n  const leadCount = leads ? parseInt(leads.value) : 0;\n  const cpl = leadCount > 0 ? (spend / leadCount).toFixed(2) : null;\n\n  let score = 5;\n  if (ctr > 2) score += 2;\n  else if (ctr > 1) score += 1;\n  if (cpc < 1) score += 1;\n  if (frequency > 4) score -= 2;\n  if (frequency > 6) score -= 1;\n  if (leadCount > 0) score += 2;\n  score = Math.max(1, Math.min(10, score));\n\n  return {\n    account_id: row.account_id,\n    account_name: row.account_name,\n    campaign: row.campaign_name,\n    adset: row.adset_name,\n    spend: spend.toFixed(2),\n    impressions, clicks,\n    ctr: ctr.toFixed(2) + '%',\n    cpc: cpc ? '$' + cpc.toFixed(2) : 'N/A',\n    cpm: cpm ? '$' + cpm.toFixed(2) : 'N/A',\n    frequency: frequency.toFixed(1),\n    leads: leadCount,\n    cpl: cpl ? '$' + cpl : 'N/A',\n    performance_score: score,\n    recommendation: score >= 7 ? 'SCALE' : score >= 5 ? 'MONITOR' : 'PAUSE OR REWORK'\n  };\n});\n\n// Group by account\nconst accountMap = {};\nfor (const row of scored) {\n  if (!accountMap[row.account_id]) {\n    accountMap[row.account_id] = { account_name: row.account_name, adsets: [] };\n  }\n  accountMap[row.account_id].adsets.push(row);\n}\nfor (const acc of Object.values(accountMap)) {\n  acc.adsets.sort((a, b) => b.performance_score - a.performance_score);\n}\n// Ensure all three accounts appear, even with zero data\nfor (const item of $('Split Accounts').all()) {\n  const id = item.json.account_id;\n  if (!accountMap[id]) {\n    accountMap[id] = { account_name: item.json.account_name, adsets: [] };\n  }\n}\n\nreturn [{ json: { accounts: Object.values(accountMap), total_adsets: scored.length } }];"
        },
        "id": "process-insights",
        "name": "Process & Score Insights",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1088,
          384
        ]
      },
      {
        "parameters": {
          "jsCode": "// Pull AI markdown from upstream Anthropic node\nconst aiResponse = $input.first().json;\nconst aiText = aiResponse?.content?.[0]?.text || '';\n\n// Pull structured stats from Process & Score for a header summary\nconst { accounts, total_adsets } = $('Process & Score Insights').first().json;\nconst today = new Date().toLocaleDateString('en-AU', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n});\n\nconst accountList = accounts.map(a => `• ${a.account_name} (${a.adsets.length} adsets)`).join('\\n');\n\nlet msg = `📊 *Meta Ads Optimisation Report*\\n_${today}_\\n\\n`;\nmsg += `*Accounts covered:*\\n${accountList}\\n`;\nmsg += `*Total active adsets:* ${total_adsets}\\n\\n`;\nmsg += `---\\n\\n${aiText}`;\n\n// Telegram 4096 cap — truncate cleanly if needed\nconst maxLen = 4000;\nif (msg.length > maxLen) msg = msg.substring(0, maxLen) + '\\n_[truncated]_';\n\nreturn [{ json: { report_telegram: msg } }];"
        },
        "id": "format-report",
        "name": "Format Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1728,
          384
        ]
      },
      {
        "parameters": {
          "chatId": "1375806243",
          "text": "={{ $json.report_telegram }}",
          "additionalFields": {
            "parse_mode": "Markdown"
          }
        },
        "id": "send-report-telegram",
        "name": "Send Report to Tyson (Telegram)",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1936,
          144
        ],
        "webhookId": "e50a5032-20a0-4a9d-b6b9-9fe4dcde2ff4",
        "credentials": {
          "telegramApi": {
            "id": "UR6xX8CchGBKaP3h",
            "name": "Flow States Ads Bot"
          }
        }
      },
      {
        "parameters": {
          "operation": "create",
          "base": {
            "__rl": true,
            "mode": "id",
            "value": "AIRTABLE_BASE_ID"
          },
          "table": {
            "__rl": true,
            "mode": "name",
            "value": "Ads Reports"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {}
          },
          "options": {}
        },
        "id": "log-to-airtable",
        "name": "Log Report (Optional)",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1952,
          496
        ],
        "disabled": true
      },
      {
        "parameters": {
          "content": "## Meta Ads Optimisation Agent\n\n**Runs:** Daily at 9am\n**Accounts:** Flow States Retreats + Emma Maidment Business\n**Output:** Email report to Tyson with scored recommendations\n\n**Token:** 60-day expiry — set a reminder to refresh before expiry date\n\n**To update the token:** Edit the 'Fetch Campaigns' and 'Fetch Ad Insights' nodes and replace the access_token query parameter value.",
          "height": 220,
          "width": 380
        },
        "id": "sticky-note",
        "name": "Setup Notes",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          240,
          80
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "meta-ads-optimisation-trigger",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "opt-webhook-trigger",
        "name": "Webhook Trigger (On-Demand)",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          528
        ],
        "webhookId": "meta-ads-opt-trigger-001"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\"status\": \"triggered\", \"message\": \"Optimisation report is being generated and will be emailed shortly.\"}",
          "options": {}
        },
        "id": "opt-webhook-respond",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          464,
          528
        ]
      },
      {
        "parameters": {
          "jsCode": "// Build Anthropic API request for optimisation analysis\nconst items = $input.all();\nconst insightsData = items.map(item => item.json);\n\nconst systemPrompt = `You are a Meta Ads performance analyst. Analyse the provided campaign data and deliver a concise, actionable optimisation report. Focus on: top performing campaigns, underperformers, budget recommendations, and 3-5 specific action items. Use clear headings and bullet points. Keep it under 3000 characters for Telegram delivery.`;\n\nconst userMessage = `Analyse this Meta Ads performance data and provide optimisation recommendations:\\n\\n${JSON.stringify(insightsData, null, 2)}`;\n\nreturn [{\n  json: {\n    model: \"claude-opus-4-5\",\n    max_tokens: 1500,\n    system: systemPrompt,\n    messages: [{ role: \"user\", content: userMessage }],\n    insightsData: insightsData\n  }\n}];"
        },
        "id": "build-opt-request-001",
        "name": "Build Opt Analysis Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1296,
          384
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "anthropicApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: $json.model, max_tokens: $json.max_tokens, system: $json.system, messages: $json.messages }) }}",
          "options": {}
        },
        "id": "http-opt-anthropic-001",
        "name": "AI Optimisation Analysis",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1504,
          384
        ],
        "credentials": {
          "anthropicApi": {
            "id": "eXhIwRbh7FBgb6O3",
            "name": "Anthropic account 2"
          }
        }
      }
    ],
    "connections": {
      "Daily Schedule (9am)": {
        "main": [
          [
            {
              "node": "Set Date Range & Accounts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Date Range & Accounts": {
        "main": [
          [
            {
              "node": "Split Accounts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Accounts": {
        "main": [
          [
            {
              "node": "Fetch Ad Insights",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Ad Insights": {
        "main": [
          [
            {
              "node": "Process & Score Insights",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process & Score Insights": {
        "main": [
          [
            {
              "node": "Build Opt Analysis Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Optimisation Analysis": {
        "main": [
          [
            {
              "node": "Format Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Report": {
        "main": [
          [
            {
              "node": "Send Report to Tyson (Telegram)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Log Report (Optional)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger (On-Demand)": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set Date Range & Accounts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Opt Analysis Request": {
        "main": [
          [
            {
              "node": "AI Optimisation Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tyson Venables",
    "name": "Version 51cd5e10",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-29T13:54:40.551Z",
        "id": 799,
        "workflowId": "lf955LDteJ512RQi",
        "versionId": "51cd5e10-be82-4737-b76c-48fe53409c9b",
        "event": "activated",
        "userId": "b1512bca-25b8-4b8b-add0-b86540e5144d"
      }
    ]
  }
}
