n8n-workflows/meta-ads-optimisation-agent.json
{
  "updatedAt": "2026-04-28T19:05:08.964Z",
  "createdAt": "2026-03-17T08:46:51.652Z",
  "id": "lf955LDteJ512RQi",
  "name": "Meta Ads Optimisation Agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Schedule (9am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Set date range: last 7 days\nconst today = new Date();\nconst since = new Date(today);\nsince.setDate(since.getDate() - 7);\n\nconst fmt = (d) => d.toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    since: fmt(since),\n    until: fmt(today),\n    accounts: [\n      { id: 'act_464237024205104', name: 'Flow States Retreats' },\n      { id: 'act_1426936257455201', name: 'Emma Maidment Business' },\n      { id: 'act_414785961683125', name: 'Flow OS' }\n    ]\n  }\n}];"
      },
      "id": "set-date-range",
      "name": "Set Date Range & Accounts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Split accounts into individual items for parallel fetching\nconst { since, until, accounts } = $input.first().json;\nreturn accounts.map(acc => ({\n  json: { account_id: acc.id, account_name: acc.name, since, until }\n}));"
      },
      "id": "split-accounts",
      "name": "Split Accounts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json.account_id }}/campaigns",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,name,status,objective,daily_budget,lifetime_budget"
            },
            {
              "name": "access_token",
              "value": "EAANYcLJWFW8BQ1AGHWZCl7gKpCWPjO7vjClVMO5EMNKPXXZBAzUVSugGY9K194SBUtfCVFj4NRDVvS94lyASry3P2f1vPFWwcyZAQLOVSmt4hHHz7EGqwN9ZCWWtwPqw9gYCYwLw7hWFIlJ7YN2zYhq7BBzt3kb8odunCPnePEy7wKgLoyl8g1CWzzspXRZCaEFJvaH3VNlcvLE5ZC"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-campaigns",
      "name": "Fetch Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json.account_id }}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "campaign_name,campaign_id,adset_name,adset_id,impressions,reach,clicks,ctr,cpc,cpm,spend,actions,cost_per_action_type,frequency"
            },
            {
              "name": "level",
              "value": "adset"
            },
            {
              "name": "time_range",
              "value": "={ \"since\": \"{{ $json.since }}\", \"until\": \"{{ $json.until }}\" }"
            },
            {
              "name": "access_token",
              "value": "EAANYcLJWFW8BQ1AGHWZCl7gKpCWPjO7vjClVMO5EMNKPXXZBAzUVSugGY9K194SBUtfCVFj4NRDVvS94lyASry3P2f1vPFWwcyZAQLOVSmt4hHHz7EGqwN9ZCWWtwPqw9gYCYwLw7hWFIlJ7YN2zYhq7BBzt3kb8odunCPnePEy7wKgLoyl8g1CWzzspXRZCaEFJvaH3VNlcvLE5ZC"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-insights",
      "name": "Fetch Ad Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge campaign list and insights data \u2014 preserve account identity\nconst allItems = $input.all();\n\nconst insights = [];\nfor (const item of allItems) {\n  const data = item.json.data || [];\n  const accountId = item.json.account_id || '';\n  const accountName = item.json.account_name || '';\n  for (const row of data) {\n    insights.push({ ...row, account_id: accountId, account_name: accountName });\n  }\n}\n\nif (insights.length === 0) {\n  return [{ json: { accounts: [], total_adsets: 0 } }];\n}\n\n// Score each adset\nconst scored = insights.map(row => {\n  const spend = parseFloat(row.spend || 0);\n  const clicks = parseInt(row.clicks || 0);\n  const impressions = parseInt(row.impressions || 0);\n  const ctr = parseFloat(row.ctr || 0);\n  const cpc = parseFloat(row.cpc || 0);\n  const cpm = parseFloat(row.cpm || 0);\n  const frequency = parseFloat(row.frequency || 0);\n\n  const actions = row.actions || [];\n  const leads = actions.find(a => a.action_type === 'lead' || a.action_type === 'offsite_conversion.fb_pixel_lead');\n  const leadCount = leads ? parseInt(leads.value) : 0;\n  const cpl = leadCount > 0 ? (spend / leadCount).toFixed(2) : null;\n\n  let score = 5;\n  if (ctr > 2) score += 2;\n  else if (ctr > 1) score += 1;\n  if (cpc < 1) score += 1;\n  if (frequency > 4) score -= 2;\n  if (frequency > 6) score -= 1;\n  if (leadCount > 0) score += 2;\n  score = Math.max(1, Math.min(10, score));\n\n  return {\n    account_id: row.account_id,\n    account_name: row.account_name,\n    campaign: row.campaign_name,\n    adset: row.adset_name,\n    spend: spend.toFixed(2),\n    impressions,\n    clicks,\n    ctr: ctr.toFixed(2) + '%',\n    cpc: cpc ? '$' + cpc.toFixed(2) : 'N/A',\n    cpm: cpm ? '$' + cpm.toFixed(2) : 'N/A',\n    frequency: frequency.toFixed(1),\n    leads: leadCount,\n    cpl: cpl ? '$' + cpl : 'N/A',\n    performance_score: score,\n    recommendation: score >= 7 ? 'SCALE' : score >= 5 ? 'MONITOR' : 'PAUSE OR REWORK'\n  };\n});\n\n// Group by account\nconst accountMap = {};\nfor (const row of scored) {\n  if (!accountMap[row.account_id]) {\n    accountMap[row.account_id] = { account_name: row.account_name, adsets: [] };\n  }\n  accountMap[row.account_id].adsets.push(row);\n}\n\n// Sort each account's adsets by performance score\nfor (const acc of Object.values(accountMap)) {\n  acc.adsets.sort((a, b) => b.performance_score - a.performance_score);\n}\n\nconst accounts = Object.values(accountMap);\nreturn [{ json: { accounts, total_adsets: scored.length } }];"
      },
      "id": "process-insights",
      "name": "Process & Score Insights",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format three separate Telegram messages \u2014 one per account\nconst { accounts } = $input.first().json;\nconst today = new Date().toLocaleDateString('en-AU', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nconst messages = [];\n\nfor (const acc of accounts) {\n  const { account_name, adsets } = acc;\n\n  const totalSpend = adsets.reduce((s, a) => s + parseFloat(a.spend), 0).toFixed(2);\n  const totalLeads = adsets.reduce((s, a) => s + a.leads, 0);\n  const avgCPL = totalLeads > 0 ? (parseFloat(totalSpend) / totalLeads).toFixed(2) : 'N/A';\n\n  const top = adsets.slice(0, 3);\n  const concerns = adsets.filter(a => a.performance_score < 5 || a.leads === 0);\n\n  let msg = `\ud83d\udcca *${account_name} \u2014 Meta Ads Report*\\n_${today}_\\n\\n`;\n  msg += `\ud83d\udcb0 *Overview*\\n`;\n  msg += `\u2022 Spend: $${totalSpend}\\n`;\n  msg += `\u2022 Leads: ${totalLeads}\\n`;\n  msg += `\u2022 Avg CPL: ${totalLeads > 0 ? '$' + avgCPL : 'N/A'}\\n`;\n  msg += `\u2022 Active Ad Sets: ${adsets.length}\\n\\n`;\n\n  msg += `\ud83c\udfc6 *Top Performers*\\n`;\n  for (const [i, a] of top.entries()) {\n    msg += `${i + 1}. ${a.adset}\\n`;\n    msg += `   CPL: ${a.cpl} | CTR: ${a.ctr} | Leads: ${a.leads} | Score: ${a.performance_score}/10\\n`;\n  }\n\n  if (concerns.length > 0) {\n    msg += `\\n\u26a0\ufe0f *Needs Attention*\\n`;\n    for (const a of concerns.slice(0, 3)) {\n      msg += `\u2022 ${a.adset} \u2014 ${a.recommendation} (Score: ${a.performance_score}/10, Leads: ${a.leads})\\n`;\n    }\n  }\n\n  msg += `\\n_This message was sent automatically with n8n_`;\n\n  // Telegram 4096 char limit\n  const maxLen = 3800;\n  messages.push({\n    account_name,\n    report_telegram: msg.length > maxLen ? msg.substring(0, maxLen) + '\\n_[truncated]_' : msg\n  });\n}\n\n// Return one item per account so downstream can send separately\nreturn messages.map(m => ({ json: m }));"
      },
      "id": "format-report",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "1375806243",
        "text": "={{ $json.report_telegram }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-report-telegram",
      "name": "Send Report to Tyson (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1776,
        160
      ],
      "webhookId": "e50a5032-20a0-4a9d-b6b9-9fe4dcde2ff4",
      "credentials": {
        "telegramApi": {
          "id": "UR6xX8CchGBKaP3h",
          "name": "Flow States Ads Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "Ads Reports"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "log-to-airtable",
      "name": "Log Report (Optional)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1792,
        512
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Meta Ads Optimisation Agent\n\n**Runs:** Daily at 9am\n**Accounts:** Flow States Retreats + Emma Maidment Business\n**Output:** Email report to Tyson with scored recommendations\n\n**Token:** 60-day expiry \u2014 set a reminder to refresh before expiry date\n\n**To update the token:** Edit the 'Fetch Campaigns' and 'Fetch Ad Insights' nodes and replace the access_token query parameter value.",
        "height": 220,
        "width": 380
      },
      "id": "sticky-note",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        80
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meta-ads-optimisation-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "opt-webhook-trigger",
      "name": "Webhook Trigger (On-Demand)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        0
      ],
      "webhookId": "meta-ads-opt-trigger-001"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"triggered\", \"message\": \"Optimisation report is being generated and will be emailed shortly.\"}",
        "options": {}
      },
      "id": "opt-webhook-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -240,
        208
      ]
    },
    {
      "id": "build-opt-request-001",
      "name": "Build Opt Analysis Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1144,
        400
      ],
      "parameters": {
        "jsCode": "// Build Anthropic API request for optimisation analysis\nconst items = $input.all();\nconst insightsData = items.map(item => item.json);\n\nconst systemPrompt = `You are a Meta Ads performance analyst. Analyse the provided campaign data and deliver a concise, actionable optimisation report. Focus on: top performing campaigns, underperformers, budget recommendations, and 3-5 specific action items. Use clear headings and bullet points. Keep it under 3000 characters for Telegram delivery.`;\n\nconst userMessage = `Analyse this Meta Ads performance data and provide optimisation recommendations:\\n\\n${JSON.stringify(insightsData, null, 2)}`;\n\nreturn [{\n  json: {\n    model: \"claude-opus-4-5\",\n    max_tokens: 1500,\n    system: systemPrompt,\n    messages: [{ role: \"user\", content: userMessage }],\n    insightsData: insightsData\n  }\n}];"
      }
    },
    {
      "id": "http-opt-anthropic-001",
      "name": "AI Optimisation Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.model, max_tokens: $json.max_tokens, system: $json.system, messages: $json.messages }) }}"
      },
      "credentials": {
        "anthropicApi": {
          "id": "eXhIwRbh7FBgb6O3",
          "name": "Anthropic account 2"
        }
      }
    }
  ],
  "connections": {
    "Daily Schedule (9am)": {
      "main": [
        [
          {
            "node": "Set Date Range & Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Date Range & Accounts": {
      "main": [
        [
          {
            "node": "Split Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Accounts": {
      "main": [
        [
          {
            "node": "Fetch Campaigns",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Ad Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Campaigns": {
      "main": [
        [
          {
            "node": "Process & Score Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Ad Insights": {
      "main": [
        [
          {
            "node": "Process & Score Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Score Insights": {
      "main": [
        [
          {
            "node": "Build Opt Analysis Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Optimisation Analysis": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "Send Report to Tyson (Telegram)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Report (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger (On-Demand)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Date Range & Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Opt Analysis Request": {
      "main": [
        [
          {
            "node": "AI Optimisation Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": {
    "node:Daily Schedule (9am)": {
      "recurrenceRules": [
        0
      ]
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "67e4620e-f4b7-4252-9953-cd5f069459d5",
  "activeVersionId": "67e4620e-f4b7-4252-9953-cd5f069459d5",
  "versionCounter": 107,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-17T08:46:51.652Z",
      "createdAt": "2026-03-17T08:46:51.652Z",
      "role": "workflow:owner",
      "workflowId": "lf955LDteJ512RQi",
      "projectId": "KwpTDWcFWL3DfyW3",
      "project": {
        "updatedAt": "2026-04-08T20:28:08.726Z",
        "createdAt": "2025-06-06T11:27:14.830Z",
        "id": "KwpTDWcFWL3DfyW3",
        "name": "Tyson Venables <tysonvenables@protonmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b1512bca-25b8-4b8b-add0-b86540e5144d",
        "projectRelations": [
          {
            "updatedAt": "2025-06-06T11:27:14.830Z",
            "createdAt": "2025-06-06T11:27:14.830Z",
            "userId": "b1512bca-25b8-4b8b-add0-b86540e5144d",
            "projectId": "KwpTDWcFWL3DfyW3",
            "user": {
              "updatedAt": "2026-04-28T17:03:57.360Z",
              "createdAt": "2025-06-06T11:27:13.858Z",
              "id": "b1512bca-25b8-4b8b-add0-b86540e5144d",
              "email": "tysonvenables@protonmail.com",
              "firstName": "Tyson",
              "lastName": "Venables",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-06T11:42:52.454Z",
                "personalization_survey_n8n_version": "1.95.3",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "WVXrFCjb8wO7RWRX",
                "userActivatedAt": 1751062185356,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769430963515
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-28T19:05:08.970Z",
    "createdAt": "2026-04-28T19:05:08.970Z",
    "versionId": "67e4620e-f4b7-4252-9953-cd5f069459d5",
    "workflowId": "lf955LDteJ512RQi",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 24
              }
            ]
          }
        },
        "id": "schedule-trigger",
        "name": "Daily Schedule (9am)",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "// Set date range: last 7 days\nconst today = new Date();\nconst since = new Date(today);\nsince.setDate(since.getDate() - 7);\n\nconst fmt = (d) => d.toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    since: fmt(since),\n    until: fmt(today),\n    accounts: [\n      { id: 'act_464237024205104', name: 'Flow States Retreats' },\n      { id: 'act_1426936257455201', name: 'Emma Maidment Business' },\n      { id: 'act_414785961683125', name: 'Flow OS' }\n    ]\n  }\n}];"
        },
        "id": "set-date-range",
        "name": "Set Date Range & Accounts",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "// Split accounts into individual items for parallel fetching\nconst { since, until, accounts } = $input.first().json;\nreturn accounts.map(acc => ({\n  json: { account_id: acc.id, account_name: acc.name, since, until }\n}));"
        },
        "id": "split-accounts",
        "name": "Split Accounts",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          688,
          304
        ]
      },
      {
        "parameters": {
          "url": "=https://graph.facebook.com/v21.0/{{ $json.account_id }}/campaigns",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "fields",
                "value": "id,name,status,objective,daily_budget,lifetime_budget"
              },
              {
                "name": "access_token",
                "value": "EAANYcLJWFW8BQ1AGHWZCl7gKpCWPjO7vjClVMO5EMNKPXXZBAzUVSugGY9K194SBUtfCVFj4NRDVvS94lyASry3P2f1vPFWwcyZAQLOVSmt4hHHz7EGqwN9ZCWWtwPqw9gYCYwLw7hWFIlJ7YN2zYhq7BBzt3kb8odunCPnePEy7wKgLoyl8g1CWzzspXRZCaEFJvaH3VNlcvLE5ZC"
              },
              {
                "name": "limit",
                "value": "50"
              }
            ]
          },
          "options": {}
        },
        "id": "fetch-campaigns",
        "name": "Fetch Campaigns",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          912,
          304
        ]
      },
      {
        "parameters": {
          "url": "=https://graph.facebook.com/v21.0/{{ $json.account_id }}/insights",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "fields",
                "value": "campaign_name,campaign_id,adset_name,adset_id,impressions,reach,clicks,ctr,cpc,cpm,spend,actions,cost_per_action_type,frequency"
              },
              {
                "name": "level",
                "value": "adset"
              },
              {
                "name": "time_range",
                "value": "={ \"since\": \"{{ $json.since }}\", \"until\": \"{{ $json.until }}\" }"
              },
              {
                "name": "access_token",
                "value": "EAANYcLJWFW8BQ1AGHWZCl7gKpCWPjO7vjClVMO5EMNKPXXZBAzUVSugGY9K194SBUtfCVFj4NRDVvS94lyASry3P2f1vPFWwcyZAQLOVSmt4hHHz7EGqwN9ZCWWtwPqw9gYCYwLw7hWFIlJ7YN2zYhq7BBzt3kb8odunCPnePEy7wKgLoyl8g1CWzzspXRZCaEFJvaH3VNlcvLE5ZC"
              },
              {
                "name": "limit",
                "value": "100"
              }
            ]
          },
          "options": {}
        },
        "id": "fetch-insights",
        "name": "Fetch Ad Insights",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          912,
          480
        ]
      },
      {
        "parameters": {
          "jsCode": "// Merge campaign list and insights data \u2014 preserve account identity\nconst allItems = $input.all();\n\nconst insights = [];\nfor (const item of allItems) {\n  const data = item.json.data || [];\n  const accountId = item.json.account_id || '';\n  const accountName = item.json.account_name || '';\n  for (const row of data) {\n    insights.push({ ...row, account_id: accountId, account_name: accountName });\n  }\n}\n\nif (insights.length === 0) {\n  return [{ json: { accounts: [], total_adsets: 0 } }];\n}\n\n// Score each adset\nconst scored = insights.map(row => {\n  const spend = parseFloat(row.spend || 0);\n  const clicks = parseInt(row.clicks || 0);\n  const impressions = parseInt(row.impressions || 0);\n  const ctr = parseFloat(row.ctr || 0);\n  const cpc = parseFloat(row.cpc || 0);\n  const cpm = parseFloat(row.cpm || 0);\n  const frequency = parseFloat(row.frequency || 0);\n\n  const actions = row.actions || [];\n  const leads = actions.find(a => a.action_type === 'lead' || a.action_type === 'offsite_conversion.fb_pixel_lead');\n  const leadCount = leads ? parseInt(leads.value) : 0;\n  const cpl = leadCount > 0 ? (spend / leadCount).toFixed(2) : null;\n\n  let score = 5;\n  if (ctr > 2) score += 2;\n  else if (ctr > 1) score += 1;\n  if (cpc < 1) score += 1;\n  if (frequency > 4) score -= 2;\n  if (frequency > 6) score -= 1;\n  if (leadCount > 0) score += 2;\n  score = Math.max(1, Math.min(10, score));\n\n  return {\n    account_id: row.account_id,\n    account_name: row.account_name,\n    campaign: row.campaign_name,\n    adset: row.adset_name,\n    spend: spend.toFixed(2),\n    impressions,\n    clicks,\n    ctr: ctr.toFixed(2) + '%',\n    cpc: cpc ? '$' + cpc.toFixed(2) : 'N/A',\n    cpm: cpm ? '$' + cpm.toFixed(2) : 'N/A',\n    frequency: frequency.toFixed(1),\n    leads: leadCount,\n    cpl: cpl ? '$' + cpl : 'N/A',\n    performance_score: score,\n    recommendation: score >= 7 ? 'SCALE' : score >= 5 ? 'MONITOR' : 'PAUSE OR REWORK'\n  };\n});\n\n// Group by account\nconst accountMap = {};\nfor (const row of scored) {\n  if (!accountMap[row.account_id]) {\n    accountMap[row.account_id] = { account_name: row.account_name, adsets: [] };\n  }\n  accountMap[row.account_id].adsets.push(row);\n}\n\n// Sort each account's adsets by performance score\nfor (const acc of Object.values(accountMap)) {\n  acc.adsets.sort((a, b) => b.performance_score - a.performance_score);\n}\n\nconst accounts = Object.values(accountMap);\nreturn [{ json: { accounts, total_adsets: scored.length } }];"
        },
        "id": "process-insights",
        "name": "Process & Score Insights",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "// Format three separate Telegram messages \u2014 one per account\nconst { accounts } = $input.first().json;\nconst today = new Date().toLocaleDateString('en-AU', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nconst messages = [];\n\nfor (const acc of accounts) {\n  const { account_name, adsets } = acc;\n\n  const totalSpend = adsets.reduce((s, a) => s + parseFloat(a.spend), 0).toFixed(2);\n  const totalLeads = adsets.reduce((s, a) => s + a.leads, 0);\n  const avgCPL = totalLeads > 0 ? (parseFloat(totalSpend) / totalLeads).toFixed(2) : 'N/A';\n\n  const top = adsets.slice(0, 3);\n  const concerns = adsets.filter(a => a.performance_score < 5 || a.leads === 0);\n\n  let msg = `\ud83d\udcca *${account_name} \u2014 Meta Ads Report*\\n_${today}_\\n\\n`;\n  msg += `\ud83d\udcb0 *Overview*\\n`;\n  msg += `\u2022 Spend: $${totalSpend}\\n`;\n  msg += `\u2022 Leads: ${totalLeads}\\n`;\n  msg += `\u2022 Avg CPL: ${totalLeads > 0 ? '$' + avgCPL : 'N/A'}\\n`;\n  msg += `\u2022 Active Ad Sets: ${adsets.length}\\n\\n`;\n\n  msg += `\ud83c\udfc6 *Top Performers*\\n`;\n  for (const [i, a] of top.entries()) {\n    msg += `${i + 1}. ${a.adset}\\n`;\n    msg += `   CPL: ${a.cpl} | CTR: ${a.ctr} | Leads: ${a.leads} | Score: ${a.performance_score}/10\\n`;\n  }\n\n  if (concerns.length > 0) {\n    msg += `\\n\u26a0\ufe0f *Needs Attention*\\n`;\n    for (const a of concerns.slice(0, 3)) {\n      msg += `\u2022 ${a.adset} \u2014 ${a.recommendation} (Score: ${a.performance_score}/10, Leads: ${a.leads})\\n`;\n    }\n  }\n\n  msg += `\\n_This message was sent automatically with n8n_`;\n\n  // Telegram 4096 char limit\n  const maxLen = 3800;\n  messages.push({\n    account_name,\n    report_telegram: msg.length > maxLen ? msg.substring(0, maxLen) + '\\n_[truncated]_' : msg\n  });\n}\n\n// Return one item per account so downstream can send separately\nreturn messages.map(m => ({ json: m }));"
        },
        "id": "format-report",
        "name": "Format Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1568,
          400
        ]
      },
      {
        "parameters": {
          "chatId": "1375806243",
          "text": "={{ $json.report_telegram }}",
          "additionalFields": {
            "parse_mode": "Markdown"
          }
        },
        "id": "send-report-telegram",
        "name": "Send Report to Tyson (Telegram)",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1776,
          160
        ],
        "webhookId": "e50a5032-20a0-4a9d-b6b9-9fe4dcde2ff4",
        "credentials": {
          "telegramApi": {
            "id": "UR6xX8CchGBKaP3h",
            "name": "Flow States Ads Bot"
          }
        }
      },
      {
        "parameters": {
          "operation": "create",
          "base": {
            "__rl": true,
            "mode": "id",
            "value": "AIRTABLE_BASE_ID"
          },
          "table": {
            "__rl": true,
            "mode": "name",
            "value": "Ads Reports"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {}
          },
          "options": {}
        },
        "id": "log-to-airtable",
        "name": "Log Report (Optional)",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1792,
          512
        ],
        "disabled": true
      },
      {
        "parameters": {
          "content": "## Meta Ads Optimisation Agent\n\n**Runs:** Daily at 9am\n**Accounts:** Flow States Retreats + Emma Maidment Business\n**Output:** Email report to Tyson with scored recommendations\n\n**Token:** 60-day expiry \u2014 set a reminder to refresh before expiry date\n\n**To update the token:** Edit the 'Fetch Campaigns' and 'Fetch Ad Insights' nodes and replace the access_token query parameter value.",
          "height": 220,
          "width": 380
        },
        "id": "sticky-note",
        "name": "Setup Notes",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          240,
          80
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "meta-ads-optimisation-trigger",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "opt-webhook-trigger",
        "name": "Webhook Trigger (On-Demand)",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -240,
          0
        ],
        "webhookId": "meta-ads-opt-trigger-001"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\"status\": \"triggered\", \"message\": \"Optimisation report is being generated and will be emailed shortly.\"}",
          "options": {}
        },
        "id": "opt-webhook-respond",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -240,
          208
        ]
      },
      {
        "id": "build-opt-request-001",
        "name": "Build Opt Analysis Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1144,
          400
        ],
        "parameters": {
          "jsCode": "// Build Anthropic API request for optimisation analysis\nconst items = $input.all();\nconst insightsData = items.map(item => item.json);\n\nconst systemPrompt = `You are a Meta Ads performance analyst. Analyse the provided campaign data and deliver a concise, actionable optimisation report. Focus on: top performing campaigns, underperformers, budget recommendations, and 3-5 specific action items. Use clear headings and bullet points. Keep it under 3000 characters for Telegram delivery.`;\n\nconst userMessage = `Analyse this Meta Ads performance data and provide optimisation recommendations:\\n\\n${JSON.stringify(insightsData, null, 2)}`;\n\nreturn [{\n  json: {\n    model: \"claude-opus-4-5\",\n    max_tokens: 1500,\n    system: systemPrompt,\n    messages: [{ role: \"user\", content: userMessage }],\n    insightsData: insightsData\n  }\n}];"
        }
      },
      {
        "id": "http-opt-anthropic-001",
        "name": "AI Optimisation Analysis",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1344,
          400
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "anthropicApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: $json.model, max_tokens: $json.max_tokens, system: $json.system, messages: $json.messages }) }}"
        },
        "credentials": {
          "anthropicApi": {
            "id": "eXhIwRbh7FBgb6O3",
            "name": "Anthropic account 2"
          }
        }
      }
    ],
    "connections": {
      "Daily Schedule (9am)": {
        "main": [
          [
            {
              "node": "Set Date Range & Accounts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Date Range & Accounts": {
        "main": [
          [
            {
              "node": "Split Accounts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Accounts": {
        "main": [
          [
            {
              "node": "Fetch Campaigns",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch Ad Insights",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Campaigns": {
        "main": [
          [
            {
              "node": "Process & Score Insights",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Ad Insights": {
        "main": [
          [
            {
              "node": "Process & Score Insights",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process & Score Insights": {
        "main": [
          [
            {
              "node": "Build Opt Analysis Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Optimisation Analysis": {
        "main": [
          [
            {
              "node": "Format Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Report": {
        "main": [
          [
            {
              "node": "Send Report to Tyson (Telegram)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Log Report (Optional)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger (On-Demand)": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set Date Range & Accounts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Opt Analysis Request": {
        "main": [
          [
            {
              "node": "AI Optimisation Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tyson Venables",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-28T19:05:09.171Z",
        "id": 786,
        "workflowId": "lf955LDteJ512RQi",
        "versionId": "67e4620e-f4b7-4252-9953-cd5f069459d5",
        "event": "activated",
        "userId": "b1512bca-25b8-4b8b-add0-b86540e5144d"
      },
      {
        "createdAt": "2026-04-28T19:05:09.402Z",
        "id": 787,
        "workflowId": "lf955LDteJ512RQi",
        "versionId": "67e4620e-f4b7-4252-9953-cd5f069459d5",
        "event": "activated",
        "userId": "b1512bca-25b8-4b8b-add0-b86540e5144d"
      }
    ]
  }
}