n8n-workflows/vjj2uBIPc07FpIxx-trading-weekly-analyst.json
{
  "id": "vjj2uBIPc07FpIxx",
  "name": "Trading - Weekly Analyst",
  "description": null,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "weekly-schedule",
      "name": "Monday 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://fdabygmromuqtysitodp.supabase.co/rest/v1/trading_positions?created_at=gte.{{ new Date(Date.now() - 7*86400000).toISOString() }}&order=created_at.desc",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": ""
            }
          ]
        }
      },
      "id": "fetch-week-trades",
      "name": "Fetch Week Trades",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        470,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Nd2uuX5t9KEwbQPv",
          "name": "Supabase FSC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const trades = $input.first().json;\nconst arr = Array.isArray(trades) ? trades : [];\n\nconst closed = arr.filter(t => t.status === 'closed');\nconst wins = closed.filter(t => t.close_reason === 'take_profit');\nconst losses = closed.filter(t => t.close_reason === 'stop_loss');\n\nconst summary = {\n  total_trades: arr.length,\n  open: arr.filter(t => t.status === 'open').length,\n  closed: closed.length,\n  wins: wins.length,\n  losses: losses.length,\n  win_rate: closed.length > 0 ? (wins.length / closed.length * 100).toFixed(1) + '%' : 'N/A',\n  trades_detail: arr.map(t => ({\n    market: t.market_id,\n    direction: t.direction,\n    entry: t.entry_price,\n    current: t.current_price,\n    status: t.status,\n    reason: t.close_reason\n  }))\n};\n\nreturn [{ json: summary }];"
      },
      "id": "calculate-stats",
      "name": "Calculate Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 2048, messages: [{ role: 'user', content: 'You are a trading analyst reviewing Polymarket prediction market trades. Review this weekly trading data and provide:\\n\\n1. What the simulation got right/wrong\\n2. Which macro factors were most predictive\\n3. Recommended parameter adjustments (edge threshold, position size)\\n4. Markets to focus on next week\\n\\nTrading data:\\n' + JSON.stringify($json, null, 2) }] }) }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "claude-analysis",
      "name": "Claude Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        910,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LUUeAdpObQjzRbct",
          "name": "Anthropic - QuantumClaw"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fdabygmromuqtysitodp.supabase.co/rest/v1/trading_analyst_reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": ""
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ report: $json.content[0].text, stats: $('Calculate Stats').first().json, week_ending: new Date().toISOString().split('T')[0] }) }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "save-report",
      "name": "Save Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Nd2uuX5t9KEwbQPv",
          "name": "Supabase FSC"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: 1375806243, text: '📊 Weekly Trading Report\\n\\nTrades: ' + $('Calculate Stats').first().json.total_trades + ' | Wins: ' + $('Calculate Stats').first().json.wins + ' | Win Rate: ' + $('Calculate Stats').first().json.win_rate + '\\n\\n' + $('Claude Analysis').first().json.content[0].text.substring(0, 3500) }) }}",
        "options": {}
      },
      "id": "notify-report",
      "name": "Send Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1350,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select public.record_heartbeat('{{ $workflow.id }}'::text, 'started'::text, 'Trading - Weekly Analyst'::text, '{{ $execution.id }}'::text);",
        "options": {}
      },
      "name": "Heartbeat: Start",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        450,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "qGUxEHfEZkZGdAcZ",
          "name": "Supabase Postgres DB"
        }
      },
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "id": "04e5e129-142a-4613-a99d-98c094231dbe"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select public.record_heartbeat('{{ $workflow.id }}'::text, 'success'::text, 'Trading - Weekly Analyst'::text, '{{ $execution.id }}'::text);",
        "options": {}
      },
      "name": "Heartbeat: Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1600,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "qGUxEHfEZkZGdAcZ",
          "name": "Supabase Postgres DB"
        }
      },
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "id": "729ec947-eafd-4be7-82b4-2ce7d289f18e"
    }
  ],
  "connections": {
    "Monday 9am": {
      "main": [
        [
          {
            "node": "Fetch Week Trades",
            "type": "main",
            "index": 0
          },
          {
            "node": "Heartbeat: Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Week Trades": {
      "main": [
        [
          {
            "node": "Calculate Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Stats": {
      "main": [
        [
          {
            "node": "Claude Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Analysis": {
      "main": [
        [
          {
            "node": "Save Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Report": {
      "main": [
        [
          {
            "node": "Send Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heartbeat: Start": {
      "main": [
        []
      ]
    },
    "Send Report": {
      "main": [
        [
          {
            "node": "Heartbeat: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  }
}
