n8n-workflows/backups/trading-executor.PRE-ITEMS9-10-20260724.json
{
    "updatedAt": "2026-07-24T08:41:28.398Z",
    "createdAt": "2026-04-03T11:49:20.217Z",
    "id": "fq7spfyiNcpt8Mf7",
    "name": "Trading - Trade Executor",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "id": "exec-webhook",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "position": [
                192,
                304
            ],
            "webhookId": "trading-execute",
            "parameters": {
                "path": "trading-execute",
                "options": {},
                "httpMethod": "POST",
                "responseMode": "responseNode"
            },
            "typeVersion": 2
        },
        {
            "id": "fetch-config",
            "name": "Fetch Config",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                528,
                304
            ],
            "parameters": {
                "url": "https://fdabygmromuqtysitodp.supabase.co/rest/v1/trading_config?id=eq.1",
                "options": {},
                "authentication": "genericCredentialType",
                "genericAuthType": "httpCustomAuth"
            },
            "credentials": {
                "httpCustomAuth": {
                    "id": "q309m8yfLKGxywMb",
                    "name": "Supabase Service Role (main)"
                }
            },
            "typeVersion": 4.2
        },
        {
            "id": "check-enabled",
            "name": "Trading Enabled?",
            "type": "n8n-nodes-base.if",
            "position": [
                704,
                304
            ],
            "parameters": {
                "options": {},
                "conditions": {
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "trading-on",
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            },
                            "leftValue": "={{ $json[0]?.trading_enabled === true || $json[0]?.trading_enabled === 'true' }}",
                            "rightValue": true
                        }
                    ]
                }
            },
            "typeVersion": 2
        },
        {
            "id": "prepare-trade",
            "name": "Prepare Trade",
            "type": "n8n-nodes-base.code",
            "position": [
                912,
                208
            ],
            "parameters": {
                "jsCode": "const body = $('Webhook Trigger').first().json.body;\nconst config = $('Fetch Config').first().json;\nconst configRow = Array.isArray(config) ? config[0] : config;\n\nconst marketId = body.market_id;\nconst direction = body.direction || 'YES';\nconst amount = Math.min(parseFloat(body.amount_usdc || 10), parseFloat(configRow.max_position_usdc || 25));\n\nreturn [{ json: { marketId, direction, amount, simulationId: body.simulation_id || null } }];"
            },
            "typeVersion": 2
        },
        {
            "id": "execute-trade",
            "name": "Execute Trade",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                1136,
                208
            ],
            "parameters": {
                "url": "https://agentboardroom.flowos.tech/api/trading/execute",
                "method": "POST",
                "options": {
                    "timeout": 30000
                },
                "jsonBody": "={{ JSON.stringify({ market_id: $json.marketId, direction: $json.direction, amount: $json.amount }) }}",
                "sendBody": true,
                "sendHeaders": true,
                "specifyBody": "json",
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.QCLAW_API_TOKEN }}"
                        }
                    ]
                }
            },
            "typeVersion": 4.2
        },
        {
            "id": "save-position",
            "name": "Save Position",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                1360,
                208
            ],
            "parameters": {
                "url": "https://fdabygmromuqtysitodp.supabase.co/rest/v1/trading_positions",
                "method": "POST",
                "options": {},
                "jsonBody": "={{ JSON.stringify({ market_id: $(\"Prepare Trade\").first().json.marketId, direction: $(\"Prepare Trade\").first().json.direction, amount_usdc: $(\"Prepare Trade\").first().json.amount, entry_price: 0, status: \"open\", simulation_id: $(\"Prepare Trade\").first().json.simulationId, trade_response: $json }) }}",
                "sendBody": true,
                "sendHeaders": true,
                "specifyBody": "json",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpCustomAuth",
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                }
            },
            "credentials": {
                "httpCustomAuth": {
                    "id": "q309m8yfLKGxywMb",
                    "name": "Supabase Service Role (main)"
                }
            },
            "typeVersion": 4.2
        },
        {
            "id": "notify-trade",
            "name": "Notify Trade",
            "type": "n8n-nodes-base.httpRequest",
            "position": [
                1584,
                208
            ],
            "parameters": {
                "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
                "method": "POST",
                "options": {},
                "jsonBody": "={{ JSON.stringify({ chat_id: 1375806243, text: \"🎯 Trade Executed\\n\\nMarket: \" + $(\"Prepare Trade\").first().json.marketId + \"\\nDirection: \" + $(\"Prepare Trade\").first().json.direction + \"\\nAmount: $\" + $(\"Prepare Trade\").first().json.amount }) }}",
                "sendBody": true,
                "specifyBody": "json"
            },
            "typeVersion": 4.2
        },
        {
            "id": "respond-ok",
            "name": "Respond OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "position": [
                1792,
                208
            ],
            "parameters": {
                "options": {},
                "respondWith": "text",
                "responseBody": "={{ JSON.stringify({ success: true }) }}"
            },
            "typeVersion": 1.1
        },
        {
            "id": "respond-disabled",
            "name": "Respond Disabled",
            "type": "n8n-nodes-base.respondToWebhook",
            "position": [
                912,
                464
            ],
            "parameters": {
                "options": {},
                "respondWith": "text",
                "responseBody": "{{ JSON.stringify({ error: \"Trading disabled\" }) }}"
            },
            "typeVersion": 1.1
        },
        {
            "id": "validate-secret",
            "name": "Validate Secret",
            "type": "n8n-nodes-base.code",
            "position": [
                384,
                304
            ],
            "parameters": {
                "jsCode": "const secret = $input.first().json.headers?.['x-trading-secret'];\nconst validSecret = $env.TRADING_WEBHOOK_SECRET;\nif (secret !== validSecret) {\n  throw new Error('Unauthorized');\n}\nreturn $input.all();"
            },
            "typeVersion": 2
        },
        {
            "id": "a32eb3ad-9b86-4a31-a127-2316243a0118",
            "name": "Edge OK?",
            "type": "n8n-nodes-base.if",
            "position": [
                448,
                460
            ],
            "parameters": {
                "options": {},
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "loose"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "edge-ok",
                            "operator": {
                                "type": "number",
                                "operation": "gte"
                            },
                            "leftValue": "={{ parseFloat($json.body.edge || 0) }}",
                            "rightValue": "={{ $('Fetch Config').first().json[0].min_edge_threshold / 100 }}"
                        }
                    ]
                }
            },
            "typeVersion": 2
        },
        {
            "id": "af262830-4bce-4b30-9963-02b132a3158c",
            "name": "Respond Rejected",
            "type": "n8n-nodes-base.respondToWebhook",
            "position": [
                448,
                640
            ],
            "parameters": {
                "options": {
                    "responseCode": 400
                },
                "respondWith": "text",
                "responseBody": "={{ JSON.stringify({ error: 'edge_below_threshold', edge: parseFloat($json.body.edge || 0), min_edge: $('Fetch Config').first().json[0].min_edge_threshold / 100 }) }}"
            },
            "typeVersion": 1.1
        }
    ],
    "connections": {
        "Edge OK?": {
            "main": [
                [
                    {
                        "node": "Fetch Config",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Rejected",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Config": {
            "main": [
                [
                    {
                        "node": "Trading Enabled?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Notify Trade": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute Trade": {
            "main": [
                [
                    {
                        "node": "Save Position",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Trade": {
            "main": [
                [
                    {
                        "node": "Execute Trade",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Position": {
            "main": [
                [
                    {
                        "node": "Notify Trade",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Secret": {
            "main": [
                [
                    {
                        "node": "Edge OK?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Validate Secret",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Trading Enabled?": {
            "main": [
                [
                    {
                        "node": "Prepare Trade",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Disabled",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false,
        "errorWorkflow": "7kpNnMtnuDWXgWcX"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "906b803b-f9a6-488c-9e94-75ab38422872",
    "activeVersionId": null,
    "versionCounter": 75,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-04-03T11:49:20.217Z",
            "createdAt": "2026-04-03T11:49:20.217Z",
            "role": "workflow:owner",
            "workflowId": "fq7spfyiNcpt8Mf7",
            "projectId": "KwpTDWcFWL3DfyW3",
            "project": {
                "updatedAt": "2026-04-08T20:28:08.726Z",
                "createdAt": "2025-06-06T11:27:14.830Z",
                "id": "KwpTDWcFWL3DfyW3",
                "name": "Tyson Venables <tysonvenables@protonmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "b1512bca-25b8-4b8b-add0-b86540e5144d",
                "projectRelations": [
                    {
                        "updatedAt": "2025-06-06T11:27:14.830Z",
                        "createdAt": "2025-06-06T11:27:14.830Z",
                        "userId": "b1512bca-25b8-4b8b-add0-b86540e5144d",
                        "projectId": "KwpTDWcFWL3DfyW3",
                        "user": {
                            "updatedAt": "2026-07-24T08:41:12.321Z",
                            "createdAt": "2025-06-06T11:27:13.858Z",
                            "id": "b1512bca-25b8-4b8b-add0-b86540e5144d",
                            "email": "tysonvenables@protonmail.com",
                            "firstName": "Tyson",
                            "lastName": "Venables",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2025-06-06T11:42:52.454Z",
                                "personalization_survey_n8n_version": "1.95.3",
                                "companySize": "<20",
                                "companyType": "saas",
                                "role": "business-owner",
                                "reportedSource": "friend"
                            },
                            "settings": {
                                "userActivated": true,
                                "easyAIWorkflowOnboarded": true,
                                "firstSuccessfulWorkflowId": "WVXrFCjb8wO7RWRX",
                                "userActivatedAt": 1751062185356,
                                "npsSurvey": {
                                    "responded": true,
                                    "lastShownAt": 1769430963515
                                }
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-07-24",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": null
}
