docs/n8n-qclaw-router-workflow.json
{
  "name": "QClaw Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qclaw-router",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "qclaw-router"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-auth",
              "leftValue": "={{ $json.headers['x-qclaw-token'] }}",
              "rightValue": "={{ $credentials.httpHeaderAuth.value }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Validate Token",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qclaw-token",
          "name": "QClaw Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: \"Unauthorized\", message: \"Invalid or missing X-QCLAW-TOKEN\" }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 480]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "social",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "social"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "contact",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "contact"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "content",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "content"
            }
          ],
          "fallbackOutput": {
            "isEnabled": true,
            "renameOutput": "default"
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.flowos.tech/webhook/qclaw-social",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Forward Social",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 140]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: \"ok\", action: \"contact\", message: \"Use GHL skill directly\" }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Contact Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [920, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.flowos.tech/webhook/qclaw-social",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Forward Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: \"error\", message: \"Unknown action: \" + ($json.body.action || \"(none)\") }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Unknown Action",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [920, 620]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: \"ok\", action: \"social\", result: $json }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Respond Social",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1160, 140]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: \"ok\", action: \"content\", result: $json }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Respond Content",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1160, 460]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Token": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Forward Social",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Contact Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward Social": {
      "main": [
        [
          {
            "node": "Respond Social",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward Content": {
      "main": [
        [
          {
            "node": "Respond Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "QClaw",
      "id": "qclaw"
    }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
